<div #parentDiv style="background-color: white; color: black;align-content: center;" (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)" (window:resize)="onResize($event)">
    <div style="display: flex; width: 100%; margin-top: 1em;">
        <!-- Left side filters -->
        <div [@filterStatus]="filterToggler" style="vertical-align: top;" [style.width.px]="filterWidth">
                <app-filters [md]="record" [searchValue]='searchValue' [searchTaxonomyKey]='searchTaxonomyKey' [filterWidthNum]="filterWidth" [parent]="parentDiv" [mobileMode]="mobileMode" (filterMode)="updateWidth($event)" (filterString)="updateFilterString($event)"></app-filters>

        </div>

        <!-- Drag bar to resize the filter panel -->
        <div *ngIf="!mobileMode" class="splitter" (mousedown)="onMousedown($event)" (mouseup)="onMouseUp($event)">
            <div id="separator">||</div>
        </div>
        
        <!-- Search result list -->
        <div style="vertical-align: top;margin-top: -3em;" [style.width.px]="resultWidth">
                <app-resultlist [md]="record" [searchValue]='searchValue' [searchTaxonomyKey]='searchTaxonomyKey' [mobWidth]="mobWidth" [filterString]="filterString"></app-resultlist>
        </div>
    </div>
</div>