.search-result {
    /* display: inline-block; */
    vertical-align: top;
    /* padding-bottom: 100%;
    margin-bottom: -100%; */
    /* margin-left: 20px; */
    /* height: auto; */
}

.filter {
    /* display: inline-block;  */
    vertical-align: top;
    /* padding-bottom: 100%;
    margin-bottom: -100%; 
    margin-left: -20px;
    margin-right: -20px; */
}

#right_panel {
    position: absolute;
    width: 96px;
    padding-left: 4px;
    height: 100%;
    right: 0;
    background-color: #f0f0ff;
}

#right_panel::after {
    content: '';
    background-color: #ccc;
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    cursor: ew-resize;
}