<div #parentDiv style="background-color: white; color: black;align-content: center;">
    <div style="display: flex; width: 100%; margin-top: 1em;">
        <div [@filterStatus]="filterToggler" style="vertical-align: top;width: 35%;">
                <app-filters [searchValue]='searchValue' [searchTaxonomyKey]='searchTaxonomyKey' [filterWidthNum]="filterWidth" [parent]="parentDiv" [mobileMode]="mobileMode" [theme]="theme" (filterMode)="updateWidth($event)" (filterString)="updateFilterString($event)"></app-filters>

        </div>
        <!-- <div style="margin-left: 5px;font-size:x-large;cursor: col-resize;">||</div> -->
        <div style="vertical-align: top;margin-top: -3em;width: auto;">

                <app-resultlist [md]="record" [searchValue]='searchValue' [searchTaxonomyKey]='searchTaxonomyKey' [currentPage]="page" [mobWidth]="mobWidth" [theme]="theme" [filterString]="filterString"></app-resultlist>

        </div>
    </div>

</div>