<div class="ui-grid ui-grid-responsive ui-grid-pad center" style="min-height:61vh;">
    <div class="" style="padding: 2.5rem 2.5rem 2.5rem 2.5rem">
      <label class="labelStyle" style="margin-bottom: 1em;">Bulk Downloads for Large Collections (Placeholder)</label>
      <div class="bodyTextSize">
      <p>
        The current implementation of the PDR’s Data Cart is not scaling well to large collections.  This page addresses the way to bulk-download large collections of data.  
      </p>
      <p>
        The PDR is designed as a <b>trusted repository</b>, one which complies with long term data preservation and publication
        standards.   It is built using community open source software (See
        <a href="https://github.com/usnistgov/oar-developer">Github repository</a> for more details).
        Each record has a persistent identifier,  and may be viewed on a unique web <b>“landing page”</b> which includes user-friendly and readable views
        of key  metadata, high level terms which detail the nature of the record dataset.
        Additionally the PDR landing page provides access to Download public data files and citation (See <b>NIST</b><a href="https://www.nist.gov/topics/data/public-access-nist-research/copyright-fair-use-and-licensing-statements-srd-data-and"> <b> Fair Use
          Policy and Citation</b>)</a>.
      </p>
      <p class="smlabelStyle">The NIST PDR provides the following capabilities:</p>
      <ul style="background-color:#F2F2F2">
        <i>
      <li>Search and Navigation for NIST public datasets</li>
      <li>Citation for data with persistent Digital Object Identifiers (DOIs)</li>
      <li>Find related data publications</li>
      <li>Access to Download data files</li>
      <li>Interoperability through machine readable standard data format and protocol</li>
      <li>Long term digital preservation</li>
        </i>
      </ul>
  
      <p>
        The top right banner “Search”
        navigates to the <a href="https://data.nist.gov"><b>NIST Science Data Portal</b></a> where users may discover data
      of interest and perform advanced queries.  Each PDR record includes descriptive information (metadata) about a
      public data resource and is also an entry in the NIST bureau Enterprise Data Inventory.  Records may be searched
      via the <a href="https://data.nist.gov/sdp/#/api"><b>API</b></a>, and are also available in a machine-readible standard
      open data format and are compliant with <a href="https://resources.data.gov">Federal Data resource guidance </a>.  
      </p>
      </div>
    </div>
  </div>
  