#copy-to-clipboard {
    margin-left: .5em;
}

.anchor-button {
  border: 1px solid white; /* Set border color to black */
  color: white; /* Set text color to black */
  text-decoration: none; /* Remove underline */
  margin-right: 10px;
  text-align: left;
  background-color:var(--nist-blue-default);
  cursor: pointer;
  border-radius: 8px;
  height: 40px;
}
