<div class="ui-grid ui-grid-responsive ui-grid-pad center" style="min-height:61vh;">
    <div class="" style="padding: 2.5rem 2.5rem 2.5rem 2.5rem">
        <label class="labelStyle" style="margin-bottom: 1em;">Dataset Bulk Downloads</label>
        <div class="bodyTextSize">
            <p>
                The NIST Public Data Repository allows users to download a single data file from a dataset by clicking 
                on the download icon (<span class="faa faa-download" style="color: '#1E6BA1';padding-left: 2px;padding-right: 3px;"></span>) to the right of file's name in the file listing; 
                however, more often you will want to download many files from the dataset.  
            </p>
            <p>
                There are a few options to download files in bulk:
            </p>

            <ul>
            <li> <span class="linked-text" (click)="goToSection('downloadAll')">Downloading all files with the Data Cart (for fewer than 300 files)</span> </li>
            <li> <span class="linked-text" (click)="goToSection('addToCart')">Downloading a subset of files with the Data Cart </span></li>
            <li> <span class="linked-text" (click)="goToSection('pyscript')">Download data using the Python script, pdrdownload.py -- <span style="color: red;">recommended for datasets with more than 300 files</span> </span></li>
            <li> <span class="linked-text" (click)="goToSection('downloadAPI')">Programmatic access to NIST data products </span></li>
            </ul>

            <a name="download-all" #downloadall></a>
            <p class="smlabelStyle">Download all files through the Data Cart</p>

            <div>        
                For smaller datasets, all the files can be easily downloaded through the browser using the PDR Data
                Cart. On the dataset's home page, just click on the "Download-All" icon
                ( 
                <span style="color: '#1E6BA1';padding-left: 2px;padding-right: 3px;"> <i class="faa faa-download" aria-hidden="true"></i>
                    <i class="faa faa-circle-thin" aria-hidden="true" style="scale: 1.7;margin-left: -17px;"></i>
                </span>
                ) above and to the left of the file listing.
                This will open a Data Cart (in a separate tab) with all of files from the dataset in it.  You
                will see a spinner icon in that page as it prepares the download.  Eventually, it will show you a
                list of one or more zip files containing the files from the dataset.  Click the "Start Download"
                button to start downloading those Zip files.  
            </div>

            <p>
            <a name="add-to-cart" #addtocart></a>
            <p class="smlabelStyle">Download selected portions of a dataset with the Data Cart</p>
            <p>
                In the PDR, you have a general Data Cart available for downloading in bulk a variety of files from
                multiple datasets. To use this feature, add files or folders of files from a dataset to your cart
                by clicking on "Add-to-Cart" icons
                (<span class="faa faa-cart-plus green-cart" style="color: '#1E6BA1';padding-left: 2px;padding-right: 3px;"></span>) on the right side of
                the file listing.  Alternatively, add all the files from a dataset to your cart by clicking the
                "Add-all-to-Cart" icon
                (<span style="color: '#1E6BA1';padding-left: 5px;padding-right: 8px;"> <i class="faa faa-cart-plus" aria-hidden="true"></i>
                <i class="faa faa-circle-thin" aria-hidden="true" style="scale: 1.7;margin-left: -17px;"></i>
                </span>) above and to the left of the file listing.  
            </p>
            <p>
                After adding the files of interest, you can open up your view of the Cart by clicking either the
                "Cart" link in the most top-right corner of any dataset's home page or the "Data Cart" link in the
                navigation bar on the right side of the dataset's page.  You will see a listing of the files and
                folders you have added to the cart.  You can browse list, download individual files, or select the
                files you wish to download in bulk by clicking the selection boxes at the left.  Click to the
                "Download Selected" button to prepare download.  Like withe the "download-all" feature, a pop-up
                will show you a list of one or more Zip files containing the selected files; click the "Start
                Download" to start the actual download.
            </p>


            <a name="pyscript" #pyscript></a>
            <p class="smlabelStyle">Downloading large datasets using the Python script, pdrdownload.py</p>
            <p style="margin-left: 2em;">
      <a href="{{pdrbase}}od/tools/pdrdownload.py"
         target="_blank"
         rel="noopener"
         icon="faa faa-download"
         label="Download pdrdownload.py"
         class="anchor-button p-button">Download pdr-download.py
      </a>
            <code style="padding-left: 1em;">This script requires Python 3.8 or higher</code>
            </p>
            <p>
When PDR demand is high and the dataset you want to download contains a large number of files, the
Data Cart will struggle to provide the data.  When the number of files is larger than about 300, we
recommend you try using
<span [ngClass]="{'highlight': downloadscriptCopied}"><a href="{{pdrbase}}od/tools/pdrdownload.py">pdrdownload.py</a></span>,
a Python script that will conveniently and reliably download data from the PDR.  For users that can
run a python script, this script has several advantages:
            </p>
            <ul>
                <li> It displays a preview of number of files and total number of bytes. </li>
                <li> It downloads files into the same folder hierarchy as seen in dataset home
                     page file listing.</li>
                <li> It automatically checks that files downloaded with out error or corruption. </li>
                <li> Restarting the script will resume file downloads after an interruption. </li>
            </ul>
            <p>
                To see a preview of what you will be downloading from your dataset, type:
            </p>

            <div style="margin: 1em 0em;" id="cite">
                <span
                    style="margin-left: 35px;" 
                    [ngClass]="{'highlight': previewCopied}" 
                    [@enterAnimation]>
                    {{previewCommand}}
                </span>
                <span 
                    id="copy-to-clipboard" 
                    (click)="copyToClipboard(previewCommand, 'preview')" 
                    data-toggle="tooltip" 
                    title="Copy to clipboard">
                    <i class="faa faa-clone" style="color: rgb(1, 90, 255);cursor: pointer;"></i>
                </span>
                <span 
                    [@enterAnimation]
                    *ngIf="previewCopied" 
                    class="badge"
                    style="background-color:#f0f0f0; margin-left: 0.5em; color: black;">
                    Command copied to clipboard.
                </span>
            </div>

            <p>
                This will construct and save locally a list of the files in the dataset with the identifier,
                <code>{{ ediid }}</code>, and it will display the total number of files and the total number of bytes 
                available as part of this dataset.  
            </p>
            <p>
                To start the download, type:
            </p>

            <div style="margin: 1em 0em;" id="cite">
                <span
                    style="margin-left: 35px;" 
                    [ngClass]="{'highlight': startDownloadCopied}" 
                    [@enterAnimation]>
                    {{startDownloadCommand}}
                </span>
                <span 
                    id="copy-to-clipboard" 
                    (click)="copyToClipboard(startDownloadCommand, 'startDownload')" 
                    data-toggle="tooltip" 
                    title="Copy to clipboard">
                    <i class="faa faa-clone" style="color: rgb(1, 90, 255);cursor: pointer;"></i>
                </span>
                <span 
                    [@enterAnimation]
                    *ngIf="startDownloadCopied" 
                    class="badge"
                    style="background-color:#f0f0f0; margin-left: 0.5em; color: black;">
                    Command copied to clipboard.
                </span>
            </div>

            <p>
                The script has other useful features like downloading subsets, more verbose output, and others.  To
                see the full list of options available, type:
            </p>

            <div style="margin: 1em 0em;" id="cite">
                <span
                    style="margin-left: 35px;" 
                    [ngClass]="{'highlight': helpCopied}" 
                    [@enterAnimation]>
                    {{helpCommand}}
                </span>
                <span 
                    id="copy-to-clipboard" 
                    (click)="copyToClipboard(helpCommand, 'help')" 
                    data-toggle="tooltip" 
                    title="Copy to clipboard">
                    <i class="faa faa-clone" style="color: rgb(1, 90, 255);cursor: pointer;"></i>
                </span>
                <span 
                    [@enterAnimation]
                    *ngIf="helpCopied" 
                    class="badge"
                    style="background-color:#f0f0f0; margin-left: 0.5em; color: black;">
                    Command copied to clipboard.
                </span>
            </div>

            <p></p>
                <a name="download-api" #downloadAPI></a>
                <p class="smlabelStyle">Programmatic access to NIST data products</p>
<p>
The NIST Public Data Repository API interface allows users to create their own scripts for downloading 
files in bulk.  In particular, one can download
<a href="{{pdrbase}}od/id/{{ediid}}?format=nerdm">a JSON-encoded metadata description of a dataset</a> 
which provides the URLs for downloadable files along with other useful information for tracking the data.
</p>
<!--
<p>
Your custom script can follow a recipe like this to download the files:
</p>
<ol>
  <li> Download the dataset's JSON metadata with the URL,
       <a href="{{pdrbase}}od/id/{{ediid}}?format=nerdm">{{pdrbase}}od/id/{{ediid}}?format=nerdm</a>.</li>
  <li> In the metadata, extract value of the <code>components</code> property, a list of the things
       contained in the dataset, including downloadable files. </li>
  <li> From the <code>components</code> list, selected out the objects whose <code>@type</code> property
       contains <code>nrdp:DataFile</code>. </li>
  <li> From each file object, extract the download URL and other useful properties; these include:
       <ul>
         <li> <code>downloadURL</code> -- the URL you use to download the file </li>
         <li> <code>filepath</code> -- the /-delimited path name the spells out its location in the
              file folder hierarchy; use this as a location to store the file locally. </l>
         <li> <code>size</code> -- the size of the file in bytes </li>
         <li> <code>checksum</code> -- an object that provides a checksum value that can be used to verify
              the download was successful.  The <code>hash</code> sub-property provides the actual
              checksum hash value, and the <code>algorithm</code> indicates the checksum algorithm that was 
              used to calculate the hash (e.g. <code>sha256</code>).
       </ul>
  <li> Use the download URL to download each available file. </li>
</ol>
 -->

        </div>
    </div>
</div>
