<div class="ui-grid ui-grid-responsive ui-grid-pad center" style="min-height:61vh;">
    <div class="" style="padding: 2.5rem 2.5rem 2.5rem 2.5rem">
      <label class="labelStyle" style="margin-bottom: 1em;">Downloading Dataeset Files in Bulk</label>
      <div class="bodyTextSize">
      <p>
You can download a single data file from a dataset by clicking on the download icon
(<span class="faa faa-download" style="color: '#1E6BA1';"></span>) to the right of file's name in the file listing; however,
more often you will want many files from the dataset, so the bulk download features of the PDR are
more helpful.
      </p>
      <p>
You download files in bulk in a few ways:
      </p>
<ul>
  <li> <a href="#download-all">Downloading all files with the Data Cart</a> </li>
  <li> <a href="#add-to-cart">Downloading a subset of files with the Data Cart</a> </li>
  <li> <a href="#pyscript">Download data with the <code>pdrdownload.py</code> script</a> (necessary
       for large datasets) </li>
</ul>
      <p class="smlabelStyle">Downloading large datasets with <code>pdrdownload.py</code></p>
      <p>
When PDR demand is high and the dataset you want to download contains a large number of files, the
Data Cart will struggle to provide the data.  When the number of files is larger than about 300, we
recommend you try using <a href="{{pdrbase}}od/tools/pdrdownload.py">pdrdownload.py</a>, a Python scripts that
will conveniently and reliably download data from the PDR.  For users that can run a python script,
this script has several advantages:
      </p>
<ul>
  <li> It can give you preview of what you'll be downloading, showing the number of files and total
       number of bytes. </li>
  <li> Files are downloaded into the same folder hierarchy that you see on the dataset home
       page. </li>
  <li> The script automatically checks to ensure that each file download was successful, fully
       matching the original file on our servers. </li>
  <li> If the download process is interrupted for any reason, the scripts can be rerun, and it will
       pick up where it left off. </li>
</ul>
      <p>
To run this script, you must have at least Python 3.8 installed on the computer where you will be
download data to. 
      </p>
      <p>
To see a preview of what you will be downloading from your dataset, type:
      </p>

<div style="margin: 1em 0em;" id="cite">
    <span
        style="margin-left: 35px;" 
        [ngClass]="{'highlight': previewCopied}" 
        [@enterAnimation]>
        {{previewCommand}}
    </span>
    <span 
        id="copy-to-clipboard" 
        (click)="copyToClipboard(previewCommand, 'preview')" 
        data-toggle="tooltip" 
        title="Copy to clipboard">
        <i class="faa faa-clone" style="color: rgb(1, 90, 255);cursor: pointer;"></i>
    </span>
    <span 
        [@enterAnimation]
        *ngIf="previewCopied" 
        class="badge"
        style="background-color:#f0f0f0; margin-left: 0.5em; color: black;">
        Command copied to clipboard.
    </span>
</div>

      <p>
This will construct and save locally a list of the files in the dataset with the identifier,
<code>{{ ediid }}</code>, and it will display the total number of files and the total number of bytes 
available as part of this dataset.  
      </p>
      <p>
To start the download, type:
      </p>

      <div style="margin: 1em 0em;" id="cite">
        <span
            style="margin-left: 35px;" 
            [ngClass]="{'highlight': startDownloadCopied}" 
            [@enterAnimation]>
            {{startDownloadCommand}}
        </span>
        <span 
            id="copy-to-clipboard" 
            (click)="copyToClipboard(startDownloadCommand, 'startDownload')" 
            data-toggle="tooltip" 
            title="Copy to clipboard">
            <i class="faa faa-clone" style="color: rgb(1, 90, 255);cursor: pointer;"></i>
        </span>
        <span 
            [@enterAnimation]
            *ngIf="startDownloadCopied" 
            class="badge"
            style="background-color:#f0f0f0; margin-left: 0.5em; color: black;">
            Command copied to clipboard.
        </span>
    </div>

      <p>
The script has other useful features like downloading subsets, more verbose output, and others.  To
see the full list of options available, type:
      </p>

      <div style="margin: 1em 0em;" id="cite">
        <span
            style="margin-left: 35px;" 
            [ngClass]="{'highlight': helpCopied}" 
            [@enterAnimation]>
            {{helpCommand}}
        </span>
        <span 
            id="copy-to-clipboard" 
            (click)="copyToClipboard(helpCommand, 'help')" 
            data-toggle="tooltip" 
            title="Copy to clipboard">
            <i class="faa faa-clone" style="color: rgb(1, 90, 255);cursor: pointer;"></i>
        </span>
        <span 
            [@enterAnimation]
            *ngIf="helpCopied" 
            class="badge"
            style="background-color:#f0f0f0; margin-left: 0.5em; color: black;">
            Command copied to clipboard.
        </span>
    </div>

      <p class="smlabelStyle">Download all files through the Data Cart</p>
      <!-- <p> -->
<div>        
For smaller datasets, all the files can be easily downloaded through the browser using the PDR Data
Cart. On the dataset's home page, just click on the "Download-All" icon
( 
<span style="color: '#1E6BA1';"> <i class="faa faa-download" aria-hidden="true"></i>
    <i class="faa faa-circle-thin" aria-hidden="true" style="scale: 1.7;margin-left: -17px;"></i>
</span>
) above and to the left of the file listing.
This will open the a Data Cart (in a separate tab) with all of files from the dataset in it.  You
will see a spinner icon in that page as it prepares the download.  Eventually, it will show you a
list of one or more zip files containing the files from the dataset.  Click the "Start Download"
button to start downloading those Zip files.  
</div>
<p>
      <p class="smlabelStyle">Download selected portions of a dataset with the Data Cart</p>
      <p>
In the PDR, you have a general Data Cart available for downloading in bulk a variety of files from
multiple datasets. To use this feature, add files or folders of files from a dataset to your cart
either by clicking on "Add-to-Cart" icons (<span class="faa faa-cart-plus green-cart" style="color: '#1E6BA1';"></span>) on
the right side of the file listing.  Alternatively, add all the files from a dataset to your cart by
clicking the "Add-all-to-Cart" icon (
<span style="color: '#1E6BA1';"> <i class="faa faa-cart-plus" aria-hidden="true"></i>
    <i class="faa faa-circle-thin" aria-hidden="true" style="scale: 1.7;margin-left: -17px;"></i>
</span>
) above and to
the left of the file listing.  
      </p>
      <p>
After adding the files of interest, you can open up your view of the Cart by clicking either the
"Cart" link in the most top-right corner of any dataset's home page or the "Data Cart" link in the
navigation bar on the right side of the dataset's page.  You will see a listing of the files and
folders you have added to the cart.  You can browse list, download individual files, or select the
files you wish to download in bulk by clicking the selection boxes at the left.  Click to the
"Download Selected" button to prepare download.  Like withe the "download-all" feature, a pop-up
will show you a list of one or more Zip files containing the selected files; click the "Start
Download" to start the actual download.
      </p>
      </div>
    </div>
  </div>
  