:host ::ng-deep .rightMenuStyle > .p-menu .p-submenu-header{
  background-color:#2C8034;
  padding: 2%;
  padding-left: 5%;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 3px;
}

:host ::ng-deep .rightMenuStyle > .p-menu  .p-menuitem-link  .p-state-hover{
  line-height: 1em;
  min-height: 1em;
  background-color: #e7f0f6;
  word-wrap: break-word;
  font-family: 'Sans-Serif';
  font-size: 14px;
}

:host ::ng-deep .rightMenuStyle > .p-menu  .p-menuitem{
  line-height: 1em;
  min-height: 1em;
  /* background-color:  #e7f0f6; */
  background-color: #F0FAF1;
  word-wrap: break-word;
  font-family: sans-serif;
  font-size: 14px;
  padding: 0;
}

:host ::ng-deep .rightMenuStyle > .p-menu .p-menuitem-link{
  padding: 0.5em 0.2em 0.5em 0.5em;
  font-family:  sans-serif;
  font-size: 14px;
}
:host ::ng-deep .rightMenuStyle > .p-menu{
  width: 100%;
}

:host ::ng-deep .rightMenuStyle > .p-menu  .p-menuitem-link:hover {
  background-color: #ffffff;
  color: #000000;
}

:host ::ng-deep .rightMenuStylePop  > .p-menu {
  position: absolute;
  width: 12em;
  word-wrap: break-word;
  font-family: sans-serif;

}
:host ::ng-deep .rightMenuStylePop > .p-menu .p-menuitem-link{
  padding: 0.5em 0.2em 0.5em 0.5em;
  font-size: 14px;
}

:host ::ng-deep .rightMenuStylePop > .p-menu  .p-menuitem{
  line-height: 1em;
  min-height: 1em;
  /* background-color:  #e7f0f6; */
  background-color: #F0FAF1;
  word-wrap: break-word;
  font-family: sans-serif;
  font-size: 14px;
  padding: 0;
}

:host ::ng-deep .rightMenuStylePop > .p-menu  .p-menuitem-link  .p-state-hover{
  line-height: 1em;
  min-height: 1em;
  background-color: #e7f0f6;
  word-wrap: break-word;
  font-family: 'Sans-Serif';
  font-size: 14px;
}

:host ::ng-deep .rightMenuStylePop > .p-menu .p-submenu-header {
  background-color:#2C8034;
  padding: 2%;
  padding-left: 5%;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 3px;
}

:host ::ng-deep .rightMenuStylePop > .p-menu .p-submenu-header{
  padding: 0.5em 0.2em 0.5em 0.5em;
  font-size: 14px;
}


:host ::ng-deep .rightMenuStyleST > .p-menu .p-submenu-header{
    background-color:#019fbb;
    padding: 2%;
    padding-left: 5%;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 3px;
  }
  
  :host ::ng-deep .rightMenuStyleST > .p-menu  .p-menuitem-link  .p-state-hover{
    line-height: 1em;
    min-height: 1em;
    background-color: #e7f0f6;
    word-wrap: break-word;
    font-family: 'Sans-Serif';
    font-size: 14px;
  }
  
  :host ::ng-deep .rightMenuStyleST > .p-menu  .p-menuitem{
    line-height: 1em;
    min-height: 1em;
    /* background-color:  #abd7f5; */
    background-color: var(--science-theme-background-light);
    word-wrap: break-word;
    font-family: sans-serif;
    font-size: 14px;
    padding: 0;
  }
  
  :host ::ng-deep .rightMenuStyleST > .p-menu .p-menuitem-link{
    padding: 0.5em 0.2em 0.5em 0.5em;
    font-family:  sans-serif;
    font-size: 14px;
  }
  :host ::ng-deep .rightMenuStyleST > .p-menu{
    width: 100%;
  }
  
  :host ::ng-deep .rightMenuStyleST > .p-menu  .p-menuitem-link:hover {
    background-color: #ffffff;
    color: #000000;
  }
  
  :host ::ng-deep .rightMenuStylePopST  > .p-menu {
    position: absolute;
    width: 12em;
    word-wrap: break-word;
    font-family: sans-serif;
  
  }
  :host ::ng-deep .rightMenuStylePopST > .p-menu .p-menuitem-link{
    padding: 0.5em 0.2em 0.5em 0.5em;
    font-size: 14px;
  }
  
  :host ::ng-deep .rightMenuStylePopST > .p-menu  .p-menuitem{
    line-height: 1em;
    min-height: 1em;
    /* background-color:  #e7f0f6; */
    background-color: #f0f8fa;
    word-wrap: break-word;
    font-family: sans-serif;
    font-size: 14px;
    padding: 0;
  }
  
  :host ::ng-deep .rightMenuStylePopST > .p-menu  .p-menuitem-link  .p-state-hover{
    line-height: 1em;
    min-height: 1em;
    background-color: #e7f0f6;
    word-wrap: break-word;
    font-family: 'Sans-Serif';
    font-size: 14px;
  }

  :host ::ng-deep .rightMenuStylePopST > .p-menu .p-submenu-header {
    background-color:#019fbb;
    padding: 2%;
    padding-left: 5%;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 3px;
  }
  
  :host ::ng-deep .rightMenuStylePopST > .p-menu .p-submenu-header{
    padding: 0.5em 0.2em 0.5em 0.5em;
    font-size: 14px;
  }

:host ::ng-deep .p-menu{
  padding: 0;
  border:0;
}

