<!-- <p-dialog header="Citation" #citepopup class="citationDialog" [closable]="false" [(visible)]="visible" 
                     [modal]="false" [responsive]="true">
  <p-header> Citation
    <button style="position:relative; float:right; background-color:#1E6BA1; " type="button" 
            pButton icon="faa faa-close" (click)="hide()"></button>
  </p-header>
  <citation-display [citetext]="citetext"></citation-display>
</p-dialog> -->

<p-dialog #citepopup header="Citation" modal="true" [(visible)]="visible" (click)="hide()" [style]="{width: '70vw'}" [baseZIndex]="10000" >
    <p-header style="color: rgb(0, 0, 0);">
        Citation
    </p-header> 
    <span><b>Copy the recommended text to cite this resource </b></span> <br><br>
    <p contenteditable="false" class="citation">{{ citetext }}</p>
    <br>
    <a target="citationsRecommendation"
    href="https://www.nist.gov/director/copyright-fair-use-and-licensing-statements-srd-data-and-software#citations">See also the NIST Citation Recommendations.</a>
    <!-- <citation-display [citetext]="citetext"></citation-display> -->
</p-dialog>
