.edit-control-buttons {
    background-color: #153971;
    color: #FFFFFF; 
    height: 3em;
  }
  
  .btn-label {
    position: relative;
    left: -19px;
    top: -1px;
    display: inline-block;
    padding: 3px 12px 0px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px; 
    height: inherit;
  }
  
  .btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
    width:140px; 
  }
  .btn { margin-bottom:10px; }