<div>
    <div style="margin: auto;width: 100%;text-align: center;">
        <h2 >
        {{chart_title}}
        </h2>
    </div>
    <div style="margin: 10px; border-bottom: 1px solid lightgray; ">
        <input type="radio" value="1" name="sortitem" [ngModel]="sortitem" (change)="sortBarChart($event)"> Ascending
        <input type="radio" value="2" name="sortitem" [ngModel]="sortitem" (change)="sortBarChart($event)"> Descending
        <input type="radio" value="3" name="sortitem" [ngModel]="sortitem" (change)="sortBarChart($event)"> Original
    </div>
    <div *ngIf="inBrowser; else filesLoading" class="d3-chart" #chart (window:resize)="onResize()" style="min-height: 200px;"></div>
    <ng-template #filesLoading>
        <div>
            <b>Metrics </b>
        </div>
        <p>
            <i>Loading metrics data...</i>
        </p>
    </ng-template>
</div>
