.menuicon {
    margin-right: .5em;
}

.menu-header {
    background-color: var(--background-default);
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 2em;
    min-height: 2em;
    border-radius: 3px;
}

.menu-item {
    background-color: var(--background-default);
    word-wrap: break-word;
    font-family: 'Sans-Serif';
    font-size: 14px;
    cursor: pointer;
}

.menu-item:hover {
    background-color: var(--background-hover);
}

.menu-body {
    padding-left: 10px;
    padding-right: 10px;
}