.bottom-line {
    border-bottom:.5px solid #e6e6e6;
}

.filter-checkbox {
    width: 100%;
    margin-left: -10px;
    /* min-width: 410px; */
    overflow-x: hidden;
}

.show-more-less {
    color: #1E6BA1;
    text-align: right;
    padding-right: 20px;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
}

.badge-style {
    /* background-color: var(--forensics-background-default); */
    color: white;
    border-radius: 100%;
    padding: 2px 6px 2px 2px;
    font-size: small;
}

input[type=checkbox] {width:20px; height:20px;}

.hasborder { border:1px solid #F00; float: right;}