<div [@filterExpand]="mobileMode? 'expanded' : isActive? 'expanded' : 'collapsed'"
    [ngStyle]="{'width': mobileMode? '100%':filterWidthNum + 'px'}">
    <div class="normalFilter" [hidden]="!isActive && !mobileMode" id="activeFilter"
        style="height:auto;padding-bottom: 1em;" [style.background-color]="lighterColor">
        <div>
            <!-- Filter header -->
            <div id="filterHeader" *ngIf="isActive || mobileMode" [style.background-color]=" defaultColor">
                <a id="filtersLabel" class="btn-sm collapsed in"
                    (click)="this.isActive = !this.isActive;setFilterWidth()" data-toggle="collapse"
                    data-target="#demo"><span *ngIf="filterWidthNum > 170">Filters </span><i
                        [ngClass]="getFilterImgClass()" style="zoom: 100%;color: #fff;cursor: pointer;"></i></a>

                <a href="#" id="clear-all" data-toggle="tooltip" title="Clear all filters"
                    (click)="$event.preventDefault();clearFilters()">
                    <i style="vertical-align: middle;zoom: 70%;margin-right: .3em;" class="faa faa-remove">
                    </i><span *ngIf="filterWidthNum > 170">Clear All</span></a>
            </div>

            <!-- Filter body -->
            <!-- Display spinner while waiting for search result -->
            <div class="spinner" *ngIf="searching">
                <i class="faa faa-spinner faa-spin faa-stack-2x" [style.color]="defaultColor" aria-hidden="true"></i>
            </div>

            <div style="padding-left: -1em;" *ngIf="isActive && !searching">
                <!-- Loop through all themes -->
                <div *ngFor="let key of collectionOrder">
                    <app-taxonomy [collectionThemesTree]="allCollections[key].theme?.collectionThemesTree" [collection]="key"
                        [backgroundColor]="lighterColor" [defaultColor]="defaultColor"
                        (filterString)="updateFilterString($event, key)">
                    </app-taxonomy>
                </div>

                <div *ngIf="theme=='ScienceTheme'" style="width: 100%;">
                    <span class="show-more-less" style="float: right;"
                        (click)="toggleMoreOptions()">{{moreOptionsText}}</span>
                </div>

                <div style="width: 100%;">
                    <div [@expandOptions]="MoreOptionsDisplayed ? 'collapsed':'expanded'">
                        <!-- Type of Resource -->
                        <div class="filter-checkbox bottom-line">
                            <p-tree [value]="resourceTypeTree" selectionMode="checkbox" [style]="ResourceTypeStyle"
                                [(selection)]="selectedResourceTypeNode" (onNodeUnselect)="filterResults()"
                                (onNodeSelect)="filterResults()">
                                <ng-template let-node pTemplate="default">
                                    <div class="text-nowrap" data-toggle="tooltip" [title]="filterTooltip(node)">
                                        <span *ngIf="node.count > 0; else header2">
                                            {{node.label.split("---")[0]}}&nbsp;</span>
                                        <ng-template #header2>
                                            <span><b> {{node.label.split("---")[0]}}&nbsp;</b></span>
                                        </ng-template>

                                        <span class="w3-badge badge-notify badge-style" [style.background-color]="defaultColor"
                                            *ngIf="node.count > 0">
                                            {{node.count}}</span>
                                    </div>
                                </ng-template>
                            </p-tree>
                        </div>

                        <!-- Components (Record has) -->
                        <div class="filter-checkbox bottom-line" *ngIf="componentsTree.length > 0">
                            <p-tree [value]="componentsTree" selectionMode="checkbox" [style]="recordHasStyle"
                                [(selection)]="selectedComponentsNode" (onNodeUnselect)="filterResults()"
                                (onNodeSelect)="filterResults()">
                                <ng-template let-node pTemplate="default">
                                    <div class="text-nowrap" data-toggle="tooltip" [title]="filterTooltip(node)">
                                        <span *ngIf="node.label.split('---')[1] !=''; else header3">
                                            {{node.label.split("---")[0]}}&nbsp;</span>
                                        <ng-template #header3>
                                            <span><b> {{node.label.split("---")[0]}}&nbsp;</b></span>
                                        </ng-template>

                                        <span class="w3-badge badge-notify badge-style" [style.background-color]="defaultColor"
                                            *ngIf="node.count > 0">
                                            {{node.count}}</span>
                                    </div>
                                </ng-template>
                            </p-tree>
                        </div>
                    </div>
                </div>

                <!-- Authors and Contributors -->
                <div [style.background-color]="lighterColor">
                    <div class="lbl-filter">
                        <label><b>Authors and Contributors</b></label>
                    </div>
                    <div class="filter-input p-fluid">
                        <label for="suggestedauthor" class="hideLabel">Search Input</label>
                        <p-autoComplete [(ngModel)]="selectedAuthor" inputId="suggestedauthor"
                            [suggestions]="suggestedAuthors" (completeMethod)="filterAuthors($event)"
                            (onSelect)="filterResults()" (onUnselect)="filterResults()" [multiple]="true"
                            [minLength]="1" [maxlength]="30" [style]="filterStyle">
                            <ng-template let-author pTemplate="item">
                                <div data-toggle="tooltip" [title]="author">{{author}}</div>
                            </ng-template>
                        </p-autoComplete>
                    </div>
                </div>

                <!-- Keyword -->
                <div>
                    <div class="lbl-filter">
                        <label><b>Keyword</b></label>
                    </div>
                    <div class="filter-input p-fluid">
                        <label for="keyword" class="hideLabel">Keyword</label>
                        <p-autoComplete inputId="keyword" [(ngModel)]="selectedKeywords"
                            [suggestions]="suggestedKeywords" (completeMethod)="updateSuggestedKeywords($event)"
                            [multiple]="true" (onSelect)="filterResults()" (onUnselect)="filterResults()"
                            [minLength]="1" [maxlength]="30" [style]="filterStyle" [inputStyle]="{'width':'100%'}">
                            <ng-template let-keyword pTemplate="item">
                                <div data-toggle="tooltip" [title]="suggestedKeywordsLkup[keyword]">{{keyword}}</div>
                            </ng-template>
                        </p-autoComplete>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!searching && !isActive && !mobileMode" class="collapsedFilterBox"
        [style.background-image]="collapedFilerColor" (click)="this.isActive = !this.isActive;setFilterWidth()">

        <!-- Collapsed filters -->
        <div>
            <i class="faa faa-angle-double-right collapsedFilterIcon"></i>
        </div>
        <div class="rotate rotatedFilterText"> Filters </div>
    </div>
</div>