#filterHeader {
    border-bottom:.5px solid #e6e6e6;
    width: 100%;
    padding: .625em;
    box-shadow: inset -2px 0 16px -9px rgba(0, 0, 0, 0.5);
}

#filtersLabel {
    color: #FFFFFF;
    font-weight: 900;
    text-decoration:none; 
    padding-left: .5em;
    cursor: pointer;
}

#clear-all {
    float: right;
    font-weight:900;
    vertical-align: middle;
    color: #FFFFFF
}

#activeFilter {
    /* background-color: #F8F9F9; */
    /* background-color: var(--forensics-background-light); */
    padding: 0px 0px 0px 0px;
}

.rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotatedFilterText {
    position: relative;
    left: -43px;
    top: 55px;
    /* display: block;  */
    color: #fff; 
    /* padding: 55px 5px 5px 45px; */
    font-size: larger;
    width: 120px;
    height: 30px;
}

.filterIcon {
    color: #fff;
    zoom: 130%;
    padding-top: -3em !important;
}

.collapsedFilterIcon {
    color: #fff;
    zoom: 130%;
    padding-top: -3em !important;
    padding-left: 10px;
}

.collapsedFilterBox {
    /* text-align:center;
    padding: 0px 5pxpx 0px 5px; */
    /* background-color: var(--forensics-background-default); */
    /* background-image: linear-gradient( var(--forensics-background-default), white); */
    color: #fff; 
    width: 40px;
    height: 300px;
    cursor: pointer;
    padding-top: 10px;
}

.normalFilter {
    width: 100%;
}

.lbl-filter {
    margin-top:1em;
    width: 100%;
    padding-left: 1em;
    padding-top:1em;
}

.filter-input {
    padding-left:15px;
    padding-right:1.0em;
}

.filter-checkbox {
    width: 100%;
    /* min-width: 410px; */
    overflow-x: hidden;
}

.bottom-line {
    border-bottom:.5px solid #e6e6e6;
}

.show-more-less {
    color: #1E6BA1;
    text-align: right;
    padding-right: 20px;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
}

.ui-tree {
	white-space: nowrap !important;
}

.badge-style {
    /* background-color: var(--forensics-background-default); */
    color: white;
    border-radius: 100%;
    padding: 2px 6px 2px 2px;
    font-size: small;
}

:host ::ng-deep .ui-tree {
    overflow: overlay; /* Changed from auto to overlay */
}

:host ::ng-deep .ui-tree .ui-tree-container {
    overflow: initial;
}

.text-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    min-width: 1px;
}

.clearall {
    font-size: 13px;
    background-color: transparent !important;
    height: 25px !important;
    color: white;
    float: right;
}

.clearall:hover {
    background-color: rgb(50, 145, 240) !important;
}