<div [@filterExpand]="mobileMode? 'expanded' : isActive? 'expanded' : 'collapsed'"
    [ngStyle]="{'width': mobileMode? '100%':filterWidthNum + 'px'}">
    <div class="normalFilter" [hidden]="!isActive && !mobileMode" id="activeFilter"
        style="height:auto;padding-bottom: 1em;" [style.background-color]="colorScheme.lighter">
        <div>
            <!-- Filter header -->
            <div id="filterHeader" *ngIf="isActive || mobileMode" [style.background-color]=" colorScheme.default">
                <a id="filtersLabel" class="btn-sm collapsed in"
                    (click)="this.isActive = !this.isActive;setFilterWidth()" data-toggle="collapse"
                    data-target="#demo"><span *ngIf="filterWidthNum > 170">Filters </span><i
                        [ngClass]="getFilterImgClass()" style="zoom: 100%;color: #fff;cursor: pointer;"></i></a>

                <!-- <a href="#" id="clear-all" data-toggle="tooltip" title="Clear all filters"
                    (click)="$event.preventDefault();clearFilters()">
                    <i style="vertical-align: middle;zoom: 70%;margin-right: .3em;" class="faa faa-remove">
                    </i><span *ngIf="filterWidthNum > 170">Clear All</span></a> -->

                <button pButton label="Clear all" type="button" class="p-button-sm clearall" 
                    icon="faa faa-remove" iconPos="left" style="padding: 3px 10px;" (click)="clearFilters()"></button>
            </div>

            <!-- Filter body -->
            <!-- Display spinner while waiting for search result -->
            <div class="spinner" *ngIf="searching">
                <i class="faa faa-spinner faa-spin faa-stack-2x" [style.color]="colorScheme.default" aria-hidden="true"></i>
            </div>

            <div style="padding-left: -1em;padding-right: -2em;" *ngIf="isActive && !searching">
                <!-- Loop through all themes -->
                <div *ngFor="let key of collectionOrder">
                    <app-taxonomy [collectionThemesTree]="allCollections[key].theme?.collectionThemesTree" [collection]="key" [isCollection]="true"
                        [colorScheme]="colorScheme" [collectionNodeExpanded]="true" [clearAllCheckbox]="clearAllCheckbox"
                        (filterString)="updateFilterString($event, key)">
                    </app-taxonomy>
                </div>

                <div *ngIf="theme=='ScienceTheme'" style="width: 100%;">
                    <span class="show-more-less" style="float: right;"
                        (click)="toggleMoreOptions()">{{moreOptionsText}}</span>
                </div>

                <div style="width: 100%;">
                    <div [@expandOptions]="MoreOptionsDisplayed ? 'collapsed':'expanded'">
                        <!-- Type of Resource -->
                        <app-taxonomy [collectionThemesTree]="resourceTypeTree" collection="@type" [isCollection]="false"
                        [colorScheme]="colorScheme" [collectionNodeExpanded]="false" [clearAllCheckbox]="clearAllCheckbox"
                            (filterString)="updateFilterString($event, '@type')">
                        </app-taxonomy>

                        <!-- Components (Record has) -->
                        <div class="filter-checkbox bottom-line" *ngIf="componentsTree.length > 0">
                            <app-taxonomy [collectionThemesTree]="componentsTree" collection="components.@type" [isCollection]="false"
                            [colorScheme]="colorScheme" [collectionNodeExpanded]="false" [clearAllCheckbox]="clearAllCheckbox"
                                (filterString)="updateFilterString($event, 'components.@type')">
                            </app-taxonomy>
                        </div>
                    </div>
                </div>

                <!-- Authors and Contributors -->
                <div [style.background-color]="colorScheme.lighter">
                    <div class="lbl-filter">
                        <label><b>Authors and Contributors</b></label>
                    </div>
                    <div class="filter-input p-fluid">
                        <label for="suggestedauthor" class="hideLabel">Search Input</label>
                        <p-autoComplete [(ngModel)]="selectedAuthor" inputId="suggestedauthor"
                            [suggestions]="suggestedAuthors" (completeMethod)="filterAuthors($event)"
                            (onSelect)="filterResults()" (onUnselect)="filterResults()" [multiple]="true"
                            [minLength]="1" [maxlength]="30" [style]="filterStyle">
                            <ng-template let-author pTemplate="item">
                                <div data-toggle="tooltip" [title]="author">{{author}}</div>
                            </ng-template>
                        </p-autoComplete>
                    </div>
                </div>

                <!-- Keyword -->
                <div>
                    <div class="lbl-filter">
                        <label><b>Keyword</b></label>
                    </div>
                    <div class="filter-input p-fluid">
                        <label for="keyword" class="hideLabel">Keyword</label>
                        <p-autoComplete inputId="keyword" [(ngModel)]="selectedKeywords"
                            [suggestions]="suggestedKeywords" (completeMethod)="updateSuggestedKeywords($event)"
                            [multiple]="true" (onSelect)="filterResults()" (onUnselect)="filterResults()"
                            [minLength]="1" [maxlength]="30" [style]="filterStyle" [inputStyle]="{'width':'100%'}">
                            <ng-template let-keyword pTemplate="item">
                                <div data-toggle="tooltip" [title]="suggestedKeywordsLkup[keyword]">{{keyword}}</div>
                            </ng-template>
                        </p-autoComplete>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!searching && !isActive && !mobileMode" class="collapsedFilterBox"
        [style.background-image]="collapedFilerColor" (click)="this.isActive = !this.isActive;setFilterWidth()">

        <!-- Collapsed filters -->
        <div>
            <i class="faa faa-angle-double-right collapsedFilterIcon"></i>
        </div>
        <div class="rotate rotatedFilterText"> Filters </div>
    </div>
</div>