.result-contsiner {
        width: 100%;
}

.item-title {
        display: table; /* table display*/
        border-spacing:5px;
        width: 100%; 
        /* text-align: center;  */
        background-color: #12659c;
        color: #fff !important;
        padding-top: .5em;
        padding-bottom: .5em;
        border-radius: 10px 10px 0 0;
}

.item-details {
        width: 100%; 
        margin-bottom: .5em;
        background-color: #ffffff;
        color: #000000 !important;
        padding: .5em;
        border-radius: 0 0 10px 10px;
        border: 1px solid rgb(95, 95, 95);
}

.title-btn {
        /* border: 1px solid white; */
        border-radius: 5px;
        padding: -5px 0px 20px 10px;
        margin-left: 10px;
        cursor: pointer;
        color: white !important;
}

.parent-element:hover {
        /* background-color: #0079c9; */
        border: 1px solid #00f7ff;
}

.parent-element {
        display: table; /* table display*/
        border-spacing:5px;
        color: white;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 5px;
}

.vertical-center {
        display: table-cell; /* table-cell display*/
        vertical-align: middle; /* vertical align*/
        text-align: center;
}

.show-more-less {
        cursor: pointer;
        color: var(--nist-blue-dark);
}
