<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %c:%M:%L
				-%X{currentUser}%X{requestParams} %m%n</Pattern>
		</encoder>
	</appender>

	<appender name="SAVE-TO-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<file>${LOG_PATH}/customization.log</file>

		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>
				${LOG_PATH}/customization_%i.log
			</fileNamePattern>
			<minIndex>2</minIndex>
			<maxIndex>100</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5KB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<logger name="org.springframework" level="INFO"
		additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SAVE-TO-FILE" />
	</logger>

	<logger name="gov.nist.oar.ds" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SAVE-TO-FILE" />
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SAVE-TO-FILE" />
	</root>

</configuration>
