<div style="margin: 2em; text-align: center;">
    <h2>OptSortSph: Sorting Spherical Dielectric Particles in a Standing-Wave Interference Field</h2>
    <img src="assets/images/sample-files.png">
</div>
<div style="text-align: center; margin-bottom: 1em;">
    <h2>Download Details</h2>

    <!-- <div class="dropdown" style="float: right; margin: 0px 50px 10px 0px;">
        <button class="dropbtn">Category</button>
        <div class="dropdown-content">
          <div style="cursor: pointer;" (click)="loadTotalUser()">Total Users</div>
          <div style="cursor: pointer;" (click)="loadTotalDownload()">Total Downloads</div>
        </div>
    </div> -->

    <div class="dropdown" style="float: right;margin: 0px 50px 10px 0px;font-size: 30px;">
        <label for="months">Choose a month:</label>
        <select name="months" id="months" (change)="changeMonth($event)">
            <option value="JAN">JAN</option>
            <option value="FEB">FEB</option>
            <option value="MAR">MAR</option>
            <option value="APR">APR</option>
            <option value="MAY">MAY</option>
            <option value="JUN">JUN</option>
            <option value="JUL">JUL</option>
            <option value="AUG">AUG</option>
            <option value="SEP">SEP</option>
            <option value="OCT">OCT</option>
            <option value="NOV">NOV</option>
            <option value="DEC">DEC</option>
        </select>
    </div>

    <div class="dropdown" style="float: right;margin: 0px 40px 10px 0px;font-size: 30px;">
        <label for="years">Choose a year:</label>
        <select name="years" id="years" (change)="changeYear($event)">
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
        </select>
    </div>

    <div style="float: right;margin: 0px 40px 10px 0px;font-size: 30px;">
        <label class="form-check-inline">
            <input type="radio" name="mode" value="user" [(ngModel)]="category" (change)="loadTotalUser($event)">Users
        </label>
        <label class="form-check-inline">
            <input class="form-check-input" type="radio" name="mode" value="download" [(ngModel)]="category" (change)="loadTotalDownload($event)">Downloads
        </label>
     </div>
  
</div>

<div class="grid-container">
    <div class="grid-child child" style="text-align: center;padding-top: 2em;">
        <h2>File level download details</h2>
        <img src="assets/images/Metrix-record-details04.jpg">
    </div>
    <div class="grid-child child" style="text-align: center;padding-top: 2em; ">
        <div style="text-align: center;margin-bottom: 2em;">
            <h2>Total {{chartTitle02}} in {{currentMonth}} {{currentYear}}</h2>
        </div>
        <img [src]="imgChart">
    </div>
</div>