.recordType {
    font-family: Arial, Helvetica, sans-serif; 
    color:#707070; 
    font-size: 16px;
}

.primary-ref-entry {
    line-height: 1.2;
    margin-bottom: 0.3em;
}

.home_button {
    float:right;
    margin:.5em 1em .5em 0em;
    width:200px;
    height:2em;
    background-color:#1471AE;
    color:white;
    padding-right: 1em;
}
