<div class="ui-g" id="references">
    <div class="ui-g-12 ui-md-12 ui-lg-12 ui-sm-12">
        <div *ngIf="hasDisplayableReferences()">
            <div class="section-header"><h3><b>References</b></h3></div>
            <div style="margin: 0em 0em .5em 1em;" *ngFor="let ref of record['references']">
                <i class="faa faa-external-link"> &nbsp;
                    <a href={{ref.location}} target="blank">{{ getReferenceText(ref) }}</a>
                </i>
            </div>
        </div>
    </div>
</div>
