<div class="grid" id="identity">
    <div class="col-12 col-md-12 col-lg-12 col-sm-12">
        <span class="recordType">
            <b>{{recordType}}</b>
            <span *ngIf="theme == scienceTheme" class="badge version"> Beta</span>
        </span>
        <br>
        <app-title [record]="record" [inBrowser]="inBrowser"></app-title>
        <div id="ispartof" *ngIf="isPartOf">
          <i style="font-size: smaller;">Part of {{isPartOf[0]}} <a href="{{isPartOf[1]}}"
             title="view collection">{{isPartOf[2]}}</a> {{isPartOf[3]}}</i>
        </div>
        <app-author [record]="record" [inBrowser]="inBrowser"></app-author>

        <!-- Facilitators -->
        <div *ngIf="theme == scienceTheme" style="width: 100%;" [ngStyle]="{'margin-bottom': record.creators? '15px' : '1.5em'}">
            <app-facilitators [record]="record" [inBrowser]="inBrowser"></app-facilitators>
        </div>
    </div>
    
    <div class="col-8 col-md-8 col-lg-8 col-sm-12">
        <app-contact [record]="record" [inBrowser]="inBrowser"></app-contact>

        <span>Identifier: </span>
        <span *ngIf="doiUrl"><i> <a href="{{doiUrl}}"
                    >{{record.doi}}</a></i></span>
        <span *ngIf="!doiUrl"><i> 
            <a href="{{ cfg.get('landingPageService','/od/id/') }}{{record['@id']}}">{{record["@id"]}}</a></i>
        </span>
        <div class="describedin" *ngIf="primaryRefs.length > 0">
            <div>Described in
                  <span *ngIf="primaryRefs.length < 2">this article:</span>
                  <span *ngIf="primaryRefs.length > 1">these articles: </span></div>
            <div *ngFor="let ref of primaryRefs; let i =index" class="primary-ref-entry"
                 style="padding-left:20px">
              <span *ngIf="ref.location; else nopreflink">
                  <span class="faa faa-external-link">&nbsp;&nbsp;</span>
                  <i><a href={{ref.location}} target="blank"
                        (click)="gaService.gaTrackEvent('outbound', $event, 'Resource title: ' + record.title, ref.location)">{{ ref.label }}</a><span *ngIf="i < primaryRefs.length-1">,</span></i>
              </span>
              <ng-template #nopreflink>
                <i>{{ ref.label }}<span *ngIf="i < primaryRefs.length-1">,</span></i>
              </ng-template>
            </div>
        </div>
        <pdr-version [record]="record"></pdr-version>
    </div>

    <div class="col-4 col-md-4 col-lg-4 col-sm-12">
        <span *ngIf="showHomePageLink" style="float: right;">
            <span *ngIf="inBrowser; else visitHomeOnServer">
                <a href={{record.landingPage}} target="_blank" rel="noopener">
                    <button type="button" pButton type="submit" [disabled]="!inViewMode"
                        class="home_button p-button p-component ui-button-text-empty"
                        [ngStyle]="{'background-color': visitHomePageBtnStyle()}"
                        (click)="googleAnalytics(record.landingPage, $event, 'Resource title: '+record.title)">
                        <i class="faa faa-external-link"
                            style="color: #fff;padding-left: .5em;padding-right: .5em;"></i>
                        Visit Home Page
                    </button>
                </a> 
            </span>
            <ng-template #visitHomeOnServer>Visit Home Page</ng-template>
        </span>
    </div>
</div>

