.recordType {
    font-family: Arial, Helvetica, sans-serif; 
    color:#707070; 
    font-size: 16px;
}

.primary-ref-entry {
    line-height: 1.2;
    margin-bottom: 0.3em;
}

.home_button {
    float:right;
    margin:.5em 1em .5em 0em;
    width:200px;
    height:2em;
    background-color:var(--science-theme-background-default);
    color:white;
    padding-right: 1em;
}

.beta-label {
    margin-left: 0.5em; 
    color: white;
    position:relative;
    top: 0px;
    left: 0px;
    font-weight: bold;
    font-size: small;
    border-radius: 5px;
    padding: 2px 6px 2px 2px;
}

#ispartof {
    margin: -8px 0 10px 0;
}