<div class="ui-g" id="description">
    <div class="ui-g-12 ui-md-12 ui-lg-12 ui-sm-12">
        <div style="margin-bottom: 1em;">
            <h3 style="display: inline-block;" name="description"><b>{{desctitle}}</b></h3>
        </div>
        <div>
            <app-description [record]="record" [inBrowser]="inBrowser"></app-description>
        </div>
        <app-topic [record]="record" [inBrowser]="inBrowser"></app-topic>
        <app-keyword [record]="record" [inBrowser]="inBrowser"></app-keyword>
    </div>
</div>
