<div class="grid" id="identity">
    <div class="col-12 col-md-12 col-lg-12 col-sm-12">
        <span class="recordType">
            <b>{{recordType}}</b>
        </span>
        <br>
        <app-title [record]="record" [inBrowser]="inBrowser"></app-title>
        <app-author [record]="record" [inBrowser]="inBrowser"></app-author>
    </div>
    <div class="col-12 col-md-8 col-lg-8 col-sm-12">
        <app-contact [record]="record" [inBrowser]="inBrowser"></app-contact>

        <span>Identifier: </span>
        <span *ngIf="doiUrl"><i> <a href="{{doiUrl}}"
                    >{{record.doi}}</a></i></span>
        <span *ngIf="!doiUrl"><i> 
            <a href="{{ cfg.get('landingPageService','/od/id/') }}{{record['@id']}}">{{record["@id"]}}</a></i>
        </span>
        <span class="describedin" *ngIf="primaryRefs.length > 0"><br>
            <span>Described in
                  <span *ngIf="primaryRefs.length < 2">this article:</span>
                  <span *ngIf="primaryRefs.length > 1">these articles: </span></span>
            <div *ngFor="let ref of primaryRefs; let i =index"
                 style="padding-left:20px">
              <span *ngIf="ref.location; else nopreflink" class="primary-ref-entry">
                  <span class="faa faa-external-link">&nbsp;&nbsp;
                    <i><a href={{ref.location}} target="blank"
                          (click)="gaService.gaTrackEvent('outbound', $event, 'Resource title: ' + record.title, ref.location)">{{ ref.label }}</a><span *ngIf="i < primaryRefs.length-1">,</span></i></span>
              </span>
              <ng-template #nopreflink>
                <i class="primary-ref-entry">
                  {{ ref.label }}<span *ngIf="i < primaryRefs.length-1">,</span>
                </i>
              </ng-template>
            </div>
        </span>
        <pdr-version [record]="record"></pdr-version>
    </div>

    <div class="col-12 col-md-4 col-lg-4 col-sm-12">
        <span *ngIf="showHomePageLink" style="float: right;">
            <span *ngIf="inBrowser; else visitHomeOnServer">
                <a href={{record.landingPage}} target="_blank">
                    <button type="button" pButton type="submit" [disabled]="!inViewMode"
                        class="home_button p-button p-component ui-button-text-empty"
                        (click)="googleAnalytics(record.landingPage, $event, 'Resource title: '+record.title)">
                        <i class="faa faa-external-link"
                            style="color: #fff;padding-left: .5em;padding-right: .5em;"></i>
                        Visit Home Page
                    </button>
                </a> 
            </span>
            <ng-template #visitHomeOnServer>Visit Home Page</ng-template>
        </span>
    </div>
</div>

