.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #257a2d !important;
    border-color: #257a2d !important;
}

.button_icon {
    padding-right: 10px;
}

.description {
    padding: 10px 10px 0px 0px;
}

#accessPages {
    margin-top: 1em;
}

.indent-content {
    padding-left:20px;
}

.section-line{
    width:100%;
    height : 1px;
    margin-top : -19px;

    background-image: linear-gradient(90deg, rgb(37, 37, 178), rgb(255, 255, 255))
}