<div class="ui-g" id="identity">
    <div class="ui-g-12 ui-md-12 ui-lg-12 ui-sm-12">
        <span class="recordType">
            <b>{{recordType}}</b>
        </span>
        <br>
        <app-title [record]="record" [inBrowser]="inBrowser"></app-title>
        <app-author [record]="record" [inBrowser]="inBrowser"></app-author>
    </div>
    <div class="ui-g-8 ui-md-8 ui-lg-8 ui-sm-12">
        <app-contact [record]="record" [inBrowser]="inBrowser"></app-contact>

        <span>Identifier: </span>
        <span *ngIf="doiUrl"><i> <a href="{{doiUrl}}"
                    >{{record.doi}}</a></i></span>
        <span *ngIf="!doiUrl"><i> 
            <a href="{{ cfg.get('landingPageService','/od/id/') }}{{record['@id']}}">{{record["@id"]}}</a></i>
        </span>
        <span *ngIf="primaryRefs.length > 0"><br>
            <span>Described in article: </span>
            <div *ngFor="let ref of primaryRefs; let i =index">
                <span style="padding-left:20px">
                    <i class="faa faa-external-link">
                        <a href={{ref.location}} target="blank"
                            (click)="gaService.gaTrackEvent('outbound', $event, 'Resource title: ' + record.title, ref.location)">&nbsp;&nbsp;{{ ref.label }}</a></i>
                    <span *ngIf="i < primaryRefs.length-1">,</span>
                </span>
            </div>
        </span>
        <pdr-version [record]="record" [editMode]="editEnabled"></pdr-version>
    </div>

    <div class="ui-g-4 ui-md-4 ui-lg-4 ui-sm-12">
        <span *ngIf="showHomePageLink" style="float: right;">
            <span *ngIf="inBrowser; else visitHomeOnServer">
                <button type="button" pButton type="submit" [disabled]="editEnabled"
                        class="home_button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-empty"
                        (click)="visitHomePage(record.landingPage, $event, 'Resource title: '+record.title)">
                    <i class="faa faa-external-link"
                        style="color: #fff;padding-left: .5em;padding-right: .5em;"></i>
                    Visit Home Page
                </button>
            </span>
            <ng-template #visitHomeOnServer>Visit Home Page</ng-template>
        </span>
    </div>
</div>

