
.ui-button.small-button {
  font-size:.5em;
  background-color: green;
  margin-bottom: 1em;
}

:host /deep/ .ui-progress-spinner-svg {
  top:50%;
}

:host /deep/ p-dialog .ui-dialog {
  background-color: #ebffff;
}

:host /deep/ .ui-dialog .ui-dialog-titlebar{
  background-color: #232F3E;
  color: #fff;
}

:host /deep/ .ui-treetable .ui-treetable-row td {
  border:1px solid #bdbdbd;
}

:host /deep/ .ui-treetable thead tr th {
  border:1px solid #bdbdbd;
  background-color: lightgrey;
}

:host /deep/ .ui-chkbox .ui-chkbox-box {
  width: 1.2em;
  height: 1.2em;
}

:host /deep/ .faa-cart-plus:before {
  color: #1E6BA1;
}

:host /deep/ .ui-widget-content {
  font-size: .95em ;
}

.badge-notify{
  background-color: green;
  color: white;
  position:relative;
  top: -10px;
  left: -5px;
  font-size: 9px;
  height:15px;
  width:15px;
  padding:3px 3px 3px 3px ;
}

.badge-pill{
  height:15px;
  width:15px;
  padding:2px 3px 3px 3px ;
}

.button-badge{
  background-color: white;
  position:relative;
  top: 0px;
  left: 0px;
  font-size: 12px;
  height:15px;
  width:25px;
  padding:3px 3px 3px 3px ;
  border-radius: 100%;
}

:host /deep/ .ui-button, body .ui-datepicker-buttonpane button {
  padding:.4em;
}

:host /deep/ .ui-treetable thead th, .ui-treetable tbody td, .ui-treetable tfoot td {
  white-space: normal;
}

:host /deep/ .ui-state-active, body .ui-state-highlight {
  background-color: #FFFFFF;
}

:host /deep/ .ui-tree .ui-treenode-label.ui-state-highlight, body ui-tree .ui-treenode-label.ui-state-hover {
  font-weight: 700;
  color: #000;
}

:host /deep/ .ui-menu .ui-menu-list li.ui-widget-header {
  color: #000;
  background-color: #B8D4E6;
  font-family: 'Roboto';
  font-weight: bold;
}

:host /deep/ .ui-paginator .ui-paginator-pages a.ui-state-active {
  background-color: #03A9F4;
}

:host /deep/ .ui-datatable .ui-datatable-data tr.ui-datatable-even.ui-state-highlight {
  background-color: #03A9F4;
}

:host /deep/ .ui-datatable .ui-datatable-data tr.ui-datatable-odd.ui-state-highlight {
  background-color: #03A9F4;
}

:host /deep/ .ui-treetable tbody .ui-treetable-row.ui-state-highlight {
  background-color: #03A9F4;
}


.searchButton{
  background-color:#0872B9;
  width: 100%;
  height: 50px;
  font-weight: 700;
  font-size: 14px;
  border-radius: 0px;
  /*
  border-radius-topright: 5px;
  border-radius-bottomright: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  */
}

.searchButton:hover{
  background-color:#1F5593;
}

:host /deep/ .ui-widget-header{
  background-color: #FFFFFF;
  border: 0;
}

.downloadStatusLimit{
  height:5em; 
  width: 94%;
  overflow: auto; 
  margin-bottom: 0.5em; 
  background-color: rgb(193, 240, 255);
  padding: 0.5em;
  margin-left: 3%;
  margin-right: 3%;
}

.downloadStatusExpand{
  width: 94%;
  background-color: rgb(193, 240, 255);
  padding: 0.5em;
  margin-left: 3%;
  margin-right: 3%;
}

#zipDownloadDisplay {
  width: 94%;
  height: 80px;
  margin-left: 3%;
  margin-right: 3%;
  padding: 0.5em;
  overflow: auto; 
  background:  rgb(196, 221, 253);
}

#zipDownloadDisplay:hover {
  height: 100%;
}

.filedesc{
  background-color:#307F38;
  text-align: left;
  color: white;
  word-wrap: break-word;
  font-family: sans-serif;
  font-size: 12px;
  padding: 1rem 1rem 1rem 1rem; 
}

#title
{
  color:#1471AE;
  font-size: 30px;
  width: 94%; 
  margin-top: 1em; 
  margin-left: 3%; 
  margin-bottom: 0.5em;
}

#current-task {
    width:100%; 
    margin-bottom: 1em;
}

#current-task-detail {
    text-align: center; 
    margin: 0 auto; 
    font-size: 14pt;
}

tr {
  line-height: 25px;
  min-height: 25px;
  height: 25px;
}

.fileDialog {
  z-index: 999;
}

.span30 {
    display: inline-block;
    width: 30% !important;
    padding-left:.5em;
}

.span40 {
    display: inline-block;
    width: 35% !important;
    padding-left:.5em;
}

.span-end{
    display: inline-block;
    padding-left:.5em;
    width: 35%;
}

.header-orange {
    display: inline-block;
    background-color: darkorange;
    color:white;
    font-weight: bolder ;
    margin:0;
    width: 100%;
    margin-bottom: .2em;
}

.header-green {
    display: inline-block;
    background-color: green;
    color:white;
    font-weight: bolder;
    margin-bottom: .2em;
}

.full-span {
    margin:auto;
    width: 94%;
    margin-bottom: .3em;
}

.unhandled-files{
    overflow-y:auto;
    max-height:200px;
    word-wrap: break-word;
}

.title-line {
    display: inline-block;
    width: 100%;
}

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #1E6BA1;    }
    49%{    color: #1E6BA1; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #1E6BA1;    }
}

.status-reset-button {
    color:black;
    background-color:#f0f0f0;
    vertical-align: text-top; 
    font-size:10px; 
    margin-top:5px; 
    float: right;
    cursor: pointer;
}

.message-block {
    width: 100%;
    margin-left: .5em;
}

.message-details {
    width: 100%;
    text-align: center;
    color: white; 
    background-color: #1471AE;
    height: 30px;
    padding-top: 3px;
    font-weight: bolder;
    margin-bottom: .5em;
}

.top-banner {
    width: 100%;
    background-position: center 63%;
    margin-bottom: .5em;;
    height: 80px;
}

.top-banner-text {
    color: white !important;
    margin-bottom: 3em;
}

.inner-box {
    width: 94%;
    padding-top: 1em;
    margin: auto;
}

.top-banner-btns {
    float:right;
    padding-left: 3%; 
    margin-top:1em;
    text-align: right; 
}

button:disabled{
    opacity: .7;
}