.btn-cancel {
    float:right;
    margin:0em 1em 2em 1em;
    width:150px; 
    height:2em; 
    background-color:grey;
    color:white;
    padding-right: 1em;
}

.btn-save {
    float:right;
    margin-right: 1em;
    width:150px; 
    height:2em; 
    background-color:green;
    color:white;
    margin-right: 1em;
    padding-right: 1em;
}

.btn-add-author {
    float:left;
    margin-right: 1em;
    width:160px; 
    height:2em; 
    color:white;
    margin-right: 1em;
    padding-right: 1em;
}