#btn-cancel {
    background-color:rgb(107, 107, 107);
}

#btn-save {
    background-color:green;
}

#btn-add-author {
    background-color:rgb(221, 172, 9);
}

#author-list {
    width:100%;
    margin: .25em 1em .25em 1em;
    padding-top: 0em;
    display: inline-block;
}

.author-list-detail {
    margin-right: .5em;
}

#author-list-outer {
    width: 90%; 
    margin:1.5em auto 1em auto;
    height: 2em;
    background-color: rgb(184, 220, 255);
}

.control-icons {
    float:right; 
    cursor:pointer;
    margin: .2em .5em 0em 0em;
}

#author-details-outer {
    text-align: center; 
    width:100%;
    height: 60vh;
    margin: 0.5em 0em 1em 0em;
    margin-bottom: 4em;;
    overflow: auto;
}

#orcid-input {
    width: calc(100% - 2em);
    height:2em; 
    margin-right: .5em;
}

#orcid-warning {
    color: rgb(212, 103, 0); 
    font-size: 12px; 
    margin-right: 3em; 
    margin-top: -10px; 
    margin-top: -.7em; 
    text-align: right;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
    width:160px; 
    height: 2.5em;
    margin: 0em .5em .5em 0em;
}
