<!-- Make the pop up window look similar to the landingpage with black header bar and blue tool bar -->
<div class="popup-header-bar">
    <h2 class="popup-header">Authors</h2>
</div>

<div class="popup-tool-bar">
    <!-- Buttons are arranged from right to left -->

    <p-toolbar name="toolbar">
        <div class="ui-toolbar-group-left">
            <i [ngClass]="getAuthorClass()" (click)="handleAuthorDisplay()"
                style="cursor:pointer;vertical-align: middle;" data-toggle="tooltip"
                title="Expend/collapse author details"></i>
        </div>
        <div class="ui-toolbar-group-right">
            <!-- Add author button -->
            <button pButton type="submit" class="btn-add-author" style="background-color:rgb(221, 172, 9);"
                (click)="addAuthor();" label="Add Author" icon="faa faa-user-plus faa-1x icon-white" iconPos="left">
            </button>

            <!-- Cancel button -->
            <button pButton type="submit" class="btn-cancel" (click)="activeModal.close('Close click')" label="Cancel"
                icon="faa faa-trash faa-1x icon-white" iconPos="left">
            </button>

            <!-- Save button -->
            <button pButton type="submit" class="btn-Save" style="float:right; width:150px; background-color:green;"
                (click)="saveAuthorInfo();" label="Save" icon="faa faa-save faa-1x icon-white" iconPos="left">
            </button>
        </div>
    </p-toolbar>
</div>

<!-- List of authors displayed underneath the toolbar -->
<div id="author-list-outer">
    <div id="author-list">
        <span class="author-list-detail" style="font-weight: bolder;">Authors: </span>
        <span class="author-list-detail" *ngFor="let author of inputValue.authors; let i = index">
            {{ author.fn }}<span *ngIf="i < inputValue.authors.length-1 ">,</span>
        </span>
    </div>
</div>

<!-- Author details for editing -->
<div id="author-details-outer">
    <div *ngFor="let author of inputValue.authors; let i = index; trackBy: trackByFn"
        style="width: 100%;margin-bottom: .5em;">
        <table width="90%" align="center">
            <tr style="text-align: center;" [style.background-color]="getHeaderBackgroundColor(author)"
                [style.color]="getHeaderForegroundColor(author)">
                <td colspan="2">
                    <!-- Display author's full name in the header bar -->
                    {{author.fn}}

                    <!-- Three control icons at the right side of the header bar (arranged from right to left):
                      - Up/down arrow in circle icon: Show/hide author details;
                      - Trashcan icon: remove this author;
                      - Undo icon: revert the author info to it's original value.
                      -->
                    <i [ngClass]="getTitleClass(author)" (click)="author.isCollapsed = !author.isCollapsed"
                        class="control-icons" data-toggle="tooltip" title="Show/hide author details"></i>
                    <i class="faa faa-trash control-icons" (click)="deleteAuthor(author)" data-toggle="tooltip"
                        title="Remove this author"></i>
                    <i class="faa faa-undo control-icons" (click)="resetAuthor(author, i);" data-toggle="tooltip"
                        title="Discard changes"></i>

                    <!-- Two control icons at the left side of the header bar
                      - Arrow up icon: move the author one position up; 
                        This icon will be invisible if the author is already at the top.
                      - Arrow down icon: move the author one position down; 
                        This icon will be invisible if the author is already at the bottom.
                      -->
                    <img *ngIf="i > 0" src="assets/images/arrow-alt-from-bottom.svg" (click)="moveAuthorUp(author, i)"
                        style="float:left; width:.8em; cursor:pointer; margin: .2em 0em 0em .5em" data-toggle="tooltip"
                        title="Move author up" [ngClass]="getTitleImgClass(author)">
                    <img *ngIf="i < inputValue.authors.length-1" src="assets/images/arrow-alt-from-top.svg"
                        (click)="moveAuthorDown(author, i)"
                        style="float:left; width:.8em; cursor:pointer; margin: .2em 0em 0em .5em" data-toggle="tooltip"
                        title="Move author down" [ngClass]="getTitleImgClass(author)">
                </td>
            </tr>

            <!-- Given name
              - Red * means this is a required field.
            -->
            <tr *ngIf="!author.isCollapsed">
                <td align="right" data-toggle="tooltip" title="Required field" width="20%">
                    <span style="margin-right: .5em;" data-toggle="tooltip" title="This field is required"><span
                            style="color:red;">*</span> Given Name:</span>
                </td>
                <td>
                    <input type="text" [(ngModel)]="author.givenName" style="height:2em;"
                        (input)="onGivenNameChange(author, $event.target.value)" />
                </td>
            </tr>

            <!-- Middle name -->
            <tr *ngIf="!author.isCollapsed">
                <td align="right">
                    <span style="margin-right: .5em;">Middle Name:</span>
                </td>
                <td>
                    <input type="text" [(ngModel)]="author.middleName" style="height:2em;"
                        (input)="onMiddleNameChange(author, $event.target.value)" />
                </td>
            </tr>

            <!-- Family name
              - Red * means this is a required field.
              -->
            <tr *ngIf="!author.isCollapsed" data-toggle="tooltip" title="Required field">
                <td align="right">
                    <span style="margin-right: .5em;" data-toggle="tooltip" title="This field is required"><span
                            style="color:red;">*</span> Family Name:</span>
                </td>
                <td>
                    <input type="text" [(ngModel)]="author.familyName" style="height:2em;"
                        (input)="onFamilyNameChange(author, $event.target.value)" />
                </td>
            </tr>

            <!-- Full name to display in the landing page
              - Red * means this is a required field.
              - By default, full name is Given Name + Middle Name + Family Name. But user can it to whatever they want. Once user changes this field, the lock at the right side will be locked. Click on the lock will toggle the lock. If it's locked, user can change the value. When it's unlocked, the default value will display.
              -->
            <tr *ngIf="!author.isCollapsed">
                <td width="15%" align="right">
                    <span style="margin-right: .5em;" data-toggle="tooltip" title="This field is required"><span
                            style="color:red;">*</span> Name (as displayed)</span>
                </td>
                <td align="left">
                    <input type="text" [(ngModel)]="author.fn"
                        style="width: calc(100% - 2em);height:2em; margin-right: .5em;"
                        (input)="onFullNameChange(author, $event.target.value)" />
                    <i *ngIf="!author.fnLocked" class="faa faa-unlock" (click)="author.fnLocked = !author.fnLocked"
                        style="cursor:pointer;" data-toggle="tooltip"
                        title="Prevent full name from updated automatically"></i>
                    <i *ngIf="author.fnLocked" class="faa faa-lock" (click)="author.fnLocked = !author.fnLocked"
                        style="cursor:pointer;" data-toggle="tooltip"
                        title="Allow full name been updated automatically"></i>
                </td>
            </tr>

            <!-- ORCID 
              - Allows user to enter ORCID
              - The icon to the right will open official ORCID home page 
            -->
            <tr *ngIf="!author.isCollapsed">
                <td align="right">
                    <span style="margin-right: .5em;" data-toggle="tooltip" title="This field is recommended"><span
                            style="color:green;">*</span> ORCID:</span>
                </td>
                <td>
                    <input type="text" [(ngModel)]="author.orcid" id="orcid-input" (blur)="validateOrcid(author)" (keyup.enter)="validateOrcid(author)" placeholder="####-####-####-####"/>
                    <a href="https://orcid.org" target="blank"><img src="assets/images/orcid-logo.png"
                            style="width: 20px;"></a>
                    <div *ngIf="!author.orcidValid" id="orcid-warning">Please enter valid ORCID. Examples: 0000-1832-8812-1125, 0030-0422-1347-101X</div>
                </td>
            </tr>

            <!-- Affiliation management -->
            <tr *ngIf="!author.isCollapsed">
                <td align="right" style="vertical-align: top;">
                    <span style="margin-right: .5em;" data-toggle="tooltip" title="This field is recommended"><span
                            style="color:green;">*</span> Affiliations:</span>
                    <span class="faa-stack" (click)="addAffiliation(i);" data-toggle="tooltip" title="Add affiliation">
                        <i class="faa faa-circle faa-stack-2x" style="color:green;"></i>
                        <i class="faa faa-plus faa-stack-1x faa-inverse"></i>
                    </span>
                </td>
                <td style="border: 1px solid lightgrey;">
                    <div *ngFor="let aff of author.affiliation; let j = index; trackBy: trackByFn"
                        style="width:100%; margin: 0em 0em .5em 0em;">
                        <div style="width: 100%; background-color: rgb(248, 246, 237)">
                            <div style="float: left; width: 95%; margin-left: .5em;">
                                <table>
                                    <tr>
                                        <td width="10%" align="right">Organization Name:</td>
                                        <td>
                                            <combo-box [dataList]="affiliationList" [columnName]="'name'"
                                                [(controlField)]="author.affiliation[j].title"
                                                (controlFieldChange)="affiliationNameChanged($event, i)"></combo-box>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="10%" align="right" valign="center">Department/Division:</td>
                                        <td><input type="text" [(ngModel)]="author.affiliation[j].subunits"
                                                style="width: 100%;height:2em;"
                                                (input)="onDeptChange(author)" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <i class="faa faa-trash" (click)="deleteAffiliation(i, aff)"
                                style="float: right;cursor: pointer;color:grey; margin: 1em .5em;" data-toggle="tooltip"
                                title="Delete affiliation"></i>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>