<div class="ui-grid ui-grid-responsive ui-grid-pad center">
    <div class="card" style="padding: 2.5rem 2.5rem 2.5rem 2.5rem">
      <label class="labelStyle">About Public Data Repository</label>
      <!-- <div id="test">Top</div> -->
      <div class="EmptyBox20"></div>
      <p>
      The NIST Public Data Repository (PDR) is a key component of NIST research data infrastructure supporting public dissemination through open data sharing and access to an evolving collection of NIST public datasets.
      The main goals aim to communicate the results of NIST research to foster reproducibility, interoperability and discovery of scientific information for the community at large.  
      Each PDR record includes descriptive information about a public data resource and corresponds to an entry in the NIST Enterprise Data Inventory,  a fully compliant open data government standard listing.   
      The PDR also fully complies with NIST policy for data publication.   
      </p>
      <div id="test">Top</div>
      <p>
      The PDR is designed as a trusted repository, one which complies with long term data preservation and publication standards.   
      Each record is viewable through a unique web “landing page” which includes user-friendly and readable views of the record description and metadata, high level terms which detail the nature of the  record dataset.   
      Additionally through the PDR landing page interface, users have access to underlying data file distributions, citation information, and a suite of related details including linkage to the machine readable version of the record. 
      The underlying representations of the PDR record metadata are documented and provided in a open standard format.   
      If the user exercises the interface “Search” feature, the PDR will navigate users to the NIST Science Data Portal.   
      </p>
      In summary the NIST Public Data Repository includes these key features:
      <ul>
          <li>Dissemination of NIST public datasets</li>
          <li>Citable web landing pages to Published Datasets (includes assigned Digital Object Identifiers, DOIs)</li>
          <li>Search and Navigation for all public datasets</li>
          <li>Access and Download capabilities for dataset files</li>
          <li>Machine readable formats of datasets</li>
      </ul>  
    </div>
  </div> 
  <button (click)="goToTop()">Test</button>
