<style id="antiClickjack">
  body {
    display: none !important;
  }
</style>
<script type="text/javascript">
  if (self === top) {
    var antiClickjack = document.getElementById("antiClickjack");
    if (antiClickjack !== null && antiClickjack !== undefined)
      antiClickjack.parentNode.removeChild(antiClickjack);

  } else {
    top.location = self.location;
  }
</script>

<div class="login-panel ui-fluid"
  style="margin-top:3em;margin-left:auto;margin-right:auto;width:50%;border-style: solid; border-width: thin; border-color: lightgray">
  <div class="login-panel-content">
    <div class="ui-g">
      <div class="ui-g-12" style="text-align:left;background-color: #1E6BA1;color: white; padding: .5em 1em 0em 1em;">
        <div style="display:inline-block;width: 50%;">
          <h3 style="float:left;" class="welcome-text">Welcome</h3>
        </div>
        <div style="display:inline-block;width: 50%;">
          <span style="float:right; font-size: 12px">Sign in to NIST PDR</span>
        </div>
      </div>
      <div class="ui-g-12" style="text-align:left;padding: 0.5em 1em 0em 1em;">
        <label class="login-label">Username</label>
        <div class="login-input">
          <input type="text" class="ui-inputtext ui-widget ui-state-default ui-corner-all" />
        </div>
      </div>
      <div class="ui-g-12" style="text-align:left;padding: 0.5em 1em 0em 1em;">
        <label class="login-label">Password</label>
        <div class="login-input">
          <input type="password" class="ui-inputtext ui-widget ui-state-default ui-corner-all" />
        </div>
      </div>
      <div style="width:100%;padding: 2em 1em 1em 0em; display: inline-block;">
        <div style="width: 30%; display: inline-block; margin-right: .5em">
          <button pButton (click)="login()" label="Login" style="background-color:#1E6BA1;padding-top: 0px;height: 2.5em;"></button>
        </div>
        <div style="width: 30%; display: inline-block; margin-right: .5em">
          <button pButton type="button" (click)="cancel()" label="Cancel" style="background-color:grey;height: 2.5em;"></button>
        </div>
        <div style="width: 30%;display: inline-block">
          <a href="#" style="font-size:12px;">Forget Password?</a>
        </div>
      </div>
    </div>
  </div>
</div>