<div style="display: table">
        <div class="editable_container">
          <div class="editable_field" *ngIf="!customizationService.checkKeywords(record); else hasKeyword">
            <div class="editable_field" *ngIf="recordEditmode" [ngStyle]="getFieldStyle()">
              Add subject keywords:
            </div>
          </div>
          <ng-template #hasKeyword>
            <div class="editable_field" style="max-width:calc(100% - 4em);" [ngStyle]="getFieldStyle()">
              <strong>Subject Keywords:</strong>
              <span class="font14 keywords" contenteditable="false"
                *ngFor="let keyword of record['keyword']; let i =index">
                {{ keyword }}<span *ngIf="i < record['keyword'].length-1 ">,</span>
              </span>
            </div>
          </ng-template>
          <button class="edit_button" *ngIf="recordEditmode" type="button" (click)="openModal()">
            <i class="faa faa-pencil icon_enabled" data-toggle="tooltip" title="Edit keyword"></i>
          </button>
          <button class="undo_button" *ngIf="recordEditmode" type="button" [disabled]="!fieldObject.keyword.edited"
            (click)="undoEditing('keyword')">
            <i class="faa faa-undo"
              [ngClass]="{'icon_enabled': fieldObject.keyword.edited, 'icon_disabled':!fieldObject.keyword.edited }"
              data-toggle="tooltip" title="Undo keyword"></i>
          </button>
        </div>
      </div>