<div style="display: table">
        <div class="editable_container">
          <div class="editable_field" *ngIf="isEmpty; else hasKeyword">
            <div class="editable_field" *ngIf="editMode" [ngStyle]="getFieldStyle()">
              Add subject keywords:&nbsp;&nbsp;
            </div>
          </div>
          <ng-template #hasKeyword>
            <div class="editable_field" style="max-width:calc(100% - 4em);" [ngStyle]="getFieldStyle()">
              <strong>Subject Keywords:</strong>
              <span class="font14 keywords" contenteditable="false"
                *ngFor="let keyword of record['keyword']; let i =index">
                {{ keyword }}<span *ngIf="i < record['keyword'].length-1 ">,</span>
              </span> &nbsp; &nbsp;
            </div>
          </ng-template>
          <button class="edit_button" *ngIf="mdupdsvc.editMode" type="button" (click)="openModal()">
            <i class="faa faa-pencil icon_enabled" data-toggle="tooltip" title="Edit keyword"></i>
          </button>
          <button class="undo_button" *ngIf="mdupdsvc.editMode" type="button" [disabled]="!updated"
            (click)="undoEditing()">
            <i class="faa faa-undo"
              [ngClass]="{'icon_enabled': updated, 'icon_disabled':!updated }"
              data-toggle="tooltip" title="Undo keyword"></i>
          </button>
          <span *ngIf="mdupdsvc.editMode" style="color: red;margin-left: .5em;">*</span>
        </div>
      </div>