.center {
    display: flex;
    justify-content: center;
}

#cd-ok-button {
    width:200px;
    height:2em;
    vertical-align: middle;
    background-color: green;
    color: white;
}

#cd-cancel-button {
    width:200px;
    height:2em;
    vertical-align: middle;
    background-color: grey;
    color: white;
}