<div class="modal-header dialogHeader center">
    <h4>{{ title }}</h4>
</div>
<div class="modal-body">
    <i *ngIf="showWarningIcon" class="faa faa-warning faa-2x"
        style="color: rgb(252, 122, 0);padding-left: .2em;padding-right: .5em;"></i>
    <span [innerHTML]="message"></span>
</div>
<div class="modal-footer">
    <button type="button" pButton style="width:150px;height:2em;vertical-align: middle;"
        (click)="accept()">{{ btnOkText }}</button>
    <button *ngIf="showCancelButton" type="button" pButton type="submit"
        style="width:400px;height:2em;vertical-align: middle;" (click)="decline()">{{ btnCancelText }}</button>
    <button pButton type="submit" class="btn btn-labeled"
        label="Discard" icon="faa faa-trash faa-1x icon-white" iconPos="left">
    </button>
</div>