.rpdform-mb-3 {
    margin-bottom: 10px;
}

.divider {
    margin-bottom: 24px;
}

.rpdform-relative {
    position: relative;
}

.rpdform-opacity-0 {
    opacity: 0;
}

.rpdform-stroke-current {
    stroke: currentColor;
}

.rpdform-input-checkbox:checked~div span {
    opacity: 1;
}

.rpdform-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
    min-height: 80vh;
}

.rpdform-form-wrapper {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    background: white;
    padding: 40px;
}

.rpdform-form-title {
    margin-bottom: 30px;
}

.rpdform-form-title h2 {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #07074d;
}

.rpdform-form-title h4 {
    margin-top: 16px !important;
    color: #1E6BA1;
}



.rpdform-form-text {
    font-size: 16px;
    line-height: 24px;
    color: #5A5A5A;
    margin-top: 12px;
    margin-bottom: 24px;
}

.rpdform-input-flex {
    display: flex;
    gap: 20px;
    margin-bottom: 16px;
}

.rpdform-input-flex>div {
    width: 50%;
}

.rpdform-form-input {
    text-align: left;
    width: 100%;
    padding: 10px;
    border: 1px solid #dde3ec;
    border-radius: 3px;
    background: #ffffff;
    font-weight: 500;
    font-size: 16px;
    color: #536387;
    outline: none;
    resize: none;
}

#email.rpdform-form-input  {
 margin: 8px 0px;
}

.rpdform-form-input:focus {
    border-color: #1E6BA1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.rpdform-form-label {
    color: #536387;
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-bottom: 10px;
}

.rpdform-checkbox-wrapper {
    margin-top: 16px ;
}

.rpdform-checkbox-label {
    display: flex;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    line-height: 24px;
    color: #536387;
}

.rpdform-checkbox-label a {
    margin-left: 5px;
    color: #1E6BA1;
}

.rpdform-input-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.rpdform-checkbox-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 16px;
    margin-top: 2px;
    border: 0.7px solid #536387;
    border-radius: 3px;
}

.rpdform-btn {
    font-size: 16px;
    padding: 14px 25px;
    border: none;
    font-weight: 500;
    background-color: #1E6BA1;
    color: white;
    cursor: pointer;
    margin-top: 25px;
}

.rpdform-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.disclaimer-text {
    font-style: italic;
    text-align: left;
    width: 100%;
    padding: 10px;
    border-radius: 0px;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-weight: 500;
    font-size: 16px;
    color: #536387;
    outline: none;
    resize: none;
    background-color: #D3D3D3;
    margin-bottom: 24px;
}

.required:after {
    content: " *";
    color: red;
}

svg {
    color: 1E6BA1; 
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: 	#C0C0C0;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: 	#C0C0C0;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: 	#C0C0C0;
  }

.danger {
    background-color:	#DC3545;
}

.success {
    background-color: #22C55E;
}