<ng-template [ngIf]="status == 'pending'">
    <div class="rpdform-main-wrapper">
        <div class="rpdform-form-wrapper">
            <h3 class="mb-4">Pending approval</h3>
    
            <div>You have received a request with the following information:
                <div class="divider"></div>
                <ul>
                    <li>Case Number: <b>{{record?.caseNum}}</b></li>
                    <li>Requester: <b>{{record?.userInfo.fullName}}</b></li>
                    <li>Organization: <b>{{record?.userInfo.organization}}</b></li>
                    <li>Country: <b>{{record?.userInfo.country}}</b></li>
                </ul>
                <div class="divider"></div>
            Please approve or decline this request as soon as possible. Thank you!
            </div>
            <button class="rpdform-btn success" (click)="onApprove()">Approve</button>
            <button class="rpdform-btn ml-4 danger">Decline</button>
        </div>
    </div>
</ng-template>
<ng-template [ngIf]="status == 'approved'">
    <div class="rpdform-main-wrapper">
        <div class="rpdform-form-wrapper">
            <h3 class="mb-4">Request approved </h3>
            <div>This request has been approved already.</div>
        </div>
    </div>
</ng-template>
<ng-template [ngIf]="status == 'declined'">
    <div class="rpdform-main-wrapper">
        <div class="rpdform-form-wrapper">
            <h3 class="mb-4">Request declined </h3>
            <div>This request has been declined.</div>
        </div>
    </div>
</ng-template>