.json-viewer-box {
    border: 1px solid rgba(151, 151, 151, .2);
    margin-bottom: 1em;
}

.more-info {
    font-size: 14px;
}

.json-viewer-header {
    height: 1.8em;
    background-color: rgb(216, 228, 240);
}

.json-level {
    display:inline;
}

.item-list {
    display: inline-block;
    padding-top: 1px;
    margin-left: -30px;
    height: 1.5em;
    width: auto;
}

.item-list li{
    display:inline;
    padding:1px 10px 2px 10px;
    border-radius: 3px;
    margin-right:8px;
    font-weight:400;
    font-size: 14px;
}

.item-list li:hover {
    background-color:#0b67a8;
    color: #fff;
    cursor: pointer;
}

.json-label {
    margin-left: 10px;
    display: inline-block;
    font-weight:600;
    font-size: 14px;
}

.json-export-btn {
    position:relative; 
    float:right;
    height: 1.6em;
    padding:1px 10px 3px 10px;
    border-radius: 3px;
    margin: 3px 8px;
    color: white;
    font-weight:400;
    font-size: 14px;
}

.json-export-btn:hover {
    background-color:#5daae0;
}

// JSON viewer styling
$type-colors: (
  string: #ff0000,
  number: #00443d,
  boolean: #551d4c,
  date: #014966,

  array: rgb(0, 0, 0),
  object: rgb(0, 0, 0),
  function: rgb(0, 0, 0),

  'null': #fff,
  undefined: #fff,
);

@each $type, $color in $type-colors {
  ::ng-deep .segment-type-#{$type} > .segment-main > .segment-value {
    color: $color !important;
  }
}

.highlight {
    background-color: yellow;
    color: black;
}