.metrics-header {
    background-color: #2C8034; 
    color: white; 
    width: 100%; 
    height: 2em; 
    /* margin-top: 1em; */
    border-radius: 4px; 
    font-weight: bold; 
    padding: .2em .7em;
}

.metrics-info {
    padding: 10px;
    background-color: #f8fdf9;
}

ul {
    margin-left: 15px;
    padding: 0;
}
