<div id="description">
    <div [hidden]="metadata">
        <h3  name="desscription"><b>Description</b></h3><br> 
        <div contenteditable="true" id="recordDescription" class="well welldesc">
            <p  *ngFor="let topic of record['description']; let i =index">
                {{ record["description"][i] }}
            </p>
        </div>

        <div *ngIf="checkTopics()">
            <strong contenteditable="{{editContent}}" >Research Topics:</strong>
            <span class="font14"  *ngFor="let topic of record['topic']; let i =index">
                {{ topic.tag }}
                <span *ngIf="i < record['topic'].length-1 ">,</span>
            </span>
        </div>
        <div *ngIf="checkKeywords()">
            <b>Subject Keywords:</b>
            <span class="font14" contenteditable="true"  *ngFor="let keyword of record['keyword']; let i =index">
                {{ keyword }}<span *ngIf="i < record['keyword'].length-1 ">,</span>
            </span> 
        </div>
        <br>
    </div>
</div>
                  
<div id="dataAccess"> 
    <div class="font14" [hidden]="metadata">
        <h3><b>Data Access</b></h3><br> 
        <span style="margin-left:0em" *ngIf="record['accessLevel'] === 'public'">
            <i class="faa faa-globe"></i> These data are public. 
        </span>
        
        <span *ngIf="record['accessLevel'] === 'restricted public'">
            <i class="faa faa-lock"></i> This data has access restrictions. 
        </span>   
        <span *ngIf="record['rights']"> 
        <br> The access rights are {{ record.rights }} <br>
        </span>
        <span  *ngIf="record['landingPage'] && record['landingPage'].indexOf('/od/id') === -1 ">
            For more information, please visit the
            <a target="_blank" href="{{ record['landingPage'] }}">home page</a>.
        </span> 
        <span style="margin-left:0em" *ngIf="isAccessPage">
            <br>Data is available via the following locations: 
            <br>   
            <span style="padding-left:2.00em" *ngFor="let title of accessTitles; let i =index">
                <i class="faa faa-external-link"> <span style="margin-left:0.3em;"> <a href="{{accessUrls[i]}}">{{title}}</a></span>
                </i><br>
            </span>
        </span>
    
        <div *ngIf="files.length  > 0">        
            <br>
            <span><b>Files </b> </span>   
            <!-- <span>
                <a  class="faa faa-file-archive-o" style="color:grey; margin-left:0.5em; " title="Download All Files" ></a>
            </span> -->
            <span (click)="downloadAllConfirm('Download All Files', 'This will download all files. Continue?', 'downloadAllConfirm')">
                <i *ngIf="downloadStatus == null" class="faa faa-download" style="color: #1E6BA1;cursor: pointer;" aria-hidden="true" data-toggle="tooltip" title="All files direct download"></i>
                <i *ngIf="downloadStatus == 'downloaded'" class="faa faa-download" style="color: green;cursor: pointer;" aria-hidden="true" data-toggle="tooltip" title="All files direct download"></i>
            </span>
            <span *ngIf="downloadStatus == 'downloading'" style="display:inline;">    
                    <p-progressSpinner [style]="{width: '12px', height: '12px'}" ></p-progressSpinner>
            </span>

            <p-confirmDialog key='downloadAllConfirm'></p-confirmDialog>
            <span *ngIf="!allSelected">
            <a href="javascript:;" (click)="addAllFilesToCart(files)" class="faa faa-cart-plus " style="margin-left:0.5em; color:#1E6BA1;cursor: pointer;" title="Add All files to datacart" data-toggle="tooltip"></a></span>
            <span *ngIf="allSelected">
                <a href="javascript:;" (click)="removeFilesFromCart(files)" class="faa faa-shopping-cart" style="margin-left:0.5em; color:green;cursor: pointer;" title="Remove All files from datacart" data-toggle="tooltip"></a></span>
            <span class="badge badge-notify" style="margin-left:0.5em;">{{cartLength}}</span>
            <span class="font8" style="margin-left:0.5em; color:gray;">Click on the file/row in the table below to view more details.</span>
            <span class="font10" style="margin-left:0.5em; color:gray; float: right"> Total No. files: {{ totalFiles }} </span> 
            <button type="button" (click)="expandToLevel(files, !isExpanded, null)" style="width:12%; height:2em;font-size: .7em; background-color: #307F38; float: right; margin-top: 2px;margin-left: 5px;text-align: center;line-height: 1em;color:white;border-radius: 4px;" >
                <span *ngIf="!isExpanded">Expand All</span>
                <span *ngIf="isExpanded">Collapse All</span>
            </button>
            <button *ngIf="zipData.length>0" type="button" id="showzip" (click)="showZipFiles = !showZipFiles" style="width:9%; height:2em;font-size: .7em; background-color: #307F38; float: right; padding-top: 0px;margin-top: 2px;margin-left: 5px; text-align: center;line-height: 1em;color:white;border-radius: 4px;" >
                <span *ngIf="showZipFiles">Hide Zip</span>
                <span *ngIf="!showZipFiles">Show Zip</span>
            </button>
            <span *ngIf="displayDownloadFiles && !allProcessed">
                <button type="button" id="canceldownload" (click)="cancelDownloadAll()" style="width:12%; height:2em;font-size: .7em; background-color: #307F38; float: right; margin-top: 2px;margin-left: 5px;text-align: center;line-height: 1em;color:white;border-radius: 4px;" >
                        Cancel Download
                </button>
            </span>


            <div *ngIf="displayDownloadFiles" class="well welldesc" style="height:6.5em; overflow: auto; margin-bottom: 0.5em; background-color: rgb(235, 235, 235);padding: 0.5em;">
                <div *ngFor="let zip of zipData; let i =index" style="width: 100%;">
                    <div class="ui-g" style="padding-left: 2%; width: 100%; display:flex;">
                            <span style="display:inline;">
                                    {{zip.fileName}} 
                            </span>
                            <div style="padding-left: .5em; display:flex;" *ngIf="zip.downloadStatus === 'downloading'">
                                <div style="padding-left: .5em; flex: 0 0 auto;">
                                    <span style="display:inline;">    
                                        <p-progressSpinner [style]="{width: '12px', height: '12px'}" ></p-progressSpinner>
                                    </span>
                                </div>
                                <div style="padding-left: .5em; flex: 0 0 auto;">
                                    <span style="display:inline;font-size: 0.8em">
                                        {{zip.downloadProgress}}%
                                    </span>
                                </div>
                                <div style="padding-left: 2%; padding-top: 8px;width: 200px;flex: 0 0 auto;height: 2em;">
                                        <p-progressBar [value]="zip.downloadProgress" showValue="false"></p-progressBar>
                                </div>
                                <div style="padding-left:5px; flex: 0 0 auto;">
                                        <span (click)="cancelDownloadZip(zip)" style="cursor: pointer;"><i class="faa faa-remove"></i></span>
                                </div>
                            </div>
                            <div style="padding-left: 2%; width: 200px;flex: 0 0 auto;" *ngIf="zip.downloadStatus === 'downloaded'">  
                                    <i class="faa faa-check"></i> Downloaded
                            </div>            
                            <div style="padding-left: 2%; flex: 0 0 auto;" *ngIf="zip.downloadStatus === 'downloadError'">  
                                    <span style="display:inline;font-size: 0.8em; color: red">
                                            {{zip.downloadErrorMessage}}
                                    </span>
                            </div>            
                        </div>
                </div>
            </div>

            <!-- <div class="ui-g" style="padding-left: 2%; width: 100%; display:flex;" *ngIf="files[0].data.downloadStatus != null">
                <span style="display:inline;">
                        {{files[0].data.downloadFileName}} 
                </span>
                <div style="padding-left: 2%; display:flex;" *ngIf="files[0].data.downloadStatus === 'downloading'">
                    <div style="padding-left: 2%; flex: 0 0 auto;">
                        <p-progressSpinner [style]="{width: '12px', height: '12px'}" ></p-progressSpinner>
                        <span style="display:inline;">
                            {{files[0].data.downloadProgress}}%
                        </span>
                    </div>
                    <div style="padding-left: 2%; padding-top: 8px;width: 200px;flex: 0 0 auto;">
                        <p-progressBar [value]="files[0].data.downloadProgress" showValue="false"></p-progressBar>
                    </div>
                    <div style="padding-left:5px; flex: 0 0 auto;">
                            <span (click)="cancelDownloadAll()" style="cursor: pointer;"><i class="faa faa-remove"></i></span>
                    </div>
                </div>
                <div style="padding-left: 2%; width: 200px;flex: 0 0 auto;" *ngIf="files[0].data.downloadStatus === 'downloaded'">  
                        <i class="faa faa-check"></i>
                </div>            
            </div> -->


            <p-treeTable *ngIf="visible" [value]="files" [columns]="cols" selectionMode="single"  [resizableColumns]="true" sortField="name" >
            <!-- <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns"  [style.width]="col.width">
                </colgroup>
            </ng-template> -->
                <ng-template pTemplate="header" let-columns >
                <tr>
                    <th *ngFor="let col of columns" [style.width]="col.width" ttResizableColumn>
                        {{col.header}}
                        <!--<p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>-->
                    </th>
                </tr>
                </ng-template>
                <ng-template  pTemplate="body" let-rowNode let-rowData="rowData"  let-columns="columns">
                    <tr [ttSelectableRow]="rowNode">
                        <td><p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                            <a (click)="openDetails($event,rowData,op3) " style="cursor: pointer;" data-toggle="tooltip" title="Click for more details"> {{rowData.name}} </a>
                            <span *ngIf="showZipFiles">   {{rowData.zipFile}}</span>
                        </td>
                        <!-- <td *ngIf='!rowData.showDescription' ><a (click)='rowData.showDescription=true' style="cursor: pointer;">{{rowData.description == undefined ? '' : rowData.description.length &lt; 40 ? rowData.description : rowData.description.substring(0, 40)+'...'}}</a></td>
                        <td *ngIf='rowData.showDescription'><a (click)='rowData.showDescription=false' style="cursor: pointer;">{{rowData.description}}</a></td> -->
                        <td>{{rowData.mediatype}}</td>
                        <td><span *ngIf="rowData.size">{{formatBytes(rowData.size)}}</span></td>
                        <td>
                            <div style="display: flex">
                                <div >
                                    <span *ngIf = "rowData.downloadStatus == null" (click)="downloadFile(rowData)">
                                        <i class="faa faa-download" style="color: #1E6BA1;cursor: pointer;" aria-hidden="true" data-toggle="tooltip" title="Direct download"></i>
                                    </span>
                                    <span *ngIf = "rowData.downloadStatus === 'downloaded'" (click)="downloadFile(rowData)"><i class="faa faa-download" style="color:green; cursor: pointer;" aria-hidden="true" data-toggle="tooltip" title="Download again"></i></span>
                                    <div *ngIf="rowData.downloadStatus === 'downloading'" style="display:flex;">
                                        <div style="flex: 0 0 auto; width: 40px;padding-top: 3px">
                                            <p-progressBar [value]="rowData.downloadProgress" showValue="true" [style]="{height: '20px'}"></p-progressBar>
                                        </div>
                                        <div style="padding-left:5px; flex: 0 0 auto;">
                                            <span (click)="cancelDownload(rowData)" style="cursor: pointer;"><i class="faa faa-remove"></i></span>
                                        </div>
                                    </div>
                                </div> 
                                <div style="padding-left:10px; flex: 0 0 auto;">
                                    <span *ngIf = "!rowData.isSelected" (click)="addSubFilesToCart(rowData)">
                                            <i class="faa faa-cart-plus" style="color: #1E6BA1;cursor: pointer;" aria-hidden="true" data-toggle="tooltip" title="Add to cart"></i>
                                    </span>
                                    <span *ngIf = "rowData.isSelected" (click)="removeFromNode(rowData)">
                                            <i class="faa faa-cart-plus" style="color: green;cursor: pointer;" aria-hidden="true" data-toggle="tooltip" title="Remove from cart"></i>
                                    </span>
                                    <span *ngIf="rowData.isSelected" style="margin-left: 0.5em;font-size: 0.5em">Added</span>
                                </div>
                            </div>
                        </td>
                    </tr>            
                </ng-template>
            </p-treeTable>
        </div>   
    </div> 
</div>

<div id="reference"> 
    <div [hidden]="metadata">
        <br>
        <div *ngIf="checkReferences()">
            <h3 ><b>References</b></h3>
            <span class="font14"  *ngIf="isDocumentedBy"> 
                This data is discussed in :
                <span  *ngFor="let refs of record['references']">
                    <span  *ngIf="refs['refType'] == 'IsDocumentedBy'">
                        <br>
                        <i class="faa faa-external-link">
                            <a style="margin-left:0.3em;" href={{refs.location}} target="blank">{{ refs.label }}</a>
                        </i>
                    </span>
                </span>
            </span>
            <span class="font14"  *ngIf="isReferencedBy"> 
                This data is referenced in : 
                <span class="reflinks" *ngFor="let refs of record['references']">
                    <span *ngIf="refs['refType'] == 'IsReferencedBy'">
                        <br> 
                        <i class="faa faa-external-link"> </i>
                        <a style="margin-left:0.3em;" href={{refs.location}} target="blank"> {{ refs.location }}</a>
                    </span>
                    
                </span>
            </span>
        </div>
    </div> 
</div>
<p-overlayPanel class="fileDialog" #op3 [dismissable]="true"  [showCloseIcon]="true" [style]="{'width':'400px'}" [appendTo]="'body'">
    <div *ngIf="isNodeSelected" class="filecard">
        <div class="ui-g filesection">
            <div *ngIf="fileNode" class="ui-g-12 ui-md-12 ui-lg-12 ui-sm-10">
                <span class="font8" style="color:grey" >
                    <span *ngIf="fileNode.filetype == 'nrdp:DataFile' ">Selected File</span>
                    <span *ngIf="fileNode.filetype == 'nrdp:ChecksumFile' ">Selected Checksum File</span>
                    <span *ngIf="fileNode.filetype == 'nrdp:Subcollection'">Selected SubCollection </span>
                    <br>
                </span>
                <span class="font14">{{ fileNode ? fileNode.name : '' }}</span>
                <!-- <span *ngIf="fileNode.filetype == 'nrdp:DataFile' " class="font8"> -->
                <span class="font8" style="color:grey" >
                    <br><b>Type:</b>
                    <span style="margin-left:0.5em;" class="textstyle1">{{ fileNode.mediatype ? fileNode.mediatype : 'Not Available'}} </span>
                </span>
                <!-- <span *ngIf="fileNode.filetype == 'nrdp:DataFile' " class="font8" style="margin-left: 2.5rem"> -->
                <span class="font8" style="margin-left: 2.5rem" >
                    Size: 
                    <span *ngIf="fileNode.size" class="textstyle1">{{ formatBytes(fileNode.size) }} </span>
                    <span *ngIf="!fileNode.size" class="textstyle1"><i>Not Available</i></span>
                </span>
                <br><span class="font10"><b>Description:</b> </span>
                <div class="well filedesc" >
                    <span *ngIf="!fileNode.description"><i>No Description Available</i></span>
                    <span *ngIf="fileNode.description">{{ fileNode.description }} </span>
                </div>                                        
            </div>
        </div>
    </div>  
</p-overlayPanel>
