<h3 name="desscription" id="description"><b>Description</b></h3><br>
<div style="display: table; margin-bottom: 1em;">
    <div class="editable_container">
        <div class="editable_field" style="width:100%;"
            *ngIf="!record['description'] || record['description'].length==0; else hasDescription">
            <div class="nist-card" *ngIf="mdupdsvc.editMode" style="width:inherit;"
                [ngStyle]="getFieldStyle()">
                Click edit (pencil) button to add description.
            </div>
        </div>
        <ng-template #hasDescription>
            <div id="recordDescription" class="desc-card editable_field" 
                style="max-width:calc(100% - 4em);" [ngStyle]="getFieldStyle()">
                <div *ngFor="let desc of record['description']; let i =index">
                    {{ record["description"][i] }}
                    <p *ngIf="i<record['description'].length-1"></p>
                </div>
            </div>
        </ng-template>
        <button class="edit_button" *ngIf="mdupdsvc.editMode" type="button" (click)="openModal()">
            <i class="faa faa-pencil icon_enabled" data-toggle="tooltip" title="Edit description"></i>
        </button>
        <button class="undo_button" *ngIf="mdupdsvc.editMode" type="button" [disabled]="!updated"
            (click)="undoEditing()">
            <i class="faa faa-undo"
                [ngClass]="{'icon_enabled': updated, 'icon_disabled': !updated}"
                data-toggle="tooltip" title="Undo description"></i>
        </button>
    </div>
</div>