
<h3 id="description" name="desscription"><b>Description</b></h3><br> 
<div contenteditable="true" id="recordDescription" class="well welldesc">
    <p  *ngFor="let topic of record['description']; let i =index">
        {{ record["description"][i] }}
    </p>
</div>

<div *ngIf="checkTopics()">
    <strong contenteditable="{{editContent}}" >Research Topics:</strong>
    <span class="font14"  *ngFor="let topic of record['topic']; let i =index">
        {{ topic.tag }}
        <span *ngIf="i < record['topic'].length-1 ">,</span>
    </span>
</div>
<div *ngIf="checkKeywords()">
    <b>Subject Keywords:</b>
    <span class="font14" contenteditable="true"  *ngFor="let keyword of record['keyword']; let i =index">
        {{ keyword }}<span *ngIf="i < record['keyword'].length-1 ">,</span>
    </span> 
</div>
<br>
                  
<div class="font14">
    <h3 id="dataAccess"><b>Data Access</b></h3><br> 
    <span style="margin-left:0em" *ngIf="record['accessLevel'] === 'public'">
        <i class="faa faa-globe"></i> These data are public. 
    </span>
      
    <span *ngIf="record['accessLevel'] === 'restricted public'">
        <i class="faa faa-lock"></i>This data has access restrictions. 
    </span>   
    <span *ngIf="record['rights']"> 
       <br> The access rights are {{ record.rights }} <br>
    </span>
    <span  *ngIf="record['landingPage'] && record['landingPage'].indexOf('/od/id') === -1 ">
        For more information visit the
         <a href="record.landingPage">home page</a>.
    </span> 
    <span style="margin-left:0em" *ngIf="isAccessPage">
        <br>Data is available via the following locations: 
        <br>   
        <span style="padding-left:2.00em" *ngFor="let title of accessTitles; let i =index">
            <i class="faa faa-external-link"> <span style="margin-left:0.3em;"> <a href="{{accessUrls[i]}}">{{title}}</a></span>
               </i><br>
        </span>
    </span>
</div> 
<div *ngIf="files.length != 0">        
    <br>
    <span><b>Files</b> </span>   
    
    <span>
            <!-- pTooltip="'Download All Files' coming soon!" tooltipPosition="bottom" tooltipStyleClass="customToolTip" -->
        <a  class="faa faa-file-archive-o" style="color:grey; margin-left:0.5em; " title="Download All Files" ></a>
    </span>
    <!-- <a href="javascript:;" (click)="addFilesToCart()" class="faa faa-cart-plus " style="margin-left:0.5em; color:#1E6BA1;" title="Add All files to datacart" ></a> -->
    <span class="font8" style="margin-left:0.5em; color:gray;">Click on the file/row in the table below to view more details.</span>
    <span class="font10" style="margin-left:0.5em; color:gray; float: right"> Total No. files: {{ filescount }} </span> 
    <p-treeTable [value]="files" [columns]="cols" selectionMode="single"    [resizableColumns]="true" sortField="name" >
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns"  [style.width]="col.width">
        </colgroup>
    </ng-template>
        <ng-template pTemplate="header" let-columns >
          <tr>
            <th *ngFor="let col of columns"  ttResizableColumn>
                {{col.header}} 
                <!--<p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>-->
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData"  let-columns="columns">
            <tr [ttSelectableRow]="rowNode">
                <td><p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    <a (click)="openDetails($event,rowData,op3)"> {{rowData.name}} </a>
                </td>
                <td>{{rowData.mediatype}}</td>
                <td><span *ngIf="rowData.size">{{formatBytes(rowData.size)}}</span></td>
                <td>
                    <span *ngIf=" rowData.downloadUrl ">
                        <a href="{{rowData.downloadUrl}}"><i class="faa faa-download" aria-hidden="true"></i></a>
                        <span [hidden] ="!addFileSpinner" style="float:right;">
                         <p-progressSpinner [style]="{width: '20px', height: '20px', float: 'right'}" ></p-progressSpinner>
                        </span> <!-- <a style="position:relative; margin-left:0.5em;"  class="faa faa-cart-plus " (click)="addtoCart(rowData.name, rowData.size, rowData.mediatype, rowData.downloadUrl)" ></a>                                 -->
                    </span> 
                </td>
            </tr>            
        </ng-template>
    </p-treeTable>
</div>
                         
<br>
<div *ngIf="checkReferences()">
    <h3 id="reference" name="reference"><b>References</b></h3>
    <span class="font14"  *ngIf="isDocumentedBy"> 
        This data is discussed in :
        <span  *ngFor="let refs of record['references']">
            <span  *ngIf="refs['refType'] == 'IsDocumentedBy'">
                <br>
                <i class="faa faa-external-link">
                    <a style="margin-left:0.3em;" href={{refs.location}} target="blank">{{ refs.label }}</a>
                </i>
            </span>
        </span>
    </span>
    <span class="font14"  *ngIf="isReferencedBy"> 
        This data is referenced in : 
        <span class="reflinks" *ngFor="let refs of record['references']">
            <span *ngIf="refs['refType'] == 'IsReferencedBy'">
                <br> 
                <i class="faa faa-external-link"> </i>
                <a style="margin-left:0.3em;" href={{refs.location}} target="blank"> {{ refs.location }}></a>
            </span>
            
        </span>
    </span>
</div>
    <p-overlayPanel #op3 [dismissable]="true"  [showCloseIcon]="true" [style]="{'width':'400px'}" [appendTo]="'body'">
        <div *ngIf="isNodeSelected" class="filecard">
            <div class="ui-g filesection">
                <div class="ui-g-12 ui-md-12 ui-lg-12 ui-sm-10">
                    <span class="font8" style="color:grey" >
                        <span *ngIf="fileNode.filetype == 'nrdp:DataFile' ">Selected File</span>
                        <span *ngIf="fileNode.filetype == 'nrdp:ChecksumFile' ">Selected Checksum File</span>
                        <span *ngIf="fileNode.filetype == 'nrdp:Subcollection'">Selected SubCollection </span>
                        <br>
                    </span>
                    <span class="font14">{{ fileNode ? fileNode.name : '' }}</span>
                    <span *ngIf="fileNode.filetype == 'nrdp:DataFile' " class="font8">
                        <br><b>Type:</b>
                        <span style="margin-left:0.5em;" class="textstyle1">{{ fileNode.mediatype ? fileNode.mediatype : 'Not Available'}} </span>
                    </span>
                    <span *ngIf="fileNode.filetype == 'nrdp:DataFile' " class="font8" style="margin-left: 2.5rem">Size: 
                        <span *ngIf="fileNode.size" class="textstyle1">{{ formatBytes(fileNode.size) }} </span>
                        <span *ngIf="!fileNode.size" class="textstyle1"><i>Not Available</i></span>
                    </span>
                    <br><span class="font10"><b>Description:</b> </span>
                    <div class="well filedesc" >
                        <span *ngIf="!fileNode.description"><i>No Description Available</i></span>
                        <span *ngIf="fileNode.description">{{ fileNode.description }} </span>
                    </div>                                        
                </div>
            </div>
        </div>  
    </p-overlayPanel>
