<div [@changeMode]=currentMode style="background-color: #153971;color: #FFFFFF;height: 3em;">
  <button type="button" (click)="setRecordEditmode(false)" pButton type="submit"
    style="float:right;margin:.5em 1em .5em 0em;width:150px; height:2em; background-color:grey;color:white;padding-right: 1em;"
    [disabled]="!recordEditmode || titleObj.detailEditmode">
    <i class="faa faa-trash faa-1x icon-white" style="color: #fff;padding-left: .5em;padding-right: .5em;"></i>
    Cancel
  </button>
  <button type="button" (click)="saveRecord()" pButton type="submit"
    style="float:right;margin:.5em 1em .5em 0em;width:150px; height:2em; background-color:green;color:white;padding-right: 1em;"
    [disabled]="!recordEditmode || titleObj.detailEditmode">
    <i class="faa faa-save faa-1x icon-white" style="color: #fff;padding-left: .5em;padding-right: .5em;"></i>
    Save
  </button>
  <button type="button" (click)="setRecordEditmode(true)" pButton type="submit"
    style="float:right;margin:.5em 1em .5em 1em;width:150px; height:2em; background-color:green;color:white;padding-right: 1em;"
    [disabled]="recordEditmode">
    <i class="faa faa-pencil faa-1x icon-white" style="color: #fff;padding-left: .5em;padding-right: .5em;"></i>
    Edit
  </button>
</div>
<div class="ui-grid ui-grid-responsive ui-grid-pad center">
  <div class="card landingcard">
    <!-- <div id="overlay" *ngIf="isLocalProcessing"> -->
    <div class="loading" *ngIf="isLocalProcessing"></div>
    <!-- </div> -->
    <div *ngIf="record?.length == 0 || isId === false">
      <div *ngIf="!isLoading" class="ui-g">
        <div class="ui-g-10 ui-md-10 ui-lg-10 ui-sm-12" style="padding-left: 1%">
          <b>No Landing page available</b>
          <p>{{errorMsg}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="record.length !== 0 && isId === true">
      <div class="ui-g">
        <div class="ui-g-10 ui-md-10 ui-lg-10 ui-sm-12">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12 ui-sm-12">
              <span class="recordType" [ngSwitch]="record['@type'][0]">
                <b *ngSwitchCase="'nrd:SRD'">Standard Reference Data</b>
                <b *ngSwitchCase="'nrdp:DataPublication'">Data Publication</b>
                <b *ngSwitchCase="'nrdp:PublicDataResource'">Public Data Resource</b>
                <b *ngSwitchDefault></b>
              </span>
              <div *ngIf="record.length !== 0 && inBrowser" class="ui-sm-1 d-none d-sm-block d-md-none ">
                <button style="float: right" type="button" pButton icon="faa faa-list"
                  class="ui-button ui-button-icon-only" (click)="menu3.toggle($event)"></button>
                <p-menu #menu3 class="rightMenuStylePop" popup="popup" [model]="rightmenu"></p-menu>
              </div>
              <br>
              <div *ngIf="!recordEditmode">
                <span class="title" style="text-align: left; vertical-align: top;">
                  <h2>{{record.title}}</h2>
                </span>
              </div>
              <div *ngIf="recordEditmode">
                <div style="display: table-row;text-align: left; vertical-align: top;border: 1px solid red;">
                  <div class="title" style="display: table-cell;vertical-align: top;max-width:calc(100% - 5.5em);">
                    <h2 [@changeBorderColor]=titleObj.currentState style="padding-right: .5em;">
                      {{record.title}}</h2>
                  </div>
                  <div class="edit_button" *ngIf="!titleObj.detailEditmode" (click)="openTitleModal()">
                    <button *ngIf="!titleObj.detailEditmode" [style.opacity]="titleObj.buttonOpacity" type="button"
                      (click)="openTitleModal()"
                      style="height: 2.1em; border: 0px solid red;background-color: transparent;">
                      <i class="faa faa-pencil"
                        style="cursor: pointer;color:grey; padding-top: 4px; padding-left: 2px; font-size: 1em;"
                        data-toggle="tooltip" title="Edit title"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div *ngIf="!record.authors; else hasAuthors">
                <div [@changeBorderColor]=authorObj.currentState *ngIf="recordEditmode"
                  style="text-align: left; vertical-align: top;display: inline-block;padding-right: .5em;">
                  Authors:
                </div>
                <button [@changeOpacity]=authorObj.currentState *ngIf="recordEditmode && !authorObj.detailEditmode"
                  [style.opacity]="authorObj.buttonOpacity" type="button" (click)="openAuthorModal()"
                  class="edit_button2">
                  <i class="faa faa-pencil" style="cursor: pointer;color:grey; margin-top: 0em;" data-toggle="tooltip"
                    title="Edit contact"></i>
                </button>
              </div>
              <ng-template #hasAuthors>
                <div style="display: inline-block;width:100%;text-align: left; vertical-align: top;">
                  <div [@changeBorderColor]=authorObj.currentState
                    style="display: inline-block; padding-right: .5em; text-align: left; vertical-align: top;max-width:calc(100% - 4em);">
                    <div *ngIf="record.authors">
                      <span *ngFor="let author of record.authors; let i = index">
                        {{ author.fn }}<span *ngIf="i < record.authors.length-1 ">,</span>
                      </span>
                      <i style="cursor: pointer; margin-left: 0.5rem;" class="faa"
                        [ngClass]="{'faa-plus-square-o': !clickAuthors, 'faa-minus-square-o': clickAuthors}"
                        aria-hidden="true"
                        (click)="isCollapsedContent = !isCollapsedContent; clickAuthors = expandClick();"></i>
                    </div>
                    <div [collapse]="!isCollapsedContent" class="card card-block card-header customcard">
                      <div class="" *ngIf="record.authors">
                        <span><b>Authors:</b></span>
                        <div *ngFor="let author of record.authors; let i = index">
                          <div>{{ author.fn}}</div>
                          <div *ngFor="let aff of author.affiliation" style="padding-left: 1em;">
                            <div>{{aff.title}}</div>
                            <div>{{aff.dept}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button [@changeOpacity]=authorObj.currentState *ngIf="recordEditmode && !authorObj.detailEditmode"
                    [style.opacity]="authorObj.buttonOpacity" type="button" (click)="openAuthorModal()"
                    class="edit_button2">
                    <i class="faa faa-pencil" style="cursor: pointer;color:grey; margin-top: 0em;" data-toggle="tooltip"
                      title="Edit contact"></i>
                  </button>
                </div>
              </ng-template>
            </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-8 ui-md-8 ui-lg-8 ui-sm-12 contactPoint">
              <div *ngIf="!record.contactPoint; else hasContacts">
                <div [@changeBorderColor]=contactObj.currentState *ngIf="recordEditmode"
                  style="text-align: left; vertical-align: top;display: inline-block;padding-right: .5em;">
                  Contact:
                </div>
                <button [@changeOpacity]=contactObj.currentState *ngIf="recordEditmode && !contactObj.detailEditmode"
                  [style.opacity]="contactObj.buttonOpacity" type="button" (click)="openContactModal()"
                  class="edit_button2">
                  <i class="faa faa-pencil" style="cursor: pointer;color:grey; margin-top: 0em;" data-toggle="tooltip"
                    title="Edit contact"></i>
                </button>
              </div>
              <ng-template #hasContacts>
                <div style="text-align: left; vertical-align: top;" *ngIf="record.contactPoint">
                  <div [@changeBorderColor]=contactObj.currentState style="display: inline-block; padding-right: .5em">
                    Contact:
                    <strong>
                      <a class="font14" *ngIf="isEmail" href="{{record.contactPoint.hasEmail}}" target="_top">
                        {{record.contactPoint.fn}}</a>
                      <span *ngIf="!isEmail">{{record.contactPoint.fn}}</span>
                    </strong>..
                    <i style="cursor: pointer;" class="faa"
                      [ngClass]="{'faa-plus-square-o': !clickContact, 'faa-minus-square-o': clickContact}"
                      aria-hidden="true" (click)="closeContent = !closeContent; clickContact=expandContact();"></i>
                    <div [collapse]="!closeContent" class="card card-body bg-faded">
                      <span class="" *ngIf="record.contactPoint.fn">
                        <span>{{record.contactPoint.fn}}</span>
                      </span>
                      <span class="font14" *ngIf="isEmail">
                        <br><strong>Email:</strong>
                        <a *ngIf="isEmail" href="{{record.contactPoint.hasEmail}}" target="_top">
                          {{record.contactPoint.hasEmail.split(":")[1]}}</a>
                      </span>
                      <div class="font14" *ngIf="record.contactPoint.address">
                        <span><b>Address:</b></span>
                        <div *ngFor="let address of record.contactPoint.address">
                          {{address}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <button [@changeOpacity]=contactObj.currentState *ngIf="recordEditmode && !contactObj.detailEditmode"
                    [style.opacity]="contactObj.buttonOpacity" type="button" (click)="openContactModal()"
                    class="edit_button2">
                    <i class="faa faa-pencil" style="cursor: pointer;color:grey; margin-top: 0em;" data-toggle="tooltip"
                      title="Edit contact"></i>
                  </button>
                </div>
              </ng-template>
              <!-- <br> -->
              <span *ngIf="isId">Identifier: </span>
              <span *ngIf="isDOI"><i> <a class="font14"
                    href="https://doi.org/{{record.doi.split(':')[1]}}">{{record.doi}}</a></i></span>
              <span *ngIf="!isDOI"><i> <a class="font14"
                    href="{{ cfg.get('landingPageService','/od/id/') }}{{record['@id']}}">{{record["@id"]}}</a></i>
              </span>
              <span *ngIf="checkReferences()"><br>
                <span>Described in article: </span>
                <small *ngFor="let refs of record['references']; let i =index">
                  <span style="padding-left:2.75em" *ngIf="refs.refType == 'IsDocumentedBy'">
                    <br><i class="faa faa-external-link">
                      <a class="font14" href={{refs.location}} target="blank">{{ refs.label }}</a></i>
                    <span *ngIf="i < record.references.length-1 ">,</span>
                  </span>
                </small>
              </span><br>
              <span class="" *ngIf="record.version"> Version: <strong>{{record.version}}</strong></span>
              <span class="" *ngIf="record.versionHistory" style="padding-right: 15pt;">...
                <i style="cursor: pointer;" class="faa" aria-hidden="true"
                  [ngClass]="{'faa-plus-square-o': !clickHistory, 'faa-minus-square-o': clickHistory}"
                  (click)="closeHistory = !closeHistory; clickHistory = expandHistory();"></i>
              </span>
              <span class="" *ngIf="record.issued" style="padding-right: 10pt;"> Released:
                <strong>{{record.issued}}</strong></span>
              <span class="" *ngIf="record.modified" style="padding-right: 10pt;"> Last modified:
                <strong>{{record.modified}}</strong></span>
              <div class="card customcard" [collapse]="!closeHistory">
                <b>Version History:</b>
                <span *ngFor="let release of record.versionHistory">
                  <br> <b [innerHTML]="renderRelVer(release, record.version)"></b> &nbsp;&nbsp;
                  <span *ngIf="release.issued">Released: {{release.issued}}</span>
                  <span *ngIf="release.location || release.refid"> &nbsp;&nbsp;
                    <i [innerHTML]="renderRelId(release, record.version)"></i>
                  </span>
                  <span *ngIf="release.description"> <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i>{{release.description}}</i>
                  </span>
                </span>
              </div>
              <p style="margin-top: 10px;" *ngIf="newer.location">
                <b>There is a more recent release of this resource available: &nbsp;&nbsp;
                  <a href="{{newer.location}}">{{newer.label}}</a></b>
              </p>
            </div>


            <div class="ui-g-4 ui-md-4 ui-lg-4 ui-sm-12">
              <span *ngIf="HomePageLink">
                  <span *ngIf="inBrowser; else visitHomeOnServer">
                    <button pButton class="homePageLink" icon="faa faa-external-link"
                      label="Visit Home Page" style="padding: 0 1em 0 2em;height: 2.5em;" (click)="visitHomePage(record.landingPage)"></button>
                  </span>
                  <ng-template #visitHomeOnServer>Visit Home Page</ng-template>
              </span>
            </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12 ui-sm-12">
              <description-resources [record]="record" [files]="files" [distdownload]="distdownload"
                [isInternal]="isInternal" [filescount]="filescount" [metadata]="metadata" [inBrowser]="inBrowser"
                [recordEditmode]="recordEditmode"></description-resources>
              <metadata-detail [record]="record" [serviceApi]="serviceApi" [inBrowser]="inBrowser"
                [metadata]="metadata"></metadata-detail>

              <!-- <data-cart></data-cart>   -->
            </div>
            <div *ngIf="record.length !== 0 && inBrowser">
              <p-dialog class="citationDialog" [closable]="false" [(visible)]="display" modal="modal" width="550"
                height="330" responsive="true" #citeDialog>
                <p-header> Citation
                  <button style="position:relative; float:right; background-color:#1E6BA1; " type="button" pButton
                    icon="faa faa-close" (click)="closeDialog()"></button>
                </p-header>
                <span><b>Copy the recommended text to cite this resource </b></span> <br><br>
                <p contenteditable="false" style="font-size: 14px;">{{ citeString }}</p>
                <br>
                <a target="citationsRecommendation"
                  href="https://www.nist.gov/director/copyright-fair-use-and-licensing-statements-srd-data-and-software#citations">See
                  also NIST Citation Recommendations</a>
              </p-dialog>
            </div>

            <div class="ui-g">
              <!-- <p-dialog [closable]="false" [style]="{'position':'absolute'}" [(visible)]="displayDatacart" modal="modal" responsive="true" #datacartDialog>
                <p-header> Datacart
                </p-header>
                <data-cart></data-cart>
                <p-footer>
                  <button type="button" pButton (click)="displayDatacart=false" style="background-color:darkgreen;color:white;width:30%;padding-top:.4em;">
                    Exit
                  </button>
                </p-footer>
              </p-dialog> -->

            </div>
          </div>
        </div>

        <div class="ui-g-2 ui-md-2 ui-lg-2 ui-sm-12">
          <div class="ui-g" style="position:sticky; top:0; ">
            <div class="ui-g-12 ui-md-12 ui-lg-12 ui-sm-12">
              <div class="d-none d-md-block d-lg-block d-xl-block ">
                <p-menu class="rightMenuStyle" [model]="rightmenu"></p-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <modal id="Contact-popup-dialog">
  <div class="modal-forground">
    <div class="modal-body">
      <div style="background-color:#153971;height: 4em; color:white;text-align: center;padding-top: .5em">
        <h2 style="color: white;">Contact</h2>
      </div>
      <div style="margin: 1em 2em 2em 2em;">
        <p>
          Contact full name: <input type="text" [(ngModel)]="tempContactPoint.fn" />
        </p>
        <p>
          Email: <input type="text" [(ngModel)]="tempContactPoint.hasEmail" />
        </p>
        Address:
        <div>
          <textarea id="address" style="width: 100%; padding: .5em .5em .5em 1.5em; border: 1px solid lightgrey;"
            (keyup)="autogrow($event)" [(ngModel)]='tempAddress'
            placeholder="Organization&#x0a;Street address&#x0a;city, state zip"></textarea>
        </div>
        <div style="align-items: right; margin-top: 1em;">
          <button pButton class="button"
            style="float:right;margin:0em 1em 2em 1em;width:150px; height:2em; background-color:grey;color:white;padding-right: 1em;"
            (click)="closeModal('Contact-popup-dialog');">
            <i class="faa faa-trash faa-1x icon-white" style="color: #fff;padding-left: .5em;padding-right: .5em;"></i>
            Cancel
          </button>
          <button pButton class="button"
            style="float:right;margin:0em 1em 2em 1em;width:150px; height:2em; background-color:green;color:white;padding-right: 1em;"
            (click)="saveContactInfo();">
            <i class="faa faa-save faa-1x icon-white" style="color: #fff;padding-left: .5em;padding-right: .5em;"></i>
            Save
          </button>
        </div>
        <div style="clear:both"></div>
      </div>
    </div>
  </div>
  <div class="modal-background"></div>
</modal> -->