.landingcard {
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    margin-bottom: 0rem;
    border: 0px;
}

.landingcard-mobile {
    padding: 1rem 1.5rem 2rem 1.5rem;
    margin-bottom: 0rem;
    border: 0px;
}

.landing-body {
    border: 0px;
}

.landing-body h3 {
    font-size: 1.25em;
    font-weight: 400;
}

.landing-body h2 {
    font-size: 1.375em;
    font-weight: 400;
}

.metricspopup {
    top: 100px;
    width: 200px;
}

.rightmenu-button {
    float: right;
    // position: absolute; 
    // top: 1em; 
    // right: 1.5em;
    // overflow: hidden;
    width: 2.3em;
    height: 2.3em;
    z-index: 10;
}

.sticky-button{
    position: fixed;
    top: 1em; 
    right: 1.5em;
    overflow: hidden;
    width: 2.3em;
    height: 2.3em;
    z-index: 10;
}

.p-menu-dynamic {
    position: fixed;
    top: 1em; 
    right: 1.5em;
}