<!-- edit control panel (visible when editing is enabled) -->
<pdr-edit-control *ngIf="editEnabled" [inBrowser]="inBrowser" [(mdrec)]="md" [requestID]="requestId"></pdr-edit-control>

<div *ngIf="theme == scienceTheme">
    <!-- Banner for Science Theme -->
    <div class="science-theme-banner" [ngStyle]="{ 'background-image': 'url(' + imageURL + ')','margin-bottom':'-1em'}">
    </div>
</div>

<!-- landing page panel -->
<div *ngIf="!displaySpecialMessage && _showContent" class="p-grid p-grid-responsive p-grid-pad">
    <!-- <div *ngIf="!displaySpecialMessage"> -->
    <div [ngClass]="mobileMode ? 'landingcard-mobile' : 'landingcard'">
        <!-- <div> -->
        <div *ngIf="md === null && edstatsvc.authorized && !edstatsvc.hasError">
            <div class="col-12 col-md-10 col-lg-10 col-sm-12" style="padding-left: 1%">
                <b>Landing page is loading...</b>
            </div>
        </div>

        <!-- Menu button and the popup menu (mobile mode only) -->
        <div style="width: 100%; height: 0px; margin-top: 1em;" class="sticky-button">
            <!-- div to keep track of the menu button position -->
            <div #stickyButton></div>

            <button #menubtn *ngIf="md !== null && inBrowser && mobileMode"
                [ngClass]="windowScrolled ? 'sticky-button' : 'rightmenu-button'" type="button" pButton
                icon="faa faa-list" class="ui-button ui-button-icon-only"
                (click)="toggleMenu($event)">
            </button>

            <app-menu [record]="md" class="sticky-menu-popup" *ngIf="showStickMenu && mobileMode" [collection]="collection"
                [theme]="theme" [inBrowser]="inBrowser" [metricsData]="metricsData" [showMetrics]="showMetrics" (scroll)="goToSection($event)" (toggle_citation)="toggleCitation('large')">
            </app-menu>
        </div>
        <div #stickyMenu></div>
        <div *ngIf="_showData">
            <div class="sticky-menu">
                <div *ngIf="inBrowser" class="d-none d-md-block d-lg-block d-xl-block ">

                    <app-menu [record]="md" [collection]="collection" [theme]="theme" [inBrowser]="inBrowser" [metricsData]="metricsData" [showMetrics]="showMetrics" (scroll)="goToSection($event)"
                        (toggle_citation)="toggleCitation('large')">
                    </app-menu>

                    <!-- <app-metricsinfo *ngIf="theme != scienceTheme" [inBrowser]="inBrowser" [record]="md"
                        [metricsData]="metricsData" [showMetrics]="showMetrics">
                    </app-metricsinfo> -->

                    <app-downloadstatus [inBrowser]="inBrowser"></app-downloadstatus>
                </div>
            </div>

            <!-- landing page content -->
            <div style="display: inline-block;" [ngStyle]="{'width': mobileMode? '100%': '80%'}">

                <pdr-landing-body [md]="md" [inBrowser]="inBrowser" [editEnabled]="editEnabled"
                    [collection]="collection" [mobileMode]="mobileMode" [metricsData]="metricsData"
                    [showJsonViewer]="showJsonViewer" [theme]="theme" (dlStatus)="onDownloadStatusChanged($event)">
                </pdr-landing-body>

            </div>

            <!-- citation pop-up -->
            <div *ngIf="inBrowser">
                <citation-popup [citetext]="getCitation()" [visible]="citationVisible" [width]="citationDialogWith"
                    (visibleChange)="setCitationVisible($event)">
                </citation-popup>
            </div>


            <!-- </div> -->
        </div>

        <div *ngIf="mobileMode" style="padding: 0 1.0em;">
            <app-downloadstatus [inBrowser]="inBrowser" (downloadedKeys)="onBundleDownloadCompleted($event)">
            </app-downloadstatus>
        </div>
    </div>
</div>

<!-- Show spinner -->
<div *ngIf="!_showContent">
    <pdr-done [message]="loadingMessage"></pdr-done>
</div>

<!-- Display done page -->
<div [ngStyle]="{'display': displaySpecialMessage? 'block' : 'none'}">
    <pdr-done [message]='message'></pdr-done>
</div>