.landingcard {
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    margin-bottom: 0rem;
    border: 0px;
}

.landing-body {
    border: 0px;
}

.landing-body h3 {
    font-size: 1.25em;
    font-weight: 400;
}

.landing-body h2 {
    font-size: 1.375em;
    font-weight: 400;
}

.metricspopup {
    top: 100px;
    width: 200px;
}

::ng-deep .metricspopup {
    font-size: 2rem;
    .modal-dialog { 
        background-color: yellow;
        padding:1rem;
    } 
}