<pdr-edit-control *ngIf="editEnabled && inBrowser" [inBrowser]="inBrowser"
                  [(mdrec)]="record" [requestID]="requestId"></pdr-edit-control>

<div class="ui-grid ui-grid-responsive ui-grid-pad center" style="border: 0px solid white;">
    <div class="card landingcard">
        <div *ngIf="recordLoaded()">
            <div class="ui-g">
                <div class="ui-g-10 ui-md-10 ui-lg-10 ui-sm-12">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-12 ui-lg-12 ui-sm-12">
                            <span class="recordType">
                                <b>{{recordType}}</b>
                            </span>
                            <div *ngIf="record.length !== 0 && inBrowser"
                                class="ui-sm-1 d-none d-block d-sm-block d-md-none ">
                                <button style="float: right" type="button" pButton icon="faa faa-list"
                                    class="ui-button ui-button-icon-only" (click)="menu3.toggle($event)"></button>
                                <p-menu #menu3 class="rightMenuStylePop" popup="popup" [model]="rightmenu"></p-menu>
                            </div>
                            <br>
                            <app-title [record]="record" [inBrowser]="inBrowser"></app-title>
                            <app-author [record]="record" [inBrowser]="inBrowser"></app-author>
                        </div>
                        <div class="ui-g-8 ui-md-8 ui-lg-8 ui-sm-12">
                            <app-contact [record]="record" [inBrowser]="inBrowser"></app-contact>

                            <span>Identifier: </span>
                            <span *ngIf="doiUrl"><i> <a class="font14" href="{{doiUrl}}"
                                        (click)="gaService.gaTrackEvent('outbound', $event, 'Resource title: ' + record.title, 'https://doi.org/'+record.doi.split(':')[1])">{{record.doi}}</a></i></span>
                            <span *ngIf="!doiUrl"><i> <a class="font14"
                                        href="{{ cfg.get('landingPageService','/od/id/') }}{{record['@id']}}"
                                        (click)="gaService.gaTrackEvent('outbound', $event, 'Resource title: ' + record.title, cfg.get('landingPageService','/od/id/')+record['@id'])">{{record["@id"]}}</a></i>
                            </span>
                            <span *ngIf="checkReferences()"><br>
                                <span>Described in article: </span>
                                <small *ngFor="let refs of record['references']; let i =index">
                                    <span style="padding-left:2.75em" *ngIf="refs.refType == 'IsDocumentedBy'">
                                        <br><i class="faa faa-external-link">
                                            <a class="font14" href={{refs.location}} target="blank"
                                                (click)="gaService.gaTrackEvent('outbound', $event, 'Resource title: ' + record.title, refs.location)">{{ refs.label }}</a></i>
                                        <span *ngIf="i < record.references.length-1 ">,</span>
                                    </span>
                                </small>
                            </span><br>
                            <span class="" *ngIf="record.version"> Version: <strong>{{record.version}}</strong></span>
                            <span class="" *ngIf="record.versionHistory" style="padding-right: 15pt;">...
                                <i style="cursor: pointer;" class="faa" aria-hidden="true"
                                    [ngClass]="{'faa-plus-square-o': !clickHistory, 'faa-minus-square-o': clickHistory}"
                                    (click)="closeHistory = !closeHistory; clickHistory = expandHistory();"></i>
                            </span>
                            <span class="" *ngIf="record.issued" style="padding-right: 10pt;"> Released:
                                <strong>{{record.issued}}</strong></span>
                            <span class="" *ngIf="record.modified" style="padding-right: 10pt;"> Last modified:
                                <strong>{{record.modified}}</strong></span>
                            <div class="card customcard" [collapse]="!closeHistory">
                                <b>Version History:</b>
                                <span *ngFor="let release of record.versionHistory">
                                    <br> <b [innerHTML]="renderRelVer(release, record.version)"></b> &nbsp;&nbsp;
                                    <span *ngIf="release.issued">Released: {{release.issued}}</span>
                                    <span *ngIf="release.location || release.refid"> &nbsp;&nbsp;
                                        <i [innerHTML]="renderRelId(release, record.version)"></i>
                                    </span>
                                    <span *ngIf="release.description"> <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <i>{{release.description}}</i>
                                    </span>
                                </span>
                            </div>
                            <p style="margin-top: 10px;" *ngIf="newer.location">
                                <b>There is a more recent release of this resource available: &nbsp;&nbsp;
                                    <a href="{{newer.location}}"
                                        (click)="gaService.gaTrackEvent('outbound', $event, 'Resource title: ' + record.title, newer.label)">{{newer.label}}</a></b>
                            </p>
                        </div>

                        <div class="ui-g-4 ui-md-4 ui-lg-4 ui-sm-12">
                            <span *ngIf="HomePageLink" style="float: right;">
                                <span *ngIf="inBrowser; else visitHomeOnServer">
                                    <button type="button"
                                        (click)="visitHomePage(record.landingPage, $event, 'Resource title: '+record.title)"
                                        pButton type="submit"
                                        style="float:right;margin:.5em 1em .5em 0em;width:200px; height:2em; background-color:#1471AE;color:white;padding-right: 1em;"
                                        [disabled]="mdupdsvc.editMode">
                                        <i class="faa faa-external-link"
                                            style="color: #fff;padding-left: .5em;padding-right: .5em;"></i>
                                        Visit Home Page
                                    </button>
                                </span>
                                <ng-template #visitHomeOnServer>Visit Home Page</ng-template>
                            </span>
                        </div>
                    </div>

                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-12 ui-lg-12 ui-sm-12">
                            <div [hidden]="metadata">
                                <app-description [record]="record" [inBrowser]="inBrowser"></app-description>
                            </div>
                            <app-topic [record]="record" [inBrowser]="inBrowser"></app-topic>
                            <app-keyword [record]="record" [inBrowser]="inBrowser"></app-keyword>
                            <p></p>
                            <description-resources [record]="record" [files]="files"
                                [metadata]="metadata" [inBrowser]="inBrowser" [ediid]="ediid" [editEnabled]="editEnabled"></description-resources>
                            <metadata-detail [record]="record" [serviceApi]="serviceApi" [inBrowser]="inBrowser"
                                [metadata]="metadata">
                            </metadata-detail>
                        </div>
                        <div *ngIf="record.length !== 0 && inBrowser">
                            <p-dialog class="citationDialog" [closable]="false" [(visible)]="display" modal="modal"
                                width="550" height="330" responsive="true" #citeDialog>
                                <p-header> Citation
                                    <button style="position:relative; float:right; background-color:#1E6BA1; "
                                        type="button" pButton icon="faa faa-close" (click)="closeDialog()"></button>
                                </p-header>
                                <span><b>Copy the recommended text to cite this resource </b></span> <br><br>
                                <p contenteditable="false" style="font-size: 14px;">{{ citeString }}</p>
                                <br>
                                <a target="citationsRecommendation"
                                    href="https://www.nist.gov/director/copyright-fair-use-and-licensing-statements-srd-data-and-software#citations"
                                    (click)="gaService.gaTrackEvent('outbound', $event, 'Resource title: ' + record.title)">See
                                    also NIST Citation Recommendations</a>
                            </p-dialog>
                        </div>
                    </div>
                </div>

                <div *ngIf="inBrowser" class="ui-g-2 ui-md-2 ui-lg-2 ui-sm-12">
                    <div class="ui-g" style="position:sticky; top:0; ">
                        <div class="ui-g-12 ui-md-12 ui-lg-12 ui-sm-12">
                            <div class="d-none d-md-block d-lg-block d-xl-block ">
                                <p-menu class="rightMenuStyle" [model]="rightmenu"></p-menu>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>