.style-horizontal {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.background-white
{
  background-color:#ffffff;
}

.white
{
  color:#ffffff;
}

.title
{
  color:#1471AE;
  font-size: 20px;
}

.recordType{
  font-family: Arial, Helvetica, sans-serif; 
  color:#707070; 
  font-size: 14;
}


:host /deep/ .rightMenuStyle > .ui-menu .ui-submenu-header{
  /* background-color: #B8D4E6; */
  /* background-color:rgb(65, 68, 69); */
  background-color:#2C8034;
  padding: 2%;
  padding-left: 5%;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
 
}

:host /deep/ .rightMenuStyle > .ui-menu  .ui-menuitem-link  .ui-state-hover{
  line-height: 1em;
  min-height: 1em;
  background-color: #e7f0f6;
  word-wrap: break-word;
  font-family: 'Sans-Serif';
  font-size: 14px;
}

:host /deep/ .rightMenuStyle > .ui-menu  .ui-menuitem{
  line-height: 1em;
  min-height: 1em;
  /* background-color:  #e7f0f6; */
  background-color: #F0FAF1;
  word-wrap: break-word;
  font-family: sans-serif;
  font-size: 14px;
  padding: 0;
}

:host /deep/ .rightMenuStyle > .ui-menu .ui-menuitem-link{
  padding: 0.5em 0.2em 0.5em 0.5em;
  font-family:  sans-serif;
  font-size: 14px;
}
:host /deep/ .rightMenuStyle > .ui-menu{
  width: 100%;
}

:host /deep/ .rightMenuStyle > .ui-menu  .ui-menuitem-link:hover {
  background-color: #ffffff;
  color: #000000;
}

:host /deep/ .rightMenuStylePop  > .ui-menu {
  position: absolute;
  width: 12em;
  word-wrap: break-word;
  font-family: sans-serif;
  
}
:host /deep/ .rightMenuStylePop > .ui-menu .ui-menuitem-link{
  padding: 0.5em 0.2em 0.5em 0.5em;
  font-size: 14px;
}

:host /deep/ .rightMenuStylePop > .ui-menu  .ui-menuitem{
  line-height: 1em;
  min-height: 1em;
  /* background-color:  #e7f0f6; */
  background-color: #F0FAF1;
  word-wrap: break-word;
  font-family: sans-serif;
  font-size: 14px;
  padding: 0;
}

:host /deep/ .rightMenuStylePop > .ui-menu  .ui-menuitem-link  .ui-state-hover{
  line-height: 1em;
  min-height: 1em;
  background-color: #e7f0f6;
  word-wrap: break-word;
  font-family: 'Sans-Serif';
  font-size: 14px;
}
:host /deep/ .rightMenuStylePop > .ui-menu .ui-submenu-header {
  background-color:#2C8034;
  padding: 2%;
  padding-left: 5%;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
 
}

:host /deep/ .rightMenuStylePop > .ui-menu .ui-submenu-header{
  padding: 0.5em 0.2em 0.5em 0.5em;
  font-size: 14px;
}

/* :host /deep/ .rightMenuStyle > .ui-menu .ui-menu-list li.ui-menuitem{
  background-color:#E7F0F6;
  font-family: 'Sans-Serif';
  word-wrap: break-word;
  font-size: 0.9em;
} */

:host /deep/ .ui-widget-header{
  border: 0px;
  /* background-color:#336B87; */
   /* background-color: #1D72AC; */
   color: black;
   background-color: #f1f1f1;
}

:host /deep/ .ui-widget-content{
  border: 0px;
}
:host /deep/ .ui-menu{
  padding: 0;
  border:0;
}

:host /deep/ .ui-state-active, :host /deep/ .ui-state-highlight{
  background-color: #F3F3F3;
  color: black;
  font-family: sans-serif;
}
/* Description section */
.welldesc{

  background-color: #F3F3F3;
  text-align: left;
  color: black;
  padding: 1;
}
:host /deep/ citationDialog > button.ui-button-icon-only{  
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}


:host /deep/  .ui-dialog .ui-dialog-titlebar{
  background-color: #f1f1f1;
  color: #212121;
  font-family: sans-serif;
  font-size: 16px;
}

:host /deep/ .ui-treetable-resizable .ui-treetable-thead > tr > th{
  background-color: #1E6BA1;
  /* border-color: coral; */
  color: white;
  border: 0;
}

:host /deep/ .ui-treetable-tbody{
  /* background-color: #E4F2FC; */
  font-family: sans-serif;
  font-size: 14px;
}

:host /deep/ .ui-treetable thead tr{
  border-bottom: 0;
}

:host /deep/ .ui-treetable thead tr th .ui-column-resizer{
  color: white;
}

:host /deep/ .ui-treetable .ui-treetable-tbody > tr > td{
  border-bottom: #8c8c8c  1px solid;
  
}
:host /deep/  .ui-treetable thead tr th .ui-sortable-column-icon {
  color: white;
}


/* .ui-treetable .ui-treetable-thead > tr > th, .ui-treetable .ui-treetable-tbody > tr > td, .ui-treetable .ui-treetable-tfoot > tr > td */
.fileinfosection{
  background-color:#F3F3F3; 
  padding: 2.5rem 2.5rem 2.5rem 2.5rem;
}

.fileinfocard{
  padding: 0 2.5rem 2.5rem 2.5rem;
}
.landingcard{
  padding: 2.5rem 2.5rem 2.5rem 2.5rem;
  margin-bottom: 0rem;
}
.citeString{
  font-family:  sans-serif;
  font-style:italic;
  color:#484646; 
  font-size: 12;
}
.copyCite{
  position:relative;
  float:right;
}

.font14 {
  font-family: sans-serif;
  font-size: 14px;
}

.contactPoint{
  font-family: sans-serif;
}
.customcard{
  box-shadow:  0 1px 3px 0 rgba(0, 0, 0, 0), 0 1px 1px 0 rgba(0, 0, 0, 0), 0 2px 1px -1px rgba(0, 0, 0, 0);
  -webkit-box-shadow:0;
  margin-bottom: 0em;
  padding: 1%;

}

/** Metadata and File details related styles **/
.textstyle1
{
  font-family:  sans-serif;
  color: grey;
  font-size: 12;
}

.fDetailsfFont{
  font-family:  sans-serif;
  color: grey;
  font-size: 12px;
}

.font8{
  font-size:8pt;
  word-wrap: break-word;
}
.font10{
  font-size:10pt;
  word-wrap: break-word;
}

.filedesc{
  background-color:#307F38;
  text-align: left;
  color: white;
  word-wrap: break-word;
  font-family: sans-serif;
  font-size: 12px;
  padding: 1rem 1rem 1rem 1rem; 
}

.filesection{
  background-color:#F3F3F3;
  /* padding: 2.5rem 2.5rem 2.5rem 2.5rem; */
  /* padding: 1rem 1rem 1rem 1rem;  */
  text-align: left;
}

.filecard{
  padding: 0.5em;
  text-align: left;
}

:host /deep/ .faa-cart-plus:before {
  /* color: #1E6BA1; */
}
:host /deep/ reflinks > a {
  
  font-family: sans-serif;
}
/* :host /deep/ fileDialog > .ui-overlaypanel .ui-overlaypanel-close {
  background-color: #1E6BA1;
  border-radius: 50%;
  transition: background-color 0.3s;
  right: -8px;
  top: -8px;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  text-align: center;
} */
/* :host /deep/  a > .ui-overlaypanel .ui-overlaypanel-close{
  background-color: #1E6BA1;
} */


.homePageLink{
  background-color:#1371AE;
  font-weight: bold;
   font-size: 10pt
}
:host >>> .ui-overlaypanel .ui-overlaypanel-close{
  background-color: #1E6BA1;
}

.downloadStatusLimit{
  /* height:5em;  */
  height:0em; 
  overflow: auto; 
  margin-bottom: 1em; 
  background-color: rgb(193, 240, 255);
  padding: 0.5em;
}

.downloadStatusExpand{
  margin-bottom: 1em; 
  background-color: rgb(193, 240, 255);
  padding: 0.5em;
}

.badge-notify{
  background-color: green;
  color: white;
  position:relative;
  top: -10px;
  left: 20px;
  font-size: 9px;
  font-weight: bold;
  height:15px;
  width:15px;
  padding:3px 3px 3px 3px ;
  border-radius: 25px;
}

.app-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #ddd;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

::ng-deep p-dialog .ui-dialog {
  overflow: scroll;
  max-height: 100%;
}


/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 100px;
  height: 100px;
  margin-top: -0.5em;

  border: 2px solid rgba(33, 150, 243, 1.0);
  border-radius: 100%;
  border-bottom-color: transparent;
  -webkit-animation: spinner 1s linear 0s infinite;
  animation: spinner 1s linear 0s infinite;


}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.icon-download, .icon-cart{
  position: relative;
  bottom: 7px;
}

.loader_wrapper {
  height: 100vh;
  z-index: 999;
}

.loader_container {
  position: fixed;
  top: 30%;
  left: 45%;
}

.loader_text {
  position: relative;
  text-align: center;
  top: 85px;
}

.loader {
  align-self: center;
  border: 4px solid #f3f3f3;
  /* Light grey */
  border-top: 4px solid #3498db;
  /* Blue */
  border-radius: 100%;
  width: 150px;
  height: 150px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#title {
  font-size: 1.5em;
}

.edit_button {
  width: 2.5em;
  height: 2.5em;
  border-radius: 0 4px 4px 0px;
  background-color: rgb(233, 233, 233);
  vertical-align: top;
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px 1px 1px 0px;
}

.edit_button2 {
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  border-radius: 0 4px 4px 0;
  background-color:rgb(233, 233, 233);
  vertical-align: top;
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px 1px 1px 0px;
}

.two_button_container {
  vertical-align: top;
  border-style: solid;
  border-color: lightgrey;
  border-width: 0px 1px 1px 1px;
  background-color: rgb(233, 233, 233);
}

.two_button_container .two_buttons {
  width:2.3em;
  height:2.3em;
  margin: 0.1em;
}

.filter-black{
  filter: invert(0);
}

.filter-white{
  filter: invert(1);
}