<div *ngIf="editEnabled" style="background-color: #153971;color: #FFFFFF; height: 3em;">
  <button type="button" (click)="cancelRecord()" pButton type="submit"
    style="float:right;margin:.5em 2em .5em 0em;width:150px; height:2em; background-color:grey;color:white;"
    [disabled]="!recordEditmode || fieldObject.title.detailEditmode || !dataChanged">
    <i class="faa faa-trash faa-1x icon-white" style="color: #fff;padding-left: .2em;padding-right: .2em;"></i>
    Discard
  </button>
  <button type="button" (click)="saveRecord()" pButton type="submit"
    style="float:right;margin:.5em 1em .5em 0em;width:150px; height:2em; background-color:green;color:white;padding-right: 1em;"
    [disabled]="!recordEditmode || fieldObject.title.detailEditmode || !dataChanged">
    <i class="faa faa-save faa-1x icon-white" style="color: #fff;padding-left: .2em;padding-right: .2em;"></i>
    Submit
  </button>
  <button *ngIf="!recordEditmode" type="button" (click)="setRecordEditmode(true)" pButton type="submit"
    style="float:right;margin:.5em 1em .5em 1em;width:150px; height:2em; background-color:rgb(221, 172, 9);color:white;padding-right: 1em;">
    <i class="faa faa-pencil faa-1x icon-white" style="color: #fff;padding-left: .5em;padding-right: .5em;"></i>
    Edit
  </button>
  <button *ngIf="recordEditmode" type="button" (click)="setRecordEditmode(false)" pButton type="submit"
    style="float:right;margin:.5em 1em .5em 1em;width:150px; height:2em; background-color:rgb(221, 172, 9);color:white;padding-right: 1em;">
    <i class="faa faa-sign-out faa-1x icon-white" style="color: #fff;padding-left: .2em;padding-right: .2em;"></i>
    Quit Edit
  </button>
</div>
<div *ngIf="editEnabled" class="top_message">
  <span [ngStyle]="{'color': messageColor}">{{message}}</span>
  <div *ngIf="isProcessing" style="width: 2em;height:2em; float: right;">
    <i class="faa faa-spinner faa-spin faa-stack-1x"
      style="color: rgb(22, 20, 59);width:2em;position: inherit;"></i>
  </div>
</div>
<div *ngIf="displayError" style="color: red; padding: 1em;">
  Ooops! {{errorMsg}} If problem persists, please contact us at <a
    href="mailto:datasupport@nist.gov?subject=PDR:Error updating field&body={{errorMsgDetail}}">datasupport@nist.gov</a>
  to report the problem.
</div>
<div class="ui-grid ui-grid-responsive ui-grid-pad center" style="border: 0px solid white;">
  <div class="card landingcard">
    <!-- <div id="overlay" *ngIf="isLocalProcessing"> -->
    <!-- <div class="loading" *ngIf="isLocalProcessing"></div> -->
    <!-- </div> -->
    <div *ngIf="record?.length == 0 || isId === false">
      <div *ngIf="!isLoading" class="ui-g">
        <div class="ui-g-10 ui-md-10 ui-lg-10 ui-sm-12" style="padding-left: 1%">
          <!-- <b>No Landing page available</b>
          <p>{{errorMsgDetail}}</p> -->
        </div>
      </div>
    </div>
    <div *ngIf="record.length !== 0 && isId === true">
      <div class="ui-g">
        <div class="ui-g-10 ui-md-10 ui-lg-10 ui-sm-12">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12 ui-sm-12">
              <span class="recordType" [ngSwitch]="record['@type'][0]">
                <b *ngSwitchCase="'nrd:SRD'">Standard Reference Data</b>
                <b *ngSwitchCase="'nrdp:DataPublication'">Data Publication</b>
                <b *ngSwitchCase="'nrdp:PublicDataResource'">Public Data Resource</b>
                <b *ngSwitchDefault></b>
              </span>
              <div *ngIf="record.length !== 0 && inBrowser" class="ui-sm-1 d-none d-block d-sm-block d-md-none ">
                <button style="float: right" type="button" pButton icon="faa faa-list"
                  class="ui-button ui-button-icon-only" (click)="menu3.toggle($event)"></button>
                <p-menu #menu3 class="rightMenuStylePop" popup="popup" [model]="rightmenu"></p-menu>
              </div>
              <br>
              <div style="display: table;">
                <div class="editable_container">
                  <div class="editable_field" *ngIf="!record.title; else hasTitle">
                    <span class="title">
                      <h2 [ngStyle]="getFieldStyle('title')">{{record.title}}</h2>
                    </span>
                  </div>
                  <ng-template #hasTitle>
                    <div class="title editable_field">
                      <h2 [ngStyle]="getFieldStyle('title')" (click)="openModal('title')">
                        {{record.title}}</h2>
                    </div>
                  </ng-template>
                  <button class="edit_button" *ngIf="recordEditmode" type="button" (click)="openModal('title')">
                    <i class="faa faa-pencil icon_enabled" data-toggle="tooltip" title="Edit title"></i>
                  </button>
                  <button class="undo_button" *ngIf="recordEditmode" type="button"
                    [disabled]="!fieldObject.title.edited" (click)="undoEditing('title')">
                    <i class="faa faa-undo"
                      [ngClass]="{'icon_enabled': fieldObject.title.edited, 'icon_disabled':!fieldObject.title.edited }"
                      data-toggle="tooltip" title="Undo title"></i>
                  </button>
                </div>
              </div>
              <div style="display: table">
                <div class="editable_container">
                  <div class="editable_field" *ngIf="!record.authors; else hasAuthors">
                    <div class="editable_field" *ngIf="recordEditmode" [ngStyle]="getFieldStyle('authors')">
                      Authors:
                    </div>
                  </div>
                  <ng-template #hasAuthors>
                    <div class="editable_field" style="max-width:calc(100% - 4em);"
                      [ngStyle]="getFieldStyle('authors')">
                      <div *ngIf="record.authors">
                        <span *ngFor="let author of record.authors; let i = index">
                          {{ author.fn }}<span *ngIf="i < record.authors.length-1 ">,</span>
                        </span>
                        <i style="cursor: pointer; margin-left: 0.5rem;" class="faa"
                          [ngClass]="{'faa-plus-square-o': !clickAuthors, 'faa-minus-square-o': clickAuthors}"
                          aria-hidden="true"
                          (click)="isCollapsedContent = !isCollapsedContent; clickAuthors = expandClick();"></i>
                      </div>
                      <div [collapse]="!isCollapsedContent" class="card card-block card-header customcard">
                        <div class="" *ngIf="record.authors">
                          <span><b>Authors:</b></span>
                          <div *ngFor="let author of record.authors; let i = index">
                            <div>{{ author.fn}}</div>
                            <div *ngFor="let aff of author.affiliation" style="padding-left: 1em;">
                              <span>{{aff.title}}</span>
                              <span *ngIf="aff.dept">, {{aff.dept}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  <button class="edit_button" *ngIf="recordEditmode" type="button" (click)="openModal('authors')">
                    <i class="faa faa-pencil icon_enabled" data-toggle="tooltip" title="Edit authors"></i>
                  </button>
                  <button class="undo_button" *ngIf="recordEditmode" type="button"
                    [disabled]="!fieldObject.authors.edited" (click)="undoEditing('authors')">
                    <i class="faa faa-undo"
                      [ngClass]="{'icon_enabled': fieldObject.authors.edited, 'icon_disabled':!fieldObject.authors.edited }"
                      data-toggle="tooltip" title="Undo authors"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="ui-g-8 ui-md-8 ui-lg-8 ui-sm-12">
              <div style="display: table;">
                <div class="editable_container">
                  <div class="editable_field" *ngIf="!record.contactPoint; else hasContacts">
                    <div class="editable_field" *ngIf="recordEditmode" [ngStyle]="getFieldStyle('contactPoint')">
                      Contact:
                    </div>
                  </div>
                  <ng-template #hasContacts>
                    <div class="editable_field" style="max-width:calc(100% - 4em);"
                      [ngStyle]="getFieldStyle('contactPoint')">
                      Contact:
                      <strong>
                        <a class="font14" *ngIf="isEmail" href="{{record.contactPoint.hasEmail}}" target="_top"
                          (click)="gaService.gaTrackEvent('Email', $event, 'Resource title: ' + record.title, record.contactPoint.hasEmail)">
                          {{record.contactPoint.fn}}</a>
                        <span *ngIf="!isEmail">{{record.contactPoint.fn}}</span>
                      </strong>..
                      <i style="cursor: pointer;" class="faa"
                        [ngClass]="{'faa-plus-square-o': !clickContact, 'faa-minus-square-o': clickContact}"
                        aria-hidden="true" (click)="closeContent = !closeContent; clickContact=expandContact();"></i>
                      <div [collapse]="!closeContent" class="card card-body bg-faded">
                        <span class="" *ngIf="record.contactPoint.fn">
                          <span>{{record.contactPoint.fn}}</span>
                        </span>
                        <span class="font14" *ngIf="isEmail">
                          <br><strong>Email:</strong>
                          <a *ngIf="isEmail" href="{{record.contactPoint.hasEmail}}" target="_top"
                            (click)="gaService.gaTrackEvent('Email', $event, 'Resource title: ' + record.title, record.contactPoint.hasEmail)">
                            {{record.contactPoint.hasEmail.split(":")[1]}}</a>
                        </span>
                        <div class="font14" *ngIf="record.contactPoint.address">
                          <span><b>Address:</b></span>
                          <div *ngFor="let address of record.contactPoint.address" style="padding-left: 1em;">
                            {{address}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  <button class="edit_button" *ngIf="recordEditmode" type="button" (click)="openModal('contactPoint')">
                    <i class="faa faa-pencil icon_enabled" data-toggle="tooltip" title="Edit contactPoint"></i>
                  </button>
                  <button class="undo_button" *ngIf="recordEditmode" type="button"
                    [disabled]="!fieldObject.contactPoint.edited" (click)="undoEditing('contactPoint')">
                    <i class="faa faa-undo"
                      [ngClass]="{'icon_enabled': fieldObject.contactPoint.edited, 'icon_disabled':!fieldObject.contactPoint.edited }"
                      data-toggle="tooltip" title="Undo contactPoint"></i>
                  </button>
                </div>
              </div>
              <span *ngIf="isId">Identifier: </span>
              <span *ngIf="isDOI"><i> <a class="font14" href="https://doi.org/{{record.doi.split(':')[1]}}"
                    (click)="gaService.gaTrackEvent('outbound', $event, 'Resource title: ' + record.title, 'https://doi.org/'+record.doi.split(':')[1])">{{record.doi}}</a></i></span>
              <span *ngIf="!isDOI"><i> <a class="font14"
                    href="{{ cfg.get('landingPageService','/od/id/') }}{{record['@id']}}"
                    (click)="gaService.gaTrackEvent('outbound', $event, 'Resource title: ' + record.title, cfg.get('landingPageService','/od/id/')+record['@id'])">{{record["@id"]}}</a></i>
              </span>
              <span *ngIf="checkReferences()"><br>
                <span>Described in article: </span>
                <small *ngFor="let refs of record['references']; let i =index">
                  <span style="padding-left:2.75em" *ngIf="refs.refType == 'IsDocumentedBy'">
                    <br><i class="faa faa-external-link">
                      <a class="font14" href={{refs.location}} target="blank"
                        (click)="gaService.gaTrackEvent('outbound', $event, 'Resource title: ' + record.title, refs.location)">{{ refs.label }}</a></i>
                    <span *ngIf="i < record.references.length-1 ">,</span>
                  </span>
                </small>
              </span><br>
              <span class="" *ngIf="record.version"> Version: <strong>{{record.version}}</strong></span>
              <span class="" *ngIf="record.versionHistory" style="padding-right: 15pt;">...
                <i style="cursor: pointer;" class="faa" aria-hidden="true"
                  [ngClass]="{'faa-plus-square-o': !clickHistory, 'faa-minus-square-o': clickHistory}"
                  (click)="closeHistory = !closeHistory; clickHistory = expandHistory();"></i>
              </span>
              <span class="" *ngIf="record.issued" style="padding-right: 10pt;"> Released:
                <strong>{{record.issued}}</strong></span>
              <span class="" *ngIf="record.modified" style="padding-right: 10pt;"> Last modified:
                <strong>{{record.modified}}</strong></span>
              <div class="card customcard" [collapse]="!closeHistory">
                <b>Version History:</b>
                <span *ngFor="let release of record.versionHistory">
                  <br> <b [innerHTML]="renderRelVer(release, record.version)"></b> &nbsp;&nbsp;
                  <span *ngIf="release.issued">Released: {{release.issued}}</span>
                  <span *ngIf="release.location || release.refid"> &nbsp;&nbsp;
                    <i [innerHTML]="renderRelId(release, record.version)"></i>
                  </span>
                  <span *ngIf="release.description"> <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i>{{release.description}}</i>
                  </span>
                </span>
              </div>
              <p style="margin-top: 10px;" *ngIf="newer.location">
                <b>There is a more recent release of this resource available: &nbsp;&nbsp;
                  <a href="{{newer.location}}"
                    (click)="gaService.gaTrackEvent('outbound', $event, 'Resource title: ' + record.title, newer.label)">{{newer.label}}</a></b>
              </p>
            </div>

            <div class="ui-g-4 ui-md-4 ui-lg-4 ui-sm-12">
              <span *ngIf="HomePageLink" style="float: right;">
                <span *ngIf="inBrowser; else visitHomeOnServer">
                  <button type="button"
                    (click)="visitHomePage(record.landingPage, $event, 'Resource title: '+record.title)" pButton
                    type="submit"
                    style="float:right;margin:.5em 1em .5em 0em;width:200px; height:2em; background-color:#1471AE;color:white;padding-right: 1em;"
                    [disabled]="recordEditmode">
                    <i class="faa faa-external-link" style="color: #fff;padding-left: .5em;padding-right: .5em;"></i>
                    Visit Home Page
                  </button>
                </span>
                <ng-template #visitHomeOnServer>Visit Home Page</ng-template>
              </span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12 ui-sm-12">
              <description-resources [record]="record" [originalRecord]="originalRecord" [files]="files"
                [distdownload]="distdownload" [isInternal]="isInternal" [filescount]="filescount" [metadata]="metadata"
                [inBrowser]="inBrowser" [recordEditmode]="recordEditmode" [fieldObject]="fieldObject"
                (errorMsgChanged)="changeErrorMsg($event)" (undo)="undoEditing($event)" (openModal)="openModal($event)">
              </description-resources>
              <metadata-detail [record]="record" [serviceApi]="serviceApi" [inBrowser]="inBrowser"
                [metadata]="metadata">
              </metadata-detail>
            </div>
            <div *ngIf="record.length !== 0 && inBrowser">
              <p-dialog class="citationDialog" [closable]="false" [(visible)]="display" modal="modal" width="550"
                height="330" responsive="true" #citeDialog>
                <p-header> Citation
                  <button style="position:relative; float:right; background-color:#1E6BA1; " type="button" pButton
                    icon="faa faa-close" (click)="closeDialog()"></button>
                </p-header>
                <span><b>Copy the recommended text to cite this resource </b></span> <br><br>
                <p contenteditable="false" style="font-size: 14px;">{{ citeString }}</p>
                <br>
                <a target="citationsRecommendation"
                  href="https://www.nist.gov/director/copyright-fair-use-and-licensing-statements-srd-data-and-software#citations"
                  (click)="gaService.gaTrackEvent('outbound', $event, 'Resource title: ' + record.title)">See
                  also NIST Citation Recommendations</a>
              </p-dialog>
            </div>
          </div>
        </div>

        <div class="ui-g-2 ui-md-2 ui-lg-2 ui-sm-12">
          <div class="ui-g" style="position:sticky; top:0; ">
            <div class="ui-g-12 ui-md-12 ui-lg-12 ui-sm-12">
              <div class="d-none d-md-block d-lg-block d-xl-block ">
                <p-menu class="rightMenuStyle" [model]="rightmenu"></p-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>