<div class="top-banner" [ngStyle]="{ 'background-image': 'url(' + imageURL + ')'}">
    <div class="inner-box">
        <span style="font-size: xx-large;" class="top-banner-text">
            <i class="faa faa-cloud-download faa-lg" style="padding-right: .5em;text-shadow: 1px 1px 2px darkgrey;"></i><label>Download Manager</label>
        </span>

        <!-- Control buttons for large screen -->
        <div class="control-btns" *ngIf="screenWidth > screenSizeBreakPoint" style="float: right;">
            <button (click)="executeCommand('downloadSelected')" pButton type="submit"
                [ngStyle]="{'margin-right':'1em','width':'max-content','height': '2.5em', 'background-color':'#307F38'}"
                [disabled]="selectedFileCount==0">
                <i class="faa faa-download faa-1x icon-white" style="color: #fff;"></i>
                Download Selected
                <span class="w3-circle button-badge"
                    [ngStyle]="{'color':'#307F38'}">&nbsp;{{selectedFileCount}}&nbsp;</span>
            </button>

            <button (click)="executeCommand('removeDownloaded')" pButton type="submit"
                style="margin-right:1em;width:max-content; height: 2.5em; background-color:rgb(82, 82, 82);"
                [disabled]="noFileDownloaded">
                <i class="faa faa-trash faa-1x icon-white" style="color: #fff;"></i>
                Remove downloaded
                <span class="w3-circle button-badge"
                    [ngStyle]="{'color':getDownloadedColor(),'background-color':getDownloadedBkColor()}">&nbsp;{{totalDownloaded}}&nbsp;</span>
            </button>

            <button (click)="executeCommand('removeSelected')" pButton type="submit"
                style="width:max-content; height: 2.5em; background-color:rgb(82, 82, 82);"
                [disabled]="selectedFileCount==0">
                <i class="faa faa-trash faa-1x icon-white" style="color: #fff;"></i>
                Remove selected
                <span class="w3-circle button-badge"
                    [ngStyle]="{'color':'rgb(82, 82, 82)'}">&nbsp;{{selectedFileCount}}&nbsp;</span>
            </button>
        </div>
    </div>
</div>

<div class="full-span" *ngIf="screenWidth <= screenSizeBreakPoint">
    <div class="control-btns">
        <button (click)="executeCommand('downloadSelected')" pButton type="submit"
            [ngStyle]="{'margin-right':'1em','width':'max-content','height':'2.5em','background-color':'#307F38'}"
            [disabled]="selectedFileCount==0">
            <i class="faa faa-download faa-1x icon-white" style="color: #fff;"></i>
            Download Selected
            <span class="w3-circle button-badge"
                [ngStyle]="{'color':'#307F38'}">&nbsp;{{selectedFileCount}}&nbsp;</span>
        </button>

        <button (click)="executeCommand('removeDownloaded')" pButton type="submit"
            style="margin-right:1em;width:max-content; height:2.5em; background-color:rgb(82, 82, 82);"
            [disabled]="noFileDownloaded">
            <i class="faa faa-trash faa-1x icon-white" style="color: #fff;"></i>
            Remove downloaded
            <span class="w3-circle button-badge"
                [ngStyle]="{'color':getDownloadedColor(),'background-color':getDownloadedBkColor()}">&nbsp;{{totalDownloaded}}&nbsp;</span>
        </button>

        <button (click)="executeCommand('removeSelected')" pButton type="submit"
            style="width:max-content; height:2.5em; background-color:rgb(82, 82, 82);"
            [disabled]="selectedFileCount==0">
            <i class="faa faa-trash faa-1x icon-white" style="color: #fff;"></i>
            Remove selected
            <span class="w3-circle button-badge"
                [ngStyle]="{'color':'rgb(82, 82, 82)'}">&nbsp;{{selectedFileCount}&nbsp;</span>
        </button>
    </div>
</div>