<div style="display: table;" *ngIf="record">
    <span class="" *ngIf="record.version"> Version: <strong>{{record.version}}</strong></span>
    <span class="" *ngIf="record.versionHistory" style="padding-right: 15pt;">...
        <i style="cursor: pointer;" class="faa" aria-hidden="true"
            [ngClass]="{'faa-plus-square-o': !clickHistory, 'faa-minus-square-o': clickHistory}"
            (click)="closeHistory = !closeHistory; clickHistory = expandHistory();"></i>
    </span>
    <span class="" *ngIf="record.issued" style="padding-right: 10pt;"> Released:
        <strong>{{record.issued}}</strong></span>
    <span class="" *ngIf="record.modified" style="padding-right: 10pt;"> Last modified:
        <strong>{{record.modified}}</strong></span>
    <div class="card customcard" [collapse]="!closeHistory">
        <b>Version History:</b>
        <span *ngFor="let release of record.versionHistory">
            <br> <b [innerHTML]="renderRelVer(release, record.version)"></b> &nbsp;&nbsp;
            <span *ngIf="release.issued">Released: {{release.issued}}</span>
            <span *ngIf="release.location || release.refid"> &nbsp;&nbsp;
                <i [innerHTML]="renderRelId(release, record.version)"></i>
            </span>
            <span *ngIf="release.description"> <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i>{{release.description}}</i>
            </span>
        </span>
    </div>
    <p style="margin-top: 10px;" *ngIf="newer && newer.location">
        <b>There is a more recent release of this resource available: &nbsp;&nbsp;
            <a href="{{newer.location}}"
                (click)="gaService.gaTrackEvent('outbound', $event, 'Resource title: ' + record.title, newer.label)">{{newer.label}}</a></b>
    </p>
</div>

