<style id="antiClickjack">
  body {
    display: none !important;
  }
</style>
<script type="text/javascript">
  if (self === top) {
    var antiClickjack = document.getElementById("antiClickjack");
    antiClickjack.parentNode.removeChild(antiClickjack);
  } else {
    top.location = self.location;
  }
</script>

<div [ngClass]="{'layout-wrapper':true,'layout-compact':layoutCompact}">
  <div [ngClass]="{'layout-container':false,'menu-layout-static':(layoutMode=='static'||layoutMode=='horizontal'),
              'menu-layout-overlay':(layoutMode=='overlay'),'menu-layout-horizontal':(layoutMode=='horizontal')}">
    <div class="topbar clearfix background-black">
      <div class="header-div">
        <span class="topbar-left" style="background-color: #000000;">
          <a href="/" style="text-decoration: none" title="NIST Public Data Repository" class="header__logo-link"
            rel="home">
            <img class="Fleft top_bar" src="./assets/images/nist_logo_reverse.png" alt="NIST Public Data Repository"
              title="NIST Public Data Repository">
            <span class="Fleft"
              style="line-height: 16.5px;display: table-cell;vertical-align: text-top;color: #FFFFFF;font-size:14px;padding-left: 0.5em">PUBLIC
              <br> DATA REPOSITORY </span>
          </a>
        </span>
        <span class="badge" style="background-color:#f0f0f0; margin-left: 0.5em; color: black">1.1.7</span>
        <span *ngIf="checkinternal()" class="badge" style="background-color:darkcyan;margin-left: 0.5em;">Review
          Version</span>
        <span *ngIf="isLocalTesting" style="color: red">You are running in local test mode</span>
        <div *ngIf="isEditMode" align="right" class="header-links">
          <span style="cursor: default;color:grey;" class="textlinks">About | </span>
          <span style="cursor: default;color:grey;" class="textlinks">Search | </span>
          <span *ngIf="internalBadge && !isAuthenticated" style="cursor: default;color:grey;" class="textlinks">Sign in | </span>
          <span *ngIf="internalBadge && isAuthenticated" style="cursor: default;color:grey;" class="textlinks">Sign out | </span>
          <span style="cursor: default;color:grey;" class="textlinks">Cart </span>
            <i class="faa faa-shopping-cart faa-1x icon-white" style="color: #fff;"></i>
            <span class="w3-badge badge-pill badge-notify">&nbsp;{{cartLength}}&nbsp;</span>
        </div>
        <div *ngIf="!isEditMode" align="right" class="header-links">
            <a [routerLink]="['/pdr/about']" routerLinkActive="active" target="_self"><span
                class="textlinks">About</span></a> |
            <a href="{{ SDPAPI }}" target="_blank"><span class="textlinks">Search</span></a> |
            <span *ngIf="internalBadge && !isAuthenticated"><a role="button" (click)="login()" target="_self"><span
                  style="cursor: pointer;" class="textlinks">Sign in</span></a> | </span>
            <span *ngIf="internalBadge && isAuthenticated && !isEditMode"><a role="button" (click)="logout()"><span
                  style="cursor: pointer;" class="textlinks">Sign out</span></a> | </span>
            <a [routerLink]="['/datacart', 'normal']" routerLinkActive="active" target="_blank"
              (click)="updateCartStatus()"><span class="textlinks">Cart </span>
              <i class="faa faa-shopping-cart faa-1x icon-white" style="color: #fff;"></i>
              <span class="w3-badge badge-pill badge-notify">&nbsp;{{cartLength}}&nbsp;</span></a>
          </div>
      </div>
    </div>
  </div>
</div>