<div class="combo-container" style="display: inline-block; width:100%;">
    <div style="width:100%; height:2em; vertical-align: top;">
        <input  type="text" 
                [(ngModel)]="taxonomy" 
                (ngModelChange)="textChange($event)"
                ngControl="taxonomy" 
                name="taxonomy"
                (keyup)="onKeyDownAction($event)"
                (focus)="onFocusEventAction()"
                (blur)="onBlurEventAction()"
                style="height: 2em; width: 90%; margin: 0"
                />
        <button class="drop-down-button" (click)="toogleDropDown()"><i class="faa faa-angle-down"></i></button>
    </div>
    <div class="data-container" *ngIf="showDropDown">
      <p style="padding-left: .5em;" *ngFor="let data of dummyDataList; let i = index" class="data-list" (click)="updateTextBox(data[columnName])" (mouseover)="counter=i;checkHighlight(i)" [ngClass]="{highlight:checkHighlight(i)}">{{data[columnName]}}</p>
    </div>
  </div>