<!-- This bloack is for the data access session of landing page -->
<!-- <div id="filelisting"> -->
<div id="filelisting" *ngIf="displayMode != 'restrict_preview'" [ngClass]="displayMode == 'restrict' ? 'restrict-public' : ''">
    <div *ngIf="displayMode == 'restrict'">Note:  This dataset is designated as restricted public data; this file list will not be shown in the public version of this page.</div>

        <!-- Display 'Download all' and 'Add all to cart' buttons and other info -->
        <div *ngIf="files.length  > 0">
            <div *ngIf="inBrowser; else filesLoading">
                <div class="flex-container" style="margin-top: 2em;">
                    <!-- 'Download all' and 'Add all to cart' buttons disabled if this is internal landing page -->
                    <div *ngIf="editEnabled; else editDisabled"
                        style="flex: 0 0 120px; text-align: left; padding-bottom: 0em;">
                        <span><b id="filelist-heading">Files </b> </span>
                        <span class="faa-stack fa-lg icon-download grey-color">
                            <i class="faa faa-circle-thin faa-stack-2x" aria-hidden="true"></i>
                            <i class="faa faa-download faa-stack-1x" aria-hidden="true"></i>
                        </span>
                        <span class="faa-stack fa-lg icon-cart addalltocart grey-color" style="margin-right: 1em;">
                            <i class="faa faa-circle-thin faa-stack-2x" aria-hidden="true"></i>
                            <i class="faa faa-cart-plus faa-stack-1x" aria-hidden="true"></i>
                            <span class="w3-badge badge-notify grey-background-color" style="margin-right:0.5em;">{{cartLength}}</span>
                        </span>
                    </div>
                    <ng-template #editDisabled>
                        <div style="flex: 0 0 120px; text-align: left; padding-bottom: 0em;">
                            <span><b id="filelist-heading">Files </b> </span>
                            <a class="faa-stack fa-lg icon-download" *ngIf="!editEnabled"
                                (click)="downloadAllFiles()"
                                data-toggle="tooltip" title="Download all files"
                                [ngStyle]="{'color':getDownloadAllBtnColor(),'cursor':'pointer'}">
                                <i class="faa faa-circle-thin faa-stack-2x" aria-hidden="true"></i>
                                <!-- <i class="faa faa-download faa-stack-1x" aria-hidden="true"></i> -->
                                <i *ngIf="!isAddingToDownloadAllCart; else show_spinner1" 
                                    class="faa faa-download faa-stack-1x" aria-hidden="true"></i>
                                <ng-template #show_spinner1><i class="faa faa-spinner faa-spin faa-stack-1x"
                                        style="color:#1E6BA1" aria-hidden="true"></i></ng-template>
                            </a>
                            <a id="routeToDatacart" target="_blank" [routerLink]="['/datacart', 'popup']"
                                style="display:none"></a>
                            <span *ngIf="!editEnabled" class="faa-stack fa-lg icon-cart"
                                (click)="toggleAllFilesInGlobalCart(files)"
                                [ngStyle]="{'color':getAddAllToDataCartBtnColor(), 'cursor': 'pointer',
                                'margin-right': '1em'}"
                                data-toggle="tooltip" [title]="getCartProcessTooltip()">
                                <i class="faa faa-circle-thin faa-stack-2x" aria-hidden="true"></i>
                                <i *ngIf="!isTogglingAllInGlobalCart; else show_spinner" 
                                    class="faa faa-cart-plus faa-stack-1x" aria-hidden="true"></i>
                                <ng-template #show_spinner><i class="faa faa-spinner faa-spin faa-stack-1x"
                                        style="color:#1E6BA1" aria-hidden="true"></i></ng-template>
                                <span class="w3-badge badge-notify" style="margin-right:0em;">{{cartLength}}</span>
                            </span>
                        </div>
                    </ng-template>
                    <div style="flex-grow: 8; text-align: left; padding-top: 0.5em;">
                        <span class="grey-color">Click on the file/row in the table below to view more
                            details.</span>
                    </div>
                    <div class="grey-color" style="flex-grow: 2; text-align: right;padding-top: 0.5em;">
                        Total No. files: {{ fileCount }}
                    </div>
                </div>

                <!-- Display tree table -->
                <p-treeTable class="data-table" *ngIf="visible" [value]="files" [columns]="cols" selectionMode="single"
                    [resizableColumns]="true" dataKey="key" sortField="name" styleClass="p-treetable-sm">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [style.width]="col.width" [style.font-size]="fontSize"
                                ttResizableColumn>
                                <span *ngIf="col.header == 'Name'">
                                    <span (click)="expandToLevel(files, !isExpanded, null)"
                                        style="padding-right:0.5em;">
                                        <i *ngIf="!isExpanded" class="faa faa-arrow-circle-down faa-1x icon-white"
                                            style="cursor: pointer;color: rgb(255, 255, 255);" data-toggle="tooltip"
                                            title="Expand All"></i>
                                        <i *ngIf="isExpanded" class="faa faa-arrow-circle-up faa-1x icon-white"
                                            style="cursor: pointer;color: rgb(255, 255, 255);" data-toggle="tooltip"
                                            title="Collapse All"></i>
                                    </span>
                                </span>
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                        <tr [ttSelectableRow]="rowNode" [ngStyle]="rowStyle(rowData)" style="color: black;">
                            <td [ngStyle]="titleStyle(rowData)" (click)="openDetails(rowData)">
                                <p-treeTableToggler [rowNode]="rowNode" data-toggle="tooltip" title="Expand/Collapse">
                                </p-treeTableToggler>
                                <span data-toggle="tooltip" title="Click for more details">
                                    <b>{{rowData.name}}</b> </span>
                                <span style="margin-left: .5em;" *ngIf="isLeaf(rowData)">
                                    <i [ngClass]='fileDetailsDisplayClass(rowData)'></i></span>    
                                <span *ngIf="showZipFilesNames"
                                    style="color:darkgreen; margin-left: 2em;">{{rowData.zipFile || ''}}</span>
                            </td>
                            <td [ngStyle]="typeStyle()">{{rowData.mediaType}}</td>
                            <td [ngStyle]="sizeStyle()"><span *ngIf="rowData.size">{{rowData.size}}</span>
                            </td>
                            <td [ngStyle]="statusStyle()">
                                <div style="display: flex;">
                                    <div *ngIf="rowData.comp.downloadURL;else space_holder">
                                        <a *ngIf="rowData.downloadStatus != 'downloading'"
                                            href='{{rowData.comp.downloadURL}}' target='_blank' download="download"
                                            data-toggle="tooltip" title="Direct download"
                                            (click)="setFileDownloaded(rowData)">
                                            <i class="faa faa-download"
                                                [ngStyle]="{'color':getDownloadBtnColor(rowData)}"
                                                aria-hidden="true"></i>
                                            <span class="sr-only">Hidden text for 508 compliance</span>
                                        </a>
                                        <p-progressSpinner *ngIf="rowData.downloadStatus == 'downloading'"
                                        [style]="{width: '12px', height: '12px', 'margin-right': '.5em'}"></p-progressSpinner>
                                    </div>
                                    <ng-template #space_holder>
                                        <div style="padding-right: 0.4em;">&nbsp;&nbsp;</div>
                                    </ng-template>
                                    <div style="padding-left:10px;" *ngIf="rowData.isInCart;else not_in_cart"
                                        (click)="removeFromGlobalCart(rowData)">
                                        <i class="faa faa-cart-plus" style="color: green;cursor: pointer;"
                                            aria-hidden="true" data-toggle="tooltip" title="Remove from cart"></i>
                                    </div>
                                    <div *ngIf="rowData.isInCart" style="margin-left: 0.5em;font-size: 0.5em">Added
                                    </div>
                                    <ng-template #not_in_cart>
                                        <div style="padding-left:10px;" (click)="addToGlobalCart(rowData)">
                                            <i class="faa faa-cart-plus" style="color: #1E6BA1;cursor: pointer;"
                                                aria-hidden="true" data-toggle="tooltip" title="Add to cart"></i>
                                        </div>
                                    </ng-template>
                                </div>
                            </td>
                        </tr>
                        <!-- File details. Will display/hide when mouse clicks -->
                        <tr [hidden]="!showFileDetails02(rowData)">
                            <td colspan="4" style="padding-left: 20px;background-color: rgb(243, 243, 243);">
                                <div [@detailExpand]="showFileDetails(rowData) ? 'expanded' : 'collapsed'">
                                    <span ><b>Description: </b> </span>
                                    <div style="padding: 0 1em 0 1em; ">
                                        <span *ngIf="!rowData.comp.description"><i>No Description Provided</i></span>
                                        <span *ngIf="rowData.comp.description">{{ rowData.comp.description }} </span>
                                    </div>
                                    <div *ngIf="rowData.comp.format">
                                        <b>Format</b>: {{rowData.comp.format.description}}
                                    </div>
                                    <div *ngIf="rowData.comp.checksum">
                                        <b>{{rowData.comp.checksum.algorithm.tag}}</b>: 
                                        <span [ngClass]="{'highlight': hashCopied}" [@enterAnimation]>
                                            {{rowData.comp.checksum.hash}}
                                        </span>
                                        <span style="cursor: pointer; color: #1E6BA1; margin-left: 0.5em;" (click)="copyToClipboard(rowData.comp.checksum.hash)" data-toggle="tooltip" title="Copy to clipboard"><i class="faa faa-clone"></i></span><span [@enterAnimation] *ngIf="hashCopied" class="badge" style="background-color:#f0f0f0; margin-left: 0.5em; color: black;">Hash copied to clipboard</span>
                                    </div>
                                    <div *ngIf="rowData.comp.filepath">
                                        <b>File path</b>: {{rowData.comp.filepath}}
                                    </div>
                                    <span >
                                        <span *ngIf="rowData.filetype == 'nrdp:DataFile' ">Selected File</span>
                                        <span *ngIf="rowData.filetype == 'nrdp:ChecksumFile' ">Selected Checksum File</span>
                                        <span *ngIf="rowData.filetype == 'nrdp:Subcollection'">Selected SubCollection </span>
                                    </span>
                                    <div>
                                        <b>Type:</b>
                                        <span style="margin-left:0.5em;" >{{ rowData.mediaType }} </span>
                                    </div>
                                    <div>
                                        <b>Size</b>: 
                                        <span *ngIf="rowData.size">{{ rowData.size }} </span>
                                        <span *ngIf="!rowData.size"><i>Not Available</i></span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-treeTable>
            </div>
            <ng-template #filesLoading>
                <div>
                    <b>Files </b>
                </div>
                <p>
                    <i>Loading file list...</i>
                </p>
            </ng-template>
        </div>
</div>
