<div style="background-color:#153971;height: 4em; color:white;text-align: center;padding-top: .5em">
  <h2 style="color: white;">{{title.toUpperCase()}}</h2>
</div>
<div style="margin: 1em 2em 2em 2em;">
  <div tabindex="1" contenteditable [ceModel]="inputValue[field]" [ceDefault]="defaultText"
    (ceChange)="inputValue[field]=$event" placeholder="defaultText"
    style="border: 1px solid green !Important;padding: .5em;">
  </div>
  <div *ngIf="message" style="font-size: 12px; margin-top: .5em;">{{message}}</div>
  <div style="align-items: right; margin-top: 1em;">
    <button pButton class="button"
      style="float:right;margin:0em 1em 2em 1em;width:150px; height:2em; background-color:grey;color:white;padding-right: 1em;"
      (click)="cancelChange();">
      <i class="faa faa-trash faa-1x icon-white" style="color: #fff;padding-left: .5em;padding-right: .5em;"></i>
      Cancel
    </button>
    <button pButton class="button"
      style="float:right;margin:0em 1em 2em 1em;width:150px; height:2em; background-color:green;color:white;padding-right: 1em;"
      (click)="saveDescription();">
      <i class="faa faa-save faa-1x icon-white" style="color: #fff;padding-left: .5em;padding-right: .5em;"></i>
      Save
    </button>
  </div>
  <div style="clear:both"></div>
</div>