#btn-save {
    background-color:green;
}

#btn-cancel {
    background-color:rgb(107, 107, 107);
}

#header-bar {
    background-color:black;
    height: 3em; 
    padding: .5em .5em .5em 2em
}

#header {
    color: white; 
    text-align: center;
}

#tool-bar {
    background-color:#153971;
    height: 3em; 
    color:white;
    padding: .5em .5em .5em 2em
}

#message {
    font-size: 12px; 
    margin-top: .5em;
    width: 100%;
}

#content {
    padding: .5em;
}