<div style="display: table">
        <div class="editable_container">
          <div class="editable_field" *ngIf="!checkTopics(); else hasTopic">
            <div *ngIf="recordEditmode" [ngStyle]="getFieldStyle()">
              Add topics:
            </div>
          </div>
          <ng-template #hasTopic>
            <div class="editable_field" style="max-width:calc(100% - 4em);" [ngStyle]="getFieldStyle()">
              <strong>Research Topics:</strong>
              <span class="font14 topics" *ngFor="let topic of record['topic']; let i =index">
                {{ topic.tag }}
                <span *ngIf="i < record['topic'].length-1 ">,</span>
              </span>
            </div>
          </ng-template>
          <button class="edit_button" *ngIf="recordEditmode" type="button" (click)="openModal()">
            <i class="faa faa-pencil icon_enabled" data-toggle="tooltip" title="Edit topic"></i>
          </button>
          <button class="undo_button" *ngIf="recordEditmode" type="button" [disabled]="!fieldObject.topic.edited"
            (click)="undoEditing('topic')">
            <i class="faa faa-undo"
              [ngClass]="{'icon_enabled': fieldObject.topic.edited, 'icon_disabled':!fieldObject.topic.edited }"
              data-toggle="tooltip" title="Undo topic"></i>
          </button>
        </div>
      </div>