<div style="margin-bottom: .5em;">
    <div style="display: inline-block; width: fit-content; max-width: 95%;">
        <span style="display: table;">
            <div class="editable_container">
                <div class="editable_field" *ngIf="isEmpty; else hasTopic">
                    <div *ngIf="mdupdsvc.isEditMode" [ngStyle]="mdupdsvc.getFieldStyle(fieldName)">
                        Add topics: &nbsp;&nbsp;
                    </div>
                </div>
                <ng-template #hasTopic>
                   <div class="editable_field" style="cursor: pointer;width: calc(100%-1em);" [ngStyle]="mdupdsvc.getFieldStyle(fieldName)" (click)="openModal()">
                        <strong>Research Topics: </strong>
                        <span *ngIf="recordType != 'Science Theme'; else scienceTheme" >
                            <span class="topics" *ngFor="let topic of nistTaxonomyTopics; let i =index">
                                <!-- If a comma starts in a new line, UI will display a space in front of
                                the comma.  -->
                                <span *ngIf="i < nistTaxonomyTopics.length-1; else lastone ">
                                    {{ topic }},
                                </span>
                                <ng-template #lastone>
                                    {{ topic }}
                                </ng-template>
                                
                            </span> &nbsp; &nbsp;
                        </span>
                        <ng-template #scienceTheme>
                            <div style="margin-left: 1em;" *ngIf="scienceThemeTopics.length > 0">
                                <span class="topics" *ngFor="let topic of scienceThemeTopics; let i =index">
                                    <i>{{ topic }}</i>
                                    <span *ngIf="i < scienceThemeTopics.length-1 ">,</span>
                                </span> &nbsp; &nbsp;
                            </div>
                            <div style="margin-left: 1em;" *ngIf="nistTaxonomyTopics.length > 0">
                                <span class="topics" *ngFor="let topic of nistTaxonomyTopics; let i =index">
                                    <i>{{ topic }}</i>
                                    <span *ngIf="i < nistTaxonomyTopics.length-1 ">,</span>
                                </span> &nbsp; &nbsp;
                            </div>
                        </ng-template>
                    </div>
                </ng-template>
                <button class="edit_button" *ngIf="mdupdsvc.isEditMode" type="button" (click)="openModal()"
                    aria-label="edit button">
                    <i class="faa faa-pencil icon_enabled" data-toggle="tooltip" title="Edit topic"></i>
                </button>
                <button class="undo_button" *ngIf="mdupdsvc.isEditMode" type="button" [disabled]="!updated"
                    (click)="undoEditing()" aria-label="undo button">
                    <i class="faa faa-undo" [ngClass]="{'icon_enabled': updated, 'icon_disabled':!updated }"
                        data-toggle="tooltip" title="Undo topic"></i>
                </button>
            </div>

            <div *ngFor="let col of collectionOrder; let i =index">
                <div *ngIf="topics[col] && topics[col].length > 0">
                    <strong>{{ allCollections[col].tag }}: </strong>
                    <span class="topics" *ngFor="let topic of topics[col]; let i =index">
                        <i>{{ topic }}</i>
                        <span *ngIf="i < scienceThemeTopics.length-1 ">, </span>
                    </span> &nbsp; &nbsp;
                </div>

            </div>

            <!-- <div *ngIf="scienceThemeTopics.length > 0">
                <strong>{{ allCollections[collection].tag }}: </strong>
                <span class="topics" *ngFor="let topic of scienceThemeTopics; let i =index">
                    <i>{{ topic }}</i>
                    <span *ngIf="i < scienceThemeTopics.length-1 ">, </span>
                </span> &nbsp; &nbsp;
            </div> -->
        </span>
    </div>
    <div *ngIf="mdupdsvc.isEditMode"
        style="color: rgb(173, 0, 0); display: inline-block;width: fit-content; max-width:5%;vertical-align: top;text-align: left; padding-left: .5em;">
        *</div>
</div>