.result-header {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid grey;
    align-items: center;
    margin: -8px 0 2em 0;
}

.title {
    color: #1471AE;
    font-size: 16px !important;
}

.title:hover {
    text-decoration: underline;
}

.visit-home-page {
    font-size: 13px;
    width: 120px;
    background-color: var(--nist-green-default);
    height: 30px !important;
    color: white;
    float: right;
}

.visit-home-page:hover {
    background-color: var(--nist-green-light);
}

.search-button {
    background-color: var(--forensics-background-blue);
}

#dog {
    width: 100px;
    margin: auto;
    clear: both;
    margin-top: 2em;
    fill: var(--forensics-background-blue);
}

.nothing-found-text {
    margin-left: 2em;
    color: var(--forensics-background-blue);
}

#table {
    display:table;
    width: 100%;
    margin-bottom: 1.5em;
}

.tr {
    display: table-row;
    background-color: var(--forensics-background-blue);
    width: 100%;
}

.td {
    display:table-cell;
    color: white;
    text-align: left;
}

SELECT {
    background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance:none !important;
    -webkit-appearance: none !important; 
    appearance: none !important;
    padding-right: 2rem !important;
    background-color: white;
    padding-left: 15px !important;
    margin-bottom: 10px;
    border-radius: 3px;
}

select:required:invalid {
    color: gray;
}
  
option[value=""][disabled] {
    display: none;
}
  
option {
    color: black;
}