<div style="display: table;">
    <div class="editable_container">
        <div class="editable_field" *ngIf="!record['authors'] || record['authors'].length==0; else hasAuthors">
            <div class="editable_field" *ngIf="mdupdsvc.isEditMode" [ngStyle]="mdupdsvc.getFieldStyle(fieldName)">
                Authors:
            </div>
        </div>
        <ng-template #hasAuthors>
            <div class="editable_field" style="max-width:calc(100% - 4em);"
                [ngStyle]="mdupdsvc.getFieldStyle(fieldName)">
                <div class="authorsbrief" *ngIf="record['authors']">
                    <span *ngFor="let author of record.authors; let i = index" (click)="openModal()">
                        <!-- If comma starts in a new line, the UI will display a space before the comma.
                        So we have to do it this way. -->
                        <span *ngIf="i < record.authors.length-1; else lastone">
                            <span *ngIf="author.orcid; else noorcid">
                                {{author.fn}}
                                <a href="https://orcid.org/{{ author.orcid }}" target="blank">
                                   <img src="assets/images/orcid-logo.png" style="width: 20px;">
                                </a>,
                            </span>
                            <ng-template #noorcid>
                                {{author.fn}},
                            </ng-template>
                        </span>
                        <ng-template #lastone>
                            {{author.fn}}
                            <span *ngIf="author.orcid">
                                <a href="https://orcid.org/{{ author.orcid }}" target="blank">
                                   <img src="assets/images/orcid-logo.png" style="width: 20px;">
                                </a>
                              </span> 
                        </ng-template>
                    </span>
                    <i style="margin-left: 0.5rem;" class="faa"
                        [ngClass]="{'faa-caret-right': !clickAuthors, 'faa-caret-down': clickAuthors}"
                        aria-hidden="true"
                        (click)="isCollapsedContent = !isCollapsedContent; clickAuthors = expandClick();"></i>
                </div>
                <div [collapse]="!isCollapsedContent" class="card card-block card-header customcard"
                    style="width: fit-content; padding:.5em;">
                    <div class="authorsdetail" *ngIf="record.authors" (click)="openModal()">
                        <span><b>Authors:</b></span>
                        <div *ngFor="let author of record.authors; let i = index">
                            <div>
                                <span>{{ author.fn}}</span>
                                <span *ngIf="author.orcid">&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="https://orcid.org/{{ author.orcid }}" target="blank">
                                        <img src="assets/images/orcid-logo.png" style="width: 20px;">:
                                        {{ author.orcid }}
                                    </a>
                                </span>
                            </div>
                            <div *ngFor="let aff of author.affiliation" style="padding-left: 1em">
                                <i>
                                    <div>{{aff.title}}</div>
                                    <div *ngIf="aff.subunits">{{getSubunites(aff.subunits)}}</div>
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <button class="edit_button" *ngIf="mdupdsvc.isEditMode" (click)="openModal('authors')" aria-label="edit button">
            <i class="faa faa-pencil icon_enabled" data-toggle="tooltip" title="Edit authors"></i>
        </button>
        <button class="undo_button" *ngIf="mdupdsvc.isEditMode" type="button" [disabled]="!updated"
            (click)="undoEditing()" aria-label="undo button">
            <i class="faa faa-undo" [ngClass]="{'icon_enabled': updated, 'icon_disabled':!updated }"
                data-toggle="tooltip" title="Undo authors"></i>
        </button>
    </div>
</div>