<div id="footer" class="region region-footer ">
  <div class="footer__inner">

    <div class="social-links">
      <div class="item-list">
        <ul>
          <li> <a href="https://twitter.com/nist" target="_blank" class="social-btn social-btn--large extlink ext"
              (click)="gaService.gaTrackEvent('outbound', $event)"><i class="faa faa-twitter"><span
                  class="element-invisible">twitter</span></i><span class="ext"><span class="element-invisible"> (link
                  is external)</span></span></a></li>
          <li class="field-item service-facebook list-horiz">
            <a href="https://www.facebook.com/NIST/" target="_blank" class="social-btn social-btn--large extlink ext"
              (click)="gaService.gaTrackEvent('outbound', $event)">
              <i class="faa faa-facebook">
                <span class="element-invisible">facebook</span></i>
              <span class="ext"><span class="element-invisible"> (link is external)</span>
              </span>
            </a></li>
          <li><a href="https://www.linkedin.com/company/nist" target="_blank"
              class="social-btn social-btn--large extlink ext" (click)="gaService.gaTrackEvent('outbound', $event)">
              <i class="faa faa-linkedin">
                <span class="element-invisible">linkedin</span></i>
              <span class="ext">
                <span class="element-invisible"> (link
                  is external)</span>
              </span>
            </a></li>
          <li><a href="https://www.instagram.com/usnistgov/" target="_blank"
              class="social-btn social-btn--large extlink ext" (click)="gaService.gaTrackEvent('outbound', $event)">
              <i class="faa faa-instagram">
                <span class="element-invisible">Instagram</span></i>
              <span class="ext" aria-label="(link is external)"></span>
            </a></li>
          <li><a href="https://www.youtube.com/nist" target="_blank" class="social-btn social-btn--large extlink ext"
              (click)="gaService.gaTrackEvent('outbound', $event)">
              <i class="faa faa-youtube">
                <span class="element-invisible">youtube</span></i>
              <span class="ext">
                <span class="element-invisible"> (link
                  is external)</span>
              </span>
            </a></li>
          <li><a href="https://www.nist.gov/news-events/nist-rss-feeds" target="_blank"
              class="social-btn social-btn--large extlink" (click)="gaService.gaTrackEvent('outbound', $event)">
              <i class="faa faa-rss">
                <span class="element-invisible">rss</span></i>
            </a></li>
          <li><a href="https://service.govdelivery.com/accounts/USNIST/subscriber/new" target="_blank"
              class="social-btn social-btn--large extlink ext" (click)="gaService.gaTrackEvent('outbound', $event)">
              <i class="faa faa-envelope">
                <span class="element-invisible">govdelivery</span></i>
              <span class="ext">
                <span class="element-invisible">
                  (link is external)</span>
              </span>
            </a></li>
        </ul>
      </div>
    </div>

    <div class="footer__logo">
      <a href="https://nist.gov/" target="_blank" title="National Institute of Standards and Technology"
        class="footer__logo-link" rel="home" (click)="gaService.gaTrackEvent('outbound', $event)">
        <img src="./assets/images/logo_rev.png" alt="National Institute of Standards and Technology"
          title="National Institute of Standards and Technology">
      </a>
    </div>

    <div class="footer__contact">
      <p>
        <strong>HEADQUARTERS</strong><br>
        100 Bureau Drive<br>
        Gaithersburg, MD 20899
      </p>
      <p>
        <a href="https://www.nist.gov/about-nist/contact-us" target="_blank"
          (click)="gaService.gaTrackEvent('outbound', $event)"><u>Contact Us</u></a> |
        <a href="https://www.nist.gov/about-nist/our-organization" target="_blank"
          (click)="gaService.gaTrackEvent('outbound', $event)"><u>Our Other
            Offices</u></a>
      </p>
    </div>

    <div id="block-menu-menu-footer-menu"
      class="block menu--footer-menu first even block--menu block--menu-menu-footer-menu" role="navigation">
      <ul class="menu">
        <li class="menu__item is-leaf first leaf menu-depth-1">
          <a href="https://www.nist.gov/privacy-policy" target="_blank" class="menu__link"
            (click)="gaService.gaTrackEvent('outbound', $event)">Privacy Statement</a></li>
        <li class="menu__item is-leaf leaf menu-depth-1">
          <a href="https://www.nist.gov/privacy-policy#privpolicy" target="_blank" class="menu__link"
            (click)="gaService.gaTrackEvent('outbound', $event)"> Privacy
            Policy</a></li>
        <li class="menu__item is-leaf leaf menu-depth-1">
          <a href="https://www.nist.gov/privacy-policy#secnot" target="_blank" class="menu__link"
            (click)="gaService.gaTrackEvent('outbound', $event)"> Security Notice</a>
        </li>
        <li class="menu__item is-leaf leaf menu-depth-1">
          <a href="https://www.nist.gov/privacy-policy#accesstate" target="_blank" class="menu__link"
            (click)="gaService.gaTrackEvent('outbound', $event)"> Accessibility
            Statement</a></li>
        <li class="menu__item is-leaf leaf menu-depth-1">
          <a href="https://www.nist.gov/privacy" target="_blank" class="menu__link"
            (click)="gaService.gaTrackEvent('outbound', $event)"> NIST Privacy Program</a></li>
        <li class="menu__item is-leaf last leaf menu-depth-1">
          <a href="https://www.nist.gov/no-fear-act-policy" target="_blank" class="menu__link"
            (click)="gaService.gaTrackEvent('outbound', $event)"> No Fear Act Policy</a>
        </li>
      </ul>
    </div>
    <div id="block-menu-menu-footer-menu-2"
      class="block menu--footer-menu odd block--menu block--menu-menu-footer-menu-2" role="navigation">
      <ul class="menu">
        <li class="menu__item is-leaf first leaf menu-depth-1">
          <a href="https://www.nist.gov/disclaimer" target="_blank" class="menu__link"
            (click)="gaService.gaTrackEvent('outbound', $event)"> Disclaimer</a></li>
        <li class="menu__item is-leaf leaf menu-depth-1">
          <a href="https://www.nist.gov/office-director/freedom-information-act" target="_blank" class="menu__link"
            (click)="gaService.gaTrackEvent('outbound', $event)">
            FOIA</a></li>
        <li class="menu__item is-leaf leaf menu-depth-1">
          <a href="https://www.nist.gov/environmental-policy-statement" target="_blank" class="menu__link"
            (click)="gaService.gaTrackEvent('outbound', $event)">
            Environmental Policy Statement</a></li>
        <li class="menu__item is-leaf leaf menu-depth-1">
          <a href="https://www.nist.gov/privacy-policy#cookie" target="_blank" class="menu__link"
            (click)="gaService.gaTrackEvent('outbound', $event)"> Cookie Disclaimer</a>
        </li>
        <li class="menu__item is-leaf leaf menu-depth-1">
          <a href="https://www.nist.gov/summary-report-scientific-integrity" target="_blank" class="menu__link"
            (click)="gaService.gaTrackEvent('outbound', $event)">
            Scientific Integrity Summary</a></li>
        <li class="menu__item is-leaf last leaf menu-depth-1">
          <a href="https://www.nist.gov/nist-information-quality-standards" target="_blank" class="menu__link"
            (click)="gaService.gaTrackEvent('outbound', $event)"> NIST
            Information Quality Standards</a></li>
      </ul>
    </div>

    <div id="block-menu-menu-footer-menu-3"
      class="block menu--footer-menu last even block--menu block--menu-menu-footer-menu-3" role="navigation">
      <ul class="menu">
        <li class="menu__item is-leaf first leaf menu-depth-1">
          <a href="http://business.usa.gov/" class="menu__link extlink" target="_blank"
            (click)="gaService.gaTrackEvent('outbound', $event)">Business USA<span class="ext"><span
                class="element-invisible"> (link is external)</span></span></a></li>
        <li class="menu__item is-leaf leaf menu-depth-1">
          <a href="https://www.healthcare.gov/" class="menu__link extlink" target="_blank"
            (click)="gaService.gaTrackEvent('outbound', $event)"> Healthcare.gov<span class="ext"><span
                class="element-invisible"> (link is external)</span></span></a></li>
        <li class="menu__item is-leaf leaf menu-depth-1">
          <a href="http://www.science.gov/" class="menu__link extlink" target="_blank"
            (click)="gaService.gaTrackEvent('outbound', $event)"> Science.gov<span class="ext"><span
                class="element-invisible"> (link is external)</span></span></a></li>
        <li class="menu__item is-leaf last leaf menu-depth-1">
          <a href="http://www.usa.gov/" class="menu__link extlink" target="_blank"
            (click)="gaService.gaTrackEvent('outbound', $event)"> USA.gov<span class="ext"><span
                class="element-invisible"> (link is external)</span></span></a></li>
      </ul>
    </div>
  </div>
</div>