<div [ngClass]="{ 'layout-wrapper': true, 'layout-compact': layoutCompact }">
  <div [ngClass]="{ 'layout-container': false,
                  'menu-layout-static': (layoutMode=='static' || layoutMode=='horizontal'),
                  'menu-layout-overlay': (layoutMode=='overlay'),
                  'menu-layout-horizontal': (layoutMode=='horizontal') }">
    <div class="topbar clearfix header-background">
      <div class="header-div">
        <span [ngStyle]="{'cursor': getCursor()}" (click)="openRootPage()" title="NIST Public Data Repository"
          class="header__logo-link" rel="home">
          <img class="Fleft top_bar" src="./assets/images/nist_logo_reverse.png" alt="NIST Public Data Repository"
            title="NIST Public Data Repository">
          <span class="Fleft"
            style="font-weight:bold;line-height: 16.5px;display: table-cell;vertical-align: text-top;color: #FFFFFF;font-size:14px;padding-left: 0.5em">PUBLIC
            <br> DATA REPOSITORY </span>
        </span>

        <span *ngIf="appVersion" class="badge" id="appVersion"
          style="background-color:#f0f0f0; margin-left: 0.5em; color: black;">{{appVersion}}</span>
        &nbsp;&nbsp;
        <span *ngIf="status" class="badge" id="appStatus" style="background-color:rgb(0, 114, 114)">{{ status }}</span>
        <div class="header-links" style="float: right; vertical-align: bottom;">
          <a href="/pdr/about" target="_blank"><b>About</b></a> |
          <a href="{{contactLink}}" target="_blank"><b>Help</b></a> |
          <a href="{{searchLink}}" target="_blank"><b>Search</b></a> |
          <!-- Datacart (Download Manager) always disabled if edit is enabled -->
          <a href="{{globalCartUrl}}" target="_blank" [ngStyle]="{'color':getMenuColor('Cart')}"
            [ngClass]="{'disabled':editEnabled,'enabled':!editEnabled}"><b>Cart</b><i
              class="faa faa-shopping-cart faa-1x" [ngStyle]="{'color':getMenuColor('Cart')}"></i><span
              class="w3-badge badge-pill badge-notify">&nbsp;{{cartLength}}&nbsp;</span></a>
          <span *ngIf="editEnabled && editstatsvc.userID">
            | <i class="faa faa-user-circle faa-1x icon-white" style="color: white; cursor: pointer;"
              data-toggle="tooltip" title="{{editstatsvc.userID}}" (click)="showUserId()"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>