

.header__logo-link {
    /* display: block; */
}
.background-black
{
    background-color: #000000;
}
.header-background {
    background-color: #000000;
}
.header-div {
    /*vertical-align: middle;*/
    padding-top: 0.7em;
    /*margin-bottom: 10px;*/
    padding-bottom: 0.6em;
    padding-left: 0.7em;
    color: white;
}

.header-links {
    margin-right: 0px;
    margin-top: 15px;
    color:white;
    padding-right: 2%;
    vertical-align: bottom;
}

.badgesm {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    padding: 3px 7px; 
    vertical-align: 50%;
    height:20px;
    width:20px;
    min-width: 10px;
    z-index: 10;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    background-color: #777;
    border-radius: 10px;
}

a:link, a:hover, a:visited{
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.topbar {
    padding-left: 2em;
}

#appVersion {
    display:inline-block;
    border: 1px solid #f0f0f0; 
    margin-left: 18px; 
    margin-right: 18px; 
    color: #f0f0f0; 
    /* vertical-align: top; */
}

.logo-container {
    display:inline-block;
    width: 110px;  /* Width of the container */
    height: 30px; /* Height of the container */
    overflow: hidden;
    margin-right: 5px;
}

.image-container {
    width: 330px;  /* Width of the container */
    height: 100px; /* Height of the container */
    overflow: hidden;
    position: relative;
    margin-left: -60px;
    margin-top: -2em;
}

.scaled-image {
    width: 100%;
    height: 100%;
    object-fit: cover;    /* Ensures the image scales to cover the container */
    object-position: left center;  /* Ensures the left part of the image is in view */
    transform: scale(.8);  /* Scale the image */
    clip-path: inset(0 10% 0 0);  /* Clips the right half, showing only the left */
    transition: transform 0.3s ease-in-out; /* Smooth transition for scale */
}

.logo-text {
    font-weight: bolder;
    font-size:14px;
    margin-bottom: -4px;
}