<div style="display: table;">
    <div class="editable_container">
        <div class="editable_field" *ngIf="!record['contactPoint']; else hasContacts">
            <div class="editable_field" *ngIf="mdupdsvc.isEditMode && enableEdit" [ngStyle]="getFieldStyle()">
                Contact:
            </div>
        </div>
        <ng-template #hasContacts>
            <div class="editable_field" style="max-width:calc(100% - 4em);"
                [ngStyle]="getFieldStyle()">
                Contact:
                <strong>
                    <a *ngIf="isEmail"
                        href="{{record.contactPoint.hasEmail}}" target="_top">
                        {{record.contactPoint.fn}}</a>
                    <span *ngIf="!isEmail">{{record.contactPoint.fn}}</span>
                </strong>..
                <i style="cursor: pointer; margin-left: 5px;" class="faa"
                    [ngClass]="expandIconClass"
                    aria-hidden="true" data-toggle="tooltip" [title]="expandButtonAlterText" [aria-label]="expandButtonAlterText" (click)="toggleExpand()"></i>
                <div [collapse]="!contactExpanded" class="card card-body bg-faded">
                    <span class="" *ngIf="record.contactPoint.fn">
                        <span>{{record.contactPoint.fn}}</span>
                    </span>
                    <span *ngIf="isEmail">
                        <br><strong>Email:</strong>
                        <a *ngIf="isEmail" href="{{record.contactPoint.hasEmail}}"
                            target="_top">
                            {{email(record.contactPoint.hasEmail)}}
                        </a>
                    </span>
                    <div *ngIf="record.contactPoint.address">
                        <span><b>Address:</b></span>
                        <div *ngFor="let address of record.contactPoint.address"
                            style="padding-left: 1em;">
                            {{address}}
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <button class="edit_button" *ngIf="mdupdsvc.isEditMode && enableEdit" type="button"
            (click)="openModal('contactPoint')">
            <i class="faa faa-pencil icon_enabled" data-toggle="tooltip"
                title="Edit contactPoint"></i>
        </button>
        <button class="undo_button" *ngIf="mdupdsvc.isEditMode && enableEdit" type="button"
            [disabled]="!updated"
            (click)="undoEditing('contactPoint')">
            <i class="faa faa-undo"
                [ngClass]="{'icon_enabled': updated, 'icon_disabled': !updated }"
                data-toggle="tooltip" title="Undo contactPoint"></i>
        </button>
        <span *ngIf="mdupdsvc.isEditMode && enableEdit" style="color: red;margin-left: .5em;">*</span>
    </div>
</div>